[2020-02-14 15:17] aronhelser commented on #540
That PR was largely contributed by someone who is no longer actively working with React. We would gladly accept a patch or PR....!

[2020-02-18 11:57] lazysergey commented on #213
hey, @Rogger794 was this solved?

[2020-02-18 16:40] ashishsurana commented on #476
I would like to contribute to this issue.
I want to build a feature to deal with this kind of problem, recently I encountered the issue where the tooltip (bottom) of the last list should be shown upwards.
so in that case, we can build a feature let's say it "autoAdjust", which can change the place.
@Rogger794 Would love to have your guidance and inputs on this.

[2020-02-18 20:03] Rogger794 commented on #476
@ashishsurana we can work together. :+1:

[2020-02-19 11:57] shehrozsheikh commented on #141
I optimized @huumanoid solution and it worked for it, I added a div wrapper inside my ReactToolTip component and added this `onClick={e => e.stopPropagation()}` on that wrapper.

[2020-02-22 02:26] linonetwo commented on #59
To use with `react-windowed-list`

[code]

[2020-02-24 16:37] maxammann commented on #540
Experiencing the same problem. Downgraded to 3.11.1

[2020-02-26 22:55] rover33 opened #555 "overridePosition right"
There is no option to overridePostion Right. Since you have left in there is it possible to add right?

[2020-03-02 12:43] andyjamesduncan commented on #52
The only thing that worked for me, to change the 'bottom' style arrow color. Maybe also works for 'top', 'right', and 'left', if you change the names to protect the innocent! ;-)

REACT JS

/* data-class and data-type could be different names, but this works logically for me, to give them the same name of 'customTooltip' */

<span
  data-class="customTooltip"
  data-type="customTooltip"
  data-tip

[2020-03-02 13:32] LinAlSara commented on #325
Any updates on this?

[2020-03-02 13:41] GAEREL opened #557 "<UL><LI> not displayed as list"
I try to insert a list into a Tooltip.
[code]

This list si displayed as this : "ABC" instead of <ul><li>A</li><li>B</li><li>C</li></ul>

Any idea ?

[2020-03-03 06:59] pierregee commented on #554
This error is not being thrown when I tried it with ` "react-tooltip": "4.0.3"` with `"next": "9.1.7"`
Although, one problem I'm having is the tooltip being rendered on the server as a div outside (see screenshot) and only works properly once it finishes rendering at the client side. I'm curious if react-tooltip actually supports SSR?
![image](https://user-images.githubusercontent.com/13292662/757

[2020-03-04 04:38] Rogger794 commented on #554
Hi @pierregee, actually it's not supported yet, because of the use of window variable that doesn't exist un server side.

[2020-03-04 07:45] mobilutz opened #558 "NPM version and git tag difference"
I see that on npm, there is a version [v4.1.0](https://www.npmjs.com/package/react-tooltip). But here on GitHub, there is only a tag [v4.0.4](https://github.com/wwayne/react-tooltip/releases/tag/v4.0.4).

As there is no `v4.0.4` on npm, I think that there is a but with the tag/version. Is that right?

Thanks

[2020-03-04 14:16] aronhelser commented on #554
Can we just switch `window` for `global` ? IDK anything about SSR.

On Tue, Mar 3, 2020 at 11:38 PM Rogger794 <notifications@github.com> wrote:

[2020-03-04 15:15] Rogger794 commented on #554
Yeah, I saw before that it could be implemented as a util. I would check it.

[2020-03-04 18:12] shepmaster commented on #558
Additionally, the changelog has not been updated for the last few versions.

[2020-03-04 18:17] mobilutz commented on #558
Wegen there are correct git tags, then I always use the compare view.

But yes, a changelog is always good to have

[2020-03-04 21:16] conradks commented on #468
I'm not sure when it was added, but I used the property arrowColor and set it to transparent. That seemed to do it for me.

[2020-03-11 02:33] superliyy opened #560 "How to add key to it"
How to add key to it？

[2020-03-11 12:01] TotallWAR opened #561 "targetWidth smaller than tipWidth produces invalid position"
When targets DOM element's width is smaller than tip's width - tooltip is placed incorrect. Its position is negative.

`overridePosition` function's parameters `currentEvent` `currentTarget` are equal nodes in this case.

My data-for DOM element is dinamically changed, and when this DOM element changed to smaller size (data-for is changing too) for the same tooltip - position is incorrect.

Rebuil

[2020-03-11 13:24] aronhelser commented on #560
Not sure what you mean? Can you give an example of code you have and how you'd like to change it?

[2020-03-11 13:34] alandrei commented on #540
I think this is an important issue to be fixed. On 4.0.5 this issue is still happening.

[2020-03-11 21:26] brandon-leapyear opened #562 "Generated UUID in 4.0.5 breaks snapshot testing"
This commit https://github.com/wwayne/react-tooltip/commit/78e3c2be784f2b96d8bb888b81785b2b38179dae added `generateUUID`, which generates a random UUID every time a tooltip is rendered, which changes Jest snapshots every time they're run.

That commit was done in https://github.com/wwayne/react-tooltip/pull/559, which says "No changes in workflows or documentation", which, while true, apparently d

[2020-03-12 02:50] Rogger794 commented on #561
Hi @TotallWAR, could you plea put an example or use [codesandbox](https://codesandbox.io/) and share what is happening.

[2020-03-12 03:34] #513 closed

[2020-03-12 03:37] wwayne commented on #513
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-12 03:42] Rogger794 commented on #513
@bryantung could you please check the last version?

[2020-03-12 03:43] Rogger794 commented on #516
Hi @gagandeepgill could you please try the last release?

[2020-03-12 03:44] Rogger794 commented on #547
Hi @dineshit8, could you please try the last release?

[2020-03-12 03:54] #137 closed

[2020-03-12 04:01] Rogger794 commented on #196
Hi guys, could someone tried the last release? I guess this issue is gone.

[2020-03-12 04:06] Rogger794 commented on #219
Could someone verify if this issue still exist please?

[2020-03-12 04:18] Rogger794 commented on #315
Hi @pattiereaves, I think this could be part of external logic of react-tooltip. You could use a ternary operator for showing 2 different tooltips depending on a variable for example.

[2020-03-12 04:18] #315 closed

[2020-03-12 04:20] Rogger794 commented on #434
Could be reopen if it presents again this case

[2020-03-12 04:20] #434 closed

[2020-03-12 15:03] kanke commented on #468
Please do you have a code snippet for this?

[2020-03-12 15:28] conradks commented on #468
`     <ReactTooltip arrowColor="transparent">
        Your tool tip stuff here.
      </ReactTooltip>`

[2020-03-12 15:29] conradks commented on #468
`<ReactTooltip arrowColor="transparent"> Your tool tip stuff here. </ReactTooltip>`

[2020-03-13 09:03] bryantung commented on #513
@Rogger794 yes the latest release fixed it, thanks!

[2020-03-16 05:22] CrOrc commented on #562
It's better to use v4 from npm module uuid to implement generateUUID. Module "uuid" may be mocked in jest for testing. But it's impossible to mock function that is not exported from your module.

[2020-03-16 11:47] bosunolanrewaju commented on #515
This page is not even accessible on IE 11. And I still get a wrong positioning on IE 11

[2020-03-18 11:50] StanBorovko opened #565 "Don't work after build and deploy"
Hello! I'm using react-tooltip in my project and at local server it works great in development and production builds. In devtools I can see all element's attributes changes after mouse over the element with tooltip. But when I deploy my app to AWS server, tooltips refuse to show and element's attributes don't change anymore. How I can fix this problem?

Works correct:
<img width="882" alt="Снимок

[2020-03-20 13:27] rathpc commented on #562
@Rogger794  Are there any plans to fix this in an upcoming release?

[2020-03-20 13:39] aronhelser commented on #562
Sounds like we have a proposed fix. We would be happy to accept a PR to fix
it.

On Fri, Mar 20, 2020 at 9:27 AM Steven Rathbauer <notifications@github.com>
wrote:

[2020-03-20 20:33] emicarito commented on #476
I use the className field and add the class mw-20
`.mw-20{
   max-width: 20%;
}`

this fix my problem.

[2020-03-22 15:12] Aarbel commented on #497
same here

[2020-03-22 16:51] Aarbel commented on #497
I switched to https://github.com/atomiks/tippyjs-react, it works well with absolute elements.

[2020-03-29 16:16] SaadEla commented on #478
hiii how we can change css props like padding in a tooltip?

[2020-03-30 08:41] nikolaySolodkiy commented on #377
you need to set data-event-off property
`data-event-off="mouseleave"`

or you can combine with click if you need to work it on hover and click together
`data-event-off="mouseleave click"`

[2020-03-31 02:52] Jarch09 commented on #498
any update on this? I just started having the same issue...

Perhaps I can submit a fix if no one else has gotten around to it

[2020-03-31 04:28] #498 closed

[2020-03-31 04:30] wwayne commented on #498
:tada: This issue has been resolved in version 4.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-31 05:52] Jarch09 opened #568 "Typescript Types & Other Clean Up"
Hi,

See below a few ideas - let me know what you think...

**Typescript Definitions**
What do the maintainers think about moving the typescript definitions for react-tooltip to this repo?

There are definitions on *definitely typed*, but it looks like they're not being updated in-sync with changes here, and including the definitions in the repo would ensure new releases include up-to-date type de

[2020-03-31 05:55] Jarch09 commented on #565
@StanBorovko - how are you deploying on AWS?

If you are building a production-style bundle on your local machine, and it's running correctly, that leads me to suspect that the issue is not with react-tooltip... ;-)

[2020-03-31 13:37] Rogger794 commented on #568
Hi @Jarch09, would be great to migrate/update the type defs into the repo.

For the second one, yeah also should be updated the contributing readme, I would check the eslint rules.

Thanks for report it.

[2020-03-31 14:44] aronhelser commented on #568
Please contribute any changes that you can to the readme, even if you need to include a qualifier, like: "You will probably need to...."

This tool was written by one person, @wwayne , and has been maintained by one or two people at a time since he decided to move on. I no longer work with React at all, so I am not keeping up with the react community and updates, so I can mainly offer suggestions

[2020-03-31 17:00] Jarch09 commented on #568
Sounds good. I'll add the type defs these next couple days.

Can also do some work on cleaning up the project infrastructure (making it more idiot proof).

Thank you both for your help!

@aronhelser - no recent frontend work or using a different toolkit?

[2020-03-31 18:18] aronhelser commented on #568
Both - last project was with Vue, current project is C++ desktop app.
Thanks for your contributions!

On Tue, Mar 31, 2020 at 1:01 PM Jarch09 <notifications@github.com> wrote:

[2020-04-01 01:34] seiyab opened #570 "How to set data-event nothing?"
How to set data-event nothing?

I want a tooltip that is shown at initial view, and disappears when `data-event-off` is fired.
So I tried to use `ReactTooltip.show` to show, and make no event show the tooltip.

I want to know a way to disable `data-event`, or other implementation to achieve the purpose.

[2020-04-01 01:43] seiyab commented on #570
I've already tried `data-event={ null }` and `data-event=""`.
Tooltips were triggered by default event because they were considered as `data-event` is not set .

[2020-04-02 03:47] #562 closed

[2020-04-02 03:57] wwayne commented on #562
:tada: This issue has been resolved in version 4.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-02 14:28] mrclay commented on #476
This seems to fix for me:
[code]
But I also used `max-width: 250px` for readability.

[2020-04-03 14:26] jonauz commented on #304
I haven't full tested it yet, but I have a situation where wrapping in <span> ... </span> it makes tooltip appear, but don't disappear.

[2020-04-03 15:49] tom1700 commented on #562
Hi, I'm afraid the issue still stands. The `uuid` get's bundled together with rest of the code in `/dist/index.js`, which makes it unmockable.

[2020-04-03 16:05] rathpc commented on #562
it would be nice if you could just optionally send a flag through the component to override the class. I think this would resolve the problem for snapshots

[2020-04-03 16:18] tom1700 commented on #562
So it's not nice but it works:
[code]

[2020-04-03 16:36] markph1990 commented on #562
Could this be an issue with rollup's config? I don't have experience with this tool, but it seems that we should exclude `dependencies` from our bundle
[code]
or put `uuid` inside `peerDependecies` which then would be automatically excluded via used `rollup-plugin-peer-deps-external`.

[2020-04-03 16:46] rathpc commented on #562
my vote is for excluding dependencies or you could simply just exclude uuid, but since there are only two deps in package it is probably ok to do them all.

the single approach would be this:

[code]

[2020-04-06 14:28] ReptoxX commented on #570
+1 need to find a solution

[2020-04-06 15:41] gleandroj commented on #570
Just type anything different of data-event={ null } and data-event="",
I tried data-event="custom" and works fine!

[2020-04-06 15:44] gleandroj commented on #570
+1 need to find a solution

[2020-04-07 06:43] perbergland opened #574 "Reposition stopped working going from 3.11.1 to any newer version (3.11.2, 4.x)"
Sample code here:

https://codesandbox.io/s/competent-hooks-bicfv?file=/src/Tooltip.tsx

After upgrading from 3.11.1, I found that tooltips that won’t fit no longer reposition to some other position (top => left, bottom, right). I have tested this in Safari and Chrome on macOS.

[code]

Here's what gets displayed with 3.11.1:
<img width="396" alt="Screenshot 2020-04-07 kl  08 34 03" src="https://u

[2020-04-07 09:27] altano opened #575 "v4.1.5 pulls Node crypto libraries into bundle"
Just a heads up that a large number of crypto libraries in Node.js (bn, elliptic, secp256k1, etc) are bundled when using this library with webpack. *shrug*

[2020-04-07 14:10] jkonze commented on #574
Same issue here

[2020-04-07 17:24] vicky-holcomb commented on #568
👍 This would be very helpful.  I currently can't get this to compile in typescript because the arrowColor prop types is missing.

[2020-04-07 18:40] mallerie commented on #377
@nikolaySolodkiy can you clarify? I am new to react-tooltip. `data-event-off="mouseleave"` applies to the tooltip, right? The docs say that `data-event-off="mouseleave"` only makes effect after setting event attribute. The `event` attribute goes on the Tooltip component as well, right?

[2020-04-07 18:40] ArmorDarks commented on #575
Related to the https://github.com/wwayne/react-tooltip/commit/c2c2243f2c6770dfc9f4099b28c5e46348caaea5

That's quite an overkill for generating random class names.

[2020-04-08 00:45] rullymartanto opened #577 "ZIndex tooltip"
There is away to make tooltip in front of all component / element ?

[2020-04-08 03:00] Jarch09 commented on #568
@aronhelser @Rogger794  - I was talking with a friend and we were thinking of porting this repo to Typescript if you're open to it.

Given the project has grown significantly in scope (more features / flexibility), I think Typescript would really improve the project's stability. Especially given the lack of a robust test suite (difficult to do here), I think this would be very helpful.

Are you gu

[2020-04-08 03:09] Rogger794 commented on #568
I agree to porting this repo to typescript, what is your opinión @aronhelser

[2020-04-08 05:19] Jarch09 commented on #353
FYI - it appears one solution for this is creating the tooltips outside of the modal, and then in the modal's `componentDidMount()` method, you call `tooltip.rebuild()`

[2020-04-08 11:30] perbergland commented on #574
Here's the diff - what change broke this?

https://github.com/wwayne/react-tooltip/compare/v3.11.1...v3.11.2

[2020-04-08 11:48] jkonze commented on #574
@perbergland thanks for pointing out the obvious 😊

I found the error & will create a Pull Request.

[2020-04-08 12:36] perbergland commented on #574
Thanks for the quick response!

[2020-04-08 14:30] #574 closed

[2020-04-08 14:33] skyqrose commented on #568
I saw #571 merged, and tried to update and remove my dependency on DefinitelyTyped's @types/react-tooltip, but my project couldn't find the new `react-tooltip.d.ts` file. I see that the new file isn't in the `dist/` folder. Did the new types make it into the published package?

[2020-04-08 14:41] aronhelser commented on #568
I doubt I will be doing any active development, so it's fine with me. Any
users of the library are not required to use typescript, correct?

On Tue, Apr 7, 2020 at 11:10 PM Rogger794 <notifications@github.com> wrote:

[2020-04-08 14:47] wwayne commented on #574
:tada: This issue has been resolved in version 4.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-08 17:11] Jarch09 commented on #568
@aronhelser - correct. It will be compiled down to good ol' Javascript, and can be used by everyone.

@Rogger794 - sounds good. We'll probably get started in the next week or so, and I'll post in this thread with updates / questions.

[2020-04-08 17:20] Jarch09 commented on #568
@tjangel - let's catch up offline

[2020-04-08 17:25] Jarch09 commented on #565
Think we can close this issue

[2020-04-08 18:19] #565 closed

[2020-04-09 09:03] ncastay commented on #577
I started using this component today and had similar issue as you're experiencing.
In my case in Material UI the Drawer component has a zIndex of 1200 which is higher to the zIndex 999 hardcoded in react-tooltip.

However you can overwrite this value using the "data-class" :
`
<MyComponent data-tip data-for={'tooltip'} data-class={classes.tooltip}>
...
</MyComponent>
`
where classes.tooltip has zI

[2020-04-11 23:13] birdofpreyru opened #580 "Using UUID in class names breaks server-side rendering"
The commit https://github.com/wwayne/react-tooltip/commit/78e3c2be784f2b96d8bb888b81785b2b38179dae breaks the server-side rendering of host code, if the host code uses it, because different UUIDs are generated for the same tooltip at the server-side and client-side, and in result the server-generated markup does not match the one calculated client-side.

At the first glance, I don't follow why was

[2020-04-13 15:28] skyqrose commented on #568
#579 is merged which added the `types:` field to `package.json`, but the definitions file still isn't in the published package as of 4.2.3. Perhaps it's because `package.json` has `files: ["dist"]`, but the definitions file isn't in `dist/`?

[2020-04-14 15:34] LorhanSohaky commented on #32
Still not supported for the onload event?

[2020-04-18 23:48] #558 closed

[2020-04-19 00:12] wwayne commented on #558
:tada: This issue has been resolved in version 4.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-19 00:28] #580 closed

[2020-04-19 00:28] wwayne opened #584 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-19 00:30] wwayne commented on #580
:tada: This issue has been resolved in version 4.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-19 00:30] #584 closed

[2020-04-20 18:20] #353 closed

[2020-04-21 07:39] andrienpecson commented on #277
Try this selector:
`
.__react_component_tooltip.show {
  opacity: 1 !important;
}

`

[2020-04-21 12:55] skyqrose commented on #568
Works as of 4.2.4. Thanks!
PR to remove it from DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44079

[2020-04-22 11:57] akaSybe opened #586 "Remove prop-types from production build"
I believe **prop-types** could be removed from production build using [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types)

[2020-04-22 12:11] akaSybe commented on #586
I see that prop-types marked as external in react-tooltip@4.2.3, so I close this issue

[2020-04-22 12:11] #586 closed

[2020-04-22 21:43] Yarflam commented on #27
I don't understand, where you write your text? What is the function copyMessage()?

[2020-04-24 02:00] alex-polunochev commented on #575
Tooltip library added >100Kbs to app's gzipped bundle.

[2020-04-24 13:33] hemavidal commented on #486
This issue was not in the version 3 I will need to downgrade from v4 to v3. :(

[2020-04-24 15:11] rathpc commented on #568
With the newly added types file, there is no way to explicitly import the props to be used for extending usage in styled components. The file in `@types` while very outdated allowed this functionality. Please consider updating the types file to be structured similarly to that or explicitly export more than just the default.

[2020-04-26 22:22] bonbonio opened #587 "Page Load Error with NextJS + react-simple-maps?"
Hello,

This tooltip works great, and I love it, I have it working to shade in countries meeting a criteria, but I get the following issue when the page loads, and sometimes the tooltip losing as its styling; this is the bit of the error that seems relevant.

How can I resolve this console error?

[code]

[2020-04-27 02:33] damianhodgkiss commented on #587
The same thing with next, resolved the error by passing a static UUID but still no styling.

[2020-04-27 10:40] xinyan-y13 opened #588 "Styles not applied for short when reloading page"
We use react-tooltip in our project and updated lately from 3.4.0 to newest version, however since v3.5.0 we see that when ever we refresh the page, the tooltip text (which is supposed to be hidden if not clicked) is shown for a short time on page (without any style and with version 3.11.0 even with black background color) and then disappears after like 3 seconds.

Did anyone else have such proble

[2020-04-27 18:59] DTX-92 commented on #431
Vote for this.
It would be enough if ReactTooltip.rebuild() worked.

[2020-04-27 19:24] itmart opened #589 "Tooltip does not show up again after hide on ios when virtual keyboard closes"
When the virtual keyboard disappears, the tooltip appears on top of the page for a second and disappears . After that, clicking on the span to show the tooltip does not show it anymore. I'd have to click somewhere else first before clicking on the span again for the tooltip to show.

Is there a way around this?

EDIT: I tried adding `position: absolute` to the tooltip and it doesn't show on the to

[2020-04-28 15:15] aronhelser commented on #431
Does the technique shown on the example page not work? The random number/ cropped phrase example?

[2020-04-28 20:06] DTX-92 commented on #431
This one?
![image](https://user-images.githubusercontent.com/20479161/80532396-c0c50280-89a4-11ea-9137-03753f930c86.png)

No, it doesn't. If you don't move mouse, tooltip doesn't update.

[2020-04-28 20:52] aspdev91 opened #590 "Closing existing tooltips when opening a new tooltip"
Hi, I'm running into an issue where if you already have a tooltip open and click on another button that activates a tooltip, you will have two tooltips open. If you click outside the tooltips, all open tooltips close which works as intended. How do I close existing tooltips when a user clicks on the button that opens a new tooltip?

I tried running this code within the onClick behavior on the butt

[2020-04-28 22:43] aronhelser commented on #431
That one. The one on the right has a `1000` timer argument. If you shorten that to `33`, you should recalculate the content at 30 fps.

[2020-04-29 08:04] nasimjibs commented on #206
Problem I am having with this approach is I am having two tips at the same time- one that I pointed and the other one is the last tip element. Here is the screenshot.
![Untitled](https://user-images.githubusercontent.com/17526193/80573737-d536e880-8a00-11ea-92d0-7a2d70f65148.png)

[2020-04-29 21:47] codercodingthecode commented on #497
@Aarbel , thanks for the *tip :)
this lib straight out of the box allows me to do bottom start, which is the feature I need.

[2020-04-30 04:35] hoangnm opened #591 "Tooltip does not show on Safari-IOS browser when set the effect prop to solid"
I tested on Safari-IOS, it won't show the tooltip if I set the `effect` prop to `solid`.

[2020-05-05 19:58] CTam8 opened #593 "Reposition tooltip when resizing window"
I have a manually shown tooltip using the ReactTooltip.show() method and hide it when a user interacts with it by clicking a "Dismiss" action. When resizing the window, I want to reposition the tooltip as the element it interacts with changes size/position. I noticed a watchWindow property that was a stale prop, wondering if theres an alternative to this?

[2020-05-06 05:35] #577 closed

[2020-05-06 12:38] riteshbathwal opened #594 "assing props textColor or backgroudColor to the <ReactTooltip /> is not working"
Below is my code where I am using ReactTooltip. When trying to customise it by passing props textColor and backgroundColor , both are not appllied, instead default background-color of black and textColor of white is only getting applied. Please help.

<NavLink style={{textDecoration:'none'}}
                                to={CONSTANTS.PREVIEW_CONFING_PATH}
                                onClick

[2020-05-06 14:34] #593 closed

[2020-05-07 11:32] Ziker22 opened #595 "Jest snapshots different classnames"
Everytime i run snapshot test with jest and rest-testing-library for component with tooltip inside, new css classes are generated and thus snapshot is failing. Any ideas to solve this ?
[code]

[2020-05-07 17:26] mxcl commented on #374
The position is always wrong on first appearance however we use it. Since this issue is 2 years old I figure we're better off finding another package.

[2020-05-07 19:19] aronhelser commented on #374
Or you could help debug and contribute a fix!

On Thu, May 7, 2020 at 1:27 PM Max Howell <notifications@github.com> wrote:

[2020-05-08 00:59] mymywang commented on #47
@wwayne Thanks for creating the library! I have a question about your example to use `ReactTooltip.show(target)`. Why is the type of the input `target` string? The return type of `findDOMNode` is not string, so I wonder if it still works now:
[code]
I tried to use `React.useRef` hook, but it usually refers to a DOM element instead of string.

I also looked at the source code, and it seems that the

[2020-05-10 16:24] SParmentier commented on #590
Hi @aspdev91, I'm running into the same problem. Did you find the solution ?

Thank

[2020-05-11 20:49] janardhanc commented on #531
Same issue

[2020-05-12 15:28] jonnykates commented on #595
This looks related to #562

[2020-05-12 16:03] jonnykates commented on #595
This isn't a fix, but it might help someone out.

We're using react-tooltip in a Storybook.js component library, and it was failing tests for the reason reported. For now, I've just had to ignore the stories that use this component from Storybook's testing suite.

[code]

I imagine Jest natively has a similar 'ignore' config value - I'm not familiar with it beyond Storybook's Storyshot addon.

Not

[2020-05-13 18:58] jonmajorc opened #596 "Window Event Listeners causing performance problems when many tooltips are rendered"
"resize" is showing 149
![image](https://user-images.githubusercontent.com/7799266/81852820-3a223080-9521-11ea-8ada-c5b21ab1ddb5.png)

When I set `resizeScroll={false}`  `resizeHide={false}` it helps a bit with rendering... but still have issues with having all those listeners `__react_tooltip_*` listeners.

After turning off props "resize" looks better, but the `__react_tooltip_*` listeners are s

[2020-05-18 12:48] ndom91 commented on #554
Normally you can check if `typeof window !== 'undefined'` if its currenlty running in the server or Browser. So, for example:

[code]

[2020-05-20 19:13] mxcl commented on #374
So…. no, I won’t. I am an extremely prolific contributor to open source, but only if it looks like it's a maintained package. Sorry.

[2020-05-20 22:25] matthewlongpre opened #597 "Base stylesheet and the Shadow DOM"
Hi, I'm curious if there is a way to either:
- Change the target of the base stylesheet to be a Shadow DOM element, or
- Prevent the insertion of the base stylesheet into the `<head>` tag (and handle it manually)

I noticed you added Shadow DOM element support in `4.0.2`, but the base styles are not applying to elements within a Shadow root. Maybe I've missed something in the docs?

These are the

[2020-05-22 10:15] devangpatel21 commented on #320
is it getting fixed

[2020-05-23 09:05] tannguyenSOD opened #598 "How can I set the place option is auto?"
![image](https://user-images.githubusercontent.com/52443186/82726541-17f19500-9d0f-11ea-844e-fc8f71c5939d.png)

How can set the `place` option is auto? it is bad case for me.

[2020-05-23 14:29] tuancaraballo commented on #206
I had a similar issue: I had a table of tasks and the tooltip wouldn't show when clicking on the one of the edit buttons.
![Screen Shot 2020-05-23 at 7 26 01 AM](https://user-images.githubusercontent.com/16768578/82733189-10a69900-9cc7-11ea-8ea1-dd5b1cbec1d3.png)

What I ended up doing was calling rebuild in componentDidMount
[code]
![Screen Shot 2020-05-23 at 7 28 38 AM](https://user-images.githu

[2020-05-24 13:47] ronmara commented on #590
try to add
componentDidUpdate() {
    ReactTooltip.rebuild();
  }

[2020-05-24 14:03] ronmara opened #599 "tooltip cutting off when renders near edge of screen"
**Summary:**
If I choose place="top" but the content is too wide to fully display in the window, the left side will be rendered off-screen and there is no way for me to see the entire content of the tooltip. (the left position is negative)

Things I tried:
I added:
[code]

but because I have many elements with a tooltip, moving my mouse from one element to another doesn't trigger afterShow.

I add

[2020-05-25 06:45] dvcrn commented on #587
In my messing around with this issue I noticed it only happens when the component is being rendered on the server-server. Using some tricks to make sure it's client-only resolved it for me, in combination with @damianhodgkiss answer

[2020-05-25 07:42] SParmentier commented on #590
It didn't help for me.
In my case, when I click on another tooltip, the 'click' event isn't popping up. So the ReactTooltip.hide function is never called (Mostly explaining why nothing is closed in that case).
Is that possible that the event is catch in react-tooltip and its propagation is stopped ?

[2020-05-26 13:28] nasimjibs commented on #206
Thanks! It helped.

[2020-05-27 01:52] JorgeSivil opened #600 "Can't make it work onClick"
I might be very stupid but I can't make it work... it's been like an hour yet the tooltip keeps showing.

I have a button, and the tooltip.
[code]
I want to control when the tooltip displays or not, and I am not being able to control it. It automatically displays. What am I doing wrong?

[2020-05-27 05:35] oran1248 opened #601 "Warning: Expected server HTML to contain a matching <style> in <div>"
Hi,

I'm using next.js and SSR.

I'm rendering ReactTooltip comp only on client side with the following code:
[code]

But only on dev mode i'm getting this warning:
`Warning: Expected server HTML to contain a matching <style> in <div>.`

What is the cause and the solution? thanks

[2020-05-27 16:31] oran1248 commented on #600
Can't make it work either. I think the ref should be on the button and not on ReactTooltip.

[2020-05-27 16:33] JorgeSivil commented on #600
Yeah tried that also, but either 1 of two, it was showing automatically, or it wasn't working

[2020-05-27 16:38] oran1248 commented on #600
After few hours of struggling with this lib, I came to a conclusion that the best solution is to write a tooltip component my self :)

[2020-05-27 16:40] JorgeSivil commented on #600
Yeah that's what actually happened to me. https://www.cssportal.com/css-tooltip-generator/ and that's it haha

The problem is that I only found this library, or other bigger libraries that have a lot of things that I don't need now, like Reactstrap or material UI

[2020-05-27 16:42] oran1248 commented on #600
You dont have to use a library, just create your own simple component.

[2020-05-28 17:09] stsvilik opened #602 "Make it accessible please"
This is a feature request! Could you make `react-tooltip` accessible according to this spec https://www.accede-web.com/en/guidelines/rich-interface-components/tooltips-aria/ ?

Or at least white-list `aria-` `role` attributes on both trigger and a tooltip container?

Thank you!

[2020-05-29 19:51] ZDTaylor commented on #47
@mymywang Just ran into this. You can use this for `React.useRef`:
[code]

Not sure if I did something wrong though, but I had to set `data-event="fakeEvent"` to stop the default hover behavior.

[2020-05-30 12:44] Proful opened #604 "Adding extra content in Tooltip disturb the Tooltip Positioning"
I need some guidance on how to resolve the below issue.

**Problem:-**
On clicking Rectangular Icon, color picker added inside Tooltip. However, it disturbed the positioning a bit.

Once the tooltip hides and appears again, Tooltip position looks better. I want to like this positioning for the first time as well.

![tooltip 1](https://user-images.githubusercontent.com/354596/83328427-48fd3700-a2c6

[2020-05-30 13:24] proful commented on #432
Same issue!

[2020-06-01 16:56] mymywang commented on #47
@ZDTaylor Thanks. I tried it but typescript complains that the input passed into `ReactTooltip.show()` should be a string. I didn't try to override the type error though. If it could work, there's probably just an issue in type definitions.

[2020-06-02 08:25] andrewchmr opened #605 "[Feature Request] Option to not display tooltip on mobile/touch devices"
Hi, first of all thank you for react-tooltip!

I think it would be nice to have an option to not render tooltip on mobile/touch devices (eg. `hideOnMobile` prop), so users don't have to implement it manualy (eg. `if(isMobile()) return null`).

[2020-06-02 18:16] drewdrewthis commented on #595
What version did this appear?

[2020-06-02 19:42] denniscallanan opened #606 "Raw CSS Style being displayed in Tooltip text"
I have the following code:

[code]

I recently did an update of my packages. This tooltip is inside a `react-table` component, which was also updated.

The style seems to show in the title now. I can't seem to find the source of the problem. Here is what it looks like when I inspect it:

![image](https://user-images.githubusercontent.com/10940332/83562342-4d696000-a511-11ea-9800-6afa85a5b841.png)

[2020-06-02 19:58] #606 closed

[2020-06-03 12:26] ministerface commented on #590
Hi. I solved this problem by simply adding a property isCapture={true}

[2020-06-03 20:17] marcogrcr commented on #595
This first started to occur with version `4.0.5` (see #562). The proposed solution was to add `uuid` as a dependency and have developers mock the module (see #566):

[code]

Initially [`uuid` was bundled to `dist/index.js`](https://github.com/wwayne/react-tooltip/issues/562#issuecomment-608517451) by rollup so `uuid` could not be mocked. That got fixed with #582.

The current implementation has ce

[2020-06-04 12:30] mildrenben commented on #602
@stsvilik whilst I agree this should be baked in, the tooltip component allows extra props to be passed to it.

So what I've done is simply:
[code]

[2020-06-04 13:54] stsvilik commented on #602
@mildrenben how do you trigger tooltip on say hover? When I tried to add anything to the triggering element other than `data-tooltip` it failed to activate the tooltip.

[2020-06-04 15:30] mildrenben commented on #602
@stsvilik I've only used this module for the first time today, so I don't know all the ins and outs of it, but my code is as follows:
[code]

[2020-06-05 10:43] mdmusaib opened #607 "React tooltip showing Inside in Model"
Hi,
I have a Model in which I have specifically given position:fixed, and overflow:'hidden", if I try to show the tooltip in that model it is showing inside because the model is overflow:hidden , I want to view the tooltip outside like normal, how to fix this issue......

[2020-06-06 16:06] gregfenton commented on #549
The "example" link on the README page is still not working:

Since the github and codesandbox links are working, maybe just remove the link to the netlify example site from the README?

[2020-06-10 10:50] scalarmapedia opened #608 "Tooltip remains on screen after link clicked to a new URL"
In our App, we have Tooltips used on both icons and text labels that are links to other pages in the same app. When hovered overthe Tooltip appears as expected. But when you click the link, the page/url changes, but the Tooltip remains visible, and remains visible until the page app is browser refreshed.

[2020-06-11 09:30] madrussa commented on #268
It's very simple to create a portal wrapper component to achieve this functionality. I wouldn't see the need to implement this in the react-tooltip library as most people will need fine grain control.

Below is a naive example of how I render react-tooltip into portals. This works fine and the tooltips continue to position correctly over different layered areas.

[code]

Hopefully those experienci

[2020-06-11 18:51] comrx commented on #588
Just encountered this. Don't know if you ever found a fix, but I added the following to my global stylesheet:

[code]

And it seems to have fixed the issue. I think the styles get loaded in when the componenet is mounted, so it causes a FOUC.

[2020-06-14 01:10] #549 closed

[2020-06-15 04:50] diegoneemu commented on #395
Some example to make above testing using react-testing-library????

[2020-06-16 08:59] namlq93 commented on #109
I have same question. Do you have an idea for this?

[2020-06-16 10:00] namlq93 commented on #509
Yes, I would like that. how can I do that?

[2020-06-16 12:29] namlq93 opened #609 "How to override place when the edge of the browser is right above the tooltip?"
- What happen:
I'm using the default `place` (top). But when the edge of the browser is right above the tooltip - the tooltip will appear below.

-> I want the tooltip to stay on top and be cut off by the edge of the browser window.
This problem has been raised but has not been resolved
#109
#509

- I'm using the latest version (4.2.6). Is this possible? If not, I will have to up down to the lower

[2020-06-16 14:49] aronhelser commented on #509
I don't think this feature is available now. But I think the code to check the window bounds is pretty easy to isolate and put behind a flag. I can accept a PR with this functionality, please see if you can make it work!

[2020-06-17 01:43] namlq93 commented on #609
#509

[2020-06-17 01:43] #609 closed

[2020-06-17 02:28] Joseppi83 opened #610 "Styles gone after revisting page"
So I'm using react-tooltip for a register form.  When I redirect to the login page, then redirect back to the register page with the register form, all the styles are gone from the tooltips.  The text and css transitions still function, but the background and text color is gone.

I rebuild the tooltip bindings in useEffect with the following:
`useEffect(() => {
    ReactTooltip.rebuild();
  });`

[2020-06-17 03:07] Joseppi83 commented on #610
So it looks like on the redirect from register to login and back to register, that the tooltip's div element is being assigned a different hashed class.  The styles are in the console, but it's assigned to a different hashed className.

[2020-06-17 06:09] namlq93 commented on #509
I used a simple way: override left, top position and add custom CSS to set arrowPosition:
[code]

[2020-06-17 09:12] brillout opened #611 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source projects, and we are currently doing outreach to projects we like.

One of our solutions is the [Lsos Commons](https://lsos.org/#lsos-commons) which I believe could fit; is that something React Tooltip would be interested in?

If not I'm sorry for having opened this ticket

[2020-06-18 09:00] jribeiro opened #612 "Tooltip is dismissed when tooltip content is scrolled"
When the tooltip content is scrollable and `isCapture` is set to true to dismiss the tooltip when the user scrolls, if a user scrolls the tooltip content and then moves the mouse outside of the tooltip, the tooltip is automatically closed even though the scroll only happened within the tooltip content.

See: https://codesandbox.io/s/youthful-paper-43sem

How to reproduce:
1. Click on "Click to ope

[2020-06-21 23:53] talesdsp commented on #600
I believe your showcase isn't working because you passed the entire `ref`, instead of `ref.current`.

The following worked for me!

[code]

[2020-06-22 13:56] gempain commented on #476
This is how I fixed it (thanks @mrclay for your example):
[code]

[2020-07-01 13:14] mihaiserban opened #614 "react-bootstrap breaks tooltip border color"
I'm using react bootstrap and noticed _borderColor_ property doesn't work.
This is because the tooltip uses a class .border which is present in bootstrap as well.
Classes should be scoped to the component to avoid situations like this.

[code]

Bootstrap version:
[code]

[2020-07-02 11:02] Puvvl opened #615 "App netlify is incompatible with React Tooltip 4.2.7"
I have error at the netlify app `12:26:57 PM: error react-tooltip@4.2.7: The engine "node" is incompatible with this module. Expected version ">=10.18".`

**log:**
`12:25:52 PM: Build ready to start
12:25:56 PM: build-image version: 9d79ad851d6eff3969322d6e5b1df3d597650c41
12:25:56 PM: build-image tag: v3.3.19
12:25:56 PM: buildbot version: 2cc7ea668a3e8f63326d15aab17e62cd1997fa2e
12:25:56 PM: Fet

[2020-07-03 22:12] brillout commented on #611
We developed a new solution: the [Lsos Donation Fund](https://lsos.org/fund). Unlike the Lsos Commons, the Lsos Donation Fund doesn't alter your license and everything stays free; the donation fund is about collecting donations on your behalf by using a "donation-reminder".

We estimate the donation-reminder to substantially increase donations. Sublime Text, for example, achieves impressive result

[2020-07-06 00:40] divmgl commented on #601
After dealing with this myself and reading through the source code, there is no actual way of achieving this currently. This is because of the way `Wrapper` is implemented. It's using `dangerouslySetInnerHtml`, which causes the client to expect to receive a `div` from the server.

One of the easiest ways to overcome this is to allow `Wrapper` to be any kind of `node`. Unfortunately, this library c

[2020-07-06 05:39] faahim commented on #610
Having the mismatched hashed class name issue too. No style is being applied because the class name in `<style>` and the class name on the element doesn't match.

[2020-07-06 14:37] cameronadams777 commented on #615
@Puvvl I believe the issue that you are running into is due to netlify using a version of node for your build that is too low for react-tooltip to be used. That being said, try specifying the version in your `package.json` to avoid this like so:
[code]

[2020-07-06 16:47] s-ashwinkumar commented on #610
@faahim Had the same issue.To circumvent it for now, pass a 'uuid' prop to the styling component and it will not generate one on its own on re-render.  Haven't seen anything break because of this fix.... yet.
`
<ReactTooltip uuid="<some-uuid-here>" />
`
- https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L89 -> this shows that it generates a new uuid if it is not passed down.
- http

[2020-07-06 19:14] aronhelser commented on #601
We would welcome a PR, if you would like to fix this behavior!

On Sun, Jul 5, 2020 at 8:40 PM Dexter Miguel <notifications@github.com>
wrote:

[2020-07-06 19:32] faahim commented on #610
@s-ashwinkumar Woo, thanks so much for all those info! When I saw it has mismatched hashes, I felt like, gosh, if it generates new ones every time, and it _can_ go wrong, then it _will_ go wrong at least some of the time. I know it can be reliable (UUID looks like solid fix here), but my OCD brain would give me the peace of mind. 😅

I'm overriding the stylings with a custom class name for now. But

[2020-07-07 01:06] hunterraffety commented on #57
+1

[2020-07-09 04:35] dannykennedy commented on #615
This didn't work for me:(

[2020-07-09 23:14] tolicodes commented on #57
After much playing around came up with this function to dynamically position the tip to account for the edges of the page:

[code]
<img width="781" alt="Screenshot 2020-07-09 16 14 09" src="https://user-images.githubusercontent.com/30080870/87099669-f7f54100-c27c-11ea-8a3c-59488deb914d.png">

[2020-07-13 10:36] DeLm0re commented on #468
However, this will make an arrow filled with the color of the borders. Seems impossible to hide it in a casual way if you are using borderColor prop

[2020-07-15 07:50] vishalDenzil26 opened #616 "How to hide the tool tip after some delay"
When am clicking the button am able to show tool tip. after some time i gave delayHide = 1000 still its not dispapearing .

[2020-07-15 15:35] aronhelser commented on #616
Have you looked at the code on the example page? Is your code the same or
different?

On Wed, Jul 15, 2020 at 3:50 AM Vishal Denzil <notifications@github.com>
wrote:

[2020-07-15 19:33] Stanley-Okwii commented on #515
@roggervalf ,I get this ☝🏽 same issue after updating to the latest version of react tooltip...

[2020-07-16 10:12] ketandhallu commented on #515
Hello Guys,
What i did to fix it was i removed the transform css property and it started to work correctly.
I hope this helps

[2020-07-16 10:15] ketandhallu commented on #515
transform: translate3d(5px, 5px, 5px);
This css was causing the issue. I removed this css and it worked fine

[2020-07-16 18:37] VishnupriyaShekar opened #617 "Tooltip working wierdly"
inside a button i have given one i tag and tooltip tag.And tooltip tag doesnt worked properrly which holded after hovering.

Later I have added i tag inside span tag which makes tooltip to work well.Why is that can anyone explain.

[2020-07-16 18:39] VishnupriyaShekar commented on #617
// when i coded in such a given below tooltip holded even if cursor is removed from the button.
`<div>
<button ng-click=OpenModal()">
<i>new</i>
<md-tooltip>creater</md-tooltip>
<button>
</div>`

[2020-07-18 22:15] LauraBeatris commented on #554
I have been tried to use it with SSG/SSR render frameworks and the way that I handling this is by returning null if ``window`` is ``undefined``

[2020-07-18 22:43] LauraBeatris opened #618 "Document is not defined"
I'm not able to use the tooltip component with SSR libraries lib such as ``react-static``

Because it relies on a document that is not available during build.

![Screen Shot 2020-07-18 at 19 42 59](https://user-images.githubusercontent.com/48022589/87863182-e96af180-c92e-11ea-8bc6-51bb0eb80e2d.png)

[2020-07-18 22:51] LauraBeatris commented on #554
I'm not having problems with ``window`` but instead, with the ``document`` refer to #618

[2020-07-21 15:13] alainib opened #619 "Uncaught TypeError: node is null"
i get the bellow error with this code when i open a material ui drawer bellow the toopltip

      <div>
        <a data-tip data-for={"dontchangethisname" + id} data-event="click">
          <Button className={classes.buttonMinWidth}>{children}</Button>
        </a>
        <ReactTooltip
          id={"dontchangethisname" + id}
          globalEventOff="click"
          clickable={true}

[2020-07-23 09:21] benlieb commented on #431
I had a similar issue, but solved it with `mouseEnter`, `setState`, and `getContent`

[code]

[2020-07-25 21:45] Boris-Scharinger opened #620 "Callback function for a click onto the tooltip?"
Thanks so much for this library, it helps me so much as I have a way to tooltip that is independent from wrapping the target!

I would like to trigger actions when a tooltip with the flag "clickable" actually gets clicked. Not via a href inside, just a callback function that is triggered by onTooltipClick.

Can this be done?

Regards, Boris

[2020-07-27 21:28] xrendan commented on #608
This is super hacky, but it worked for me:

[code]

[2020-07-28 08:07] antoine-pous commented on #130
Personally i've just created a component which reflect ReactTooltip and it's work fine without rebuild

[2020-07-31 11:41] jacekk commented on #351
FTR:

`import ReactTooltipDefaultExport from 'react-tooltip';` --> only `default` export
`import * as ReactTooltipWholeModule from 'react-tooltip';` --> the whole module, which is `default` + all named exports
`import ReactTooltipDefaultExport, { TooltipProps } from 'react-tooltip';` --> `default` + a specific named export

**What is the issue?** As the above seems to be working as expected. Teste

[2020-08-06 04:00] nosnaj opened #624 "'ReactTooltip' cannot be used as a JSX component."
[code]

Can't seem to use it as just <ReactTooltip /> in my tsx code.

[2020-08-06 11:50] eponae opened #625 "Need your help about uuid getRandomValues function compatibility"
Hello,

We experienced some errors about getRandomValues function used by uuid package on Internet explorer 11 and Windows 7 since we updated our dependency to react-tooltip from version 3 to version 4.2.7.
It seems like the method is not supported. I tried to reproduce but I can not find the exact version of Internet explorer and Windows that does not work.

Our web application works with react 1

[2020-08-07 18:52] OCmilo commented on #616
That's how I managed to do it after some trial and error:
[code]

You need to set the `afterShow` prop to () => `ReactTooltip.hide()`. It will close after the given delay

[2020-08-09 10:59] manishvvasaniya commented on #476
Thank you it help me to

[2020-08-09 17:10] bobf commented on #615
I resolved this by installing `nvm`:
[code]
Then installing Node `10.18.0`:
[code]
Finally creating `.nvmrc` in my project directory:
[code]
And restarting my shell. I was then able to install `react-tooltip`:
[code]

[2020-08-13 17:51] gurmiguel commented on #599
Hello, I solved this problem using the following approach (approximately):

[code]
Also added
[code]
so the tooltip never get bigger than the window, triggering both overflows (left and right) simultaneously.

Not too beautiful but solves the problem.

[2020-08-14 09:20] jinguangze opened #626 "Position is away"
Tooltip position is wrong with fullscreen view

[2020-08-20 15:00] EdgarKisman commented on #590
Thanks, worked for me.

[2020-08-24 08:49] 0x0006e opened #627 "node >= 10.18 is necessary ?"
### Problem

- Node version in my CI runner was 10.15.3.
- When CI install react-tooltip will throw `error react-tooltip@4.2.8: The engine "node" is incompatible with this module. Expected version ">=10.18". Got "10.15.3"`

### So
- does node >= 10.18 is really necessary ?
- react-tooltip package depends on node >=10.18 ?

package.json
[code]

[2020-08-25 14:20] einord commented on #624
Same here. Am I doing something wrong?

[2020-08-25 21:06] nosnaj commented on #624
Just get your colleague to do it on their machine. That's how I got it to
work... I don't know what the hell happened lol.

On Tue, Aug 25, 2020, 22:21 Jonatan Nyqvist <notifications@github.com>
wrote:

[2020-08-26 05:35] #624 closed

[2020-08-26 09:41] claudebarde commented on #624
Hey guys! Could you share how you solved it? I am having the same issue here... Thanks!

[2020-08-26 11:19] alex93293 commented on #624
Hi, I'm @nosnaj's colleague mentioned here _(thanks a lot)_. Just to note, we're using this package without`@types/react-tooltip` installed.

`node` version: `12.18.3` `//if it matters`
`react-tooltip` version: `^4.2.8`

Here's basically what we're doing
[code]

It's actually the same as the readme, I just checked. You might want to check `tsconfig.json`, and your `package.json` versions.

Here's

[2020-08-26 11:21] claudebarde commented on #624
Great, thank you, I will give it a try!

[2020-08-27 14:30] 0x0006e commented on #627
fixed 4.2.9

[2020-08-27 14:30] #627 closed

[2020-08-27 14:36] mahmoud-awad99 commented on #219
it still exists, I am using React 16.8.6 and React-tooltip 3.10.0
in the picture the tooltip supposed to appear on the first icon, this happens only occasionally, not all the time, the fix provided by AlexKB0009 worked gracefully
<img width="298" alt="Screenshot 2020-08-27 at 15 33 31" src="https://user-images.githubusercontent.com/64974577/91456185-e1319a80-e87a-11ea-915e-1267c0895e3c.png">

[2020-08-27 16:56] mahmoud-awad99 commented on #219
as ReactDOM.findDOMNode is deprectaed in strictmode and its usage is discouraged, I found another solution to solve it

`<ReactTooltip
          effect="solid"
          id="tooltipProvider"
          place="bottom"
          ref={this.tooltipRef}
          afterShow={() => {
            this.tooltipRef.current.updatePosition();
          }}
        />`

[2020-08-28 07:53] mahmoud-awad99 commented on #219
to give more context on how this error happened in my case, it is as follows, all icons in the previous picture have one line of text for the tooltip, except the last one which has two lines of text hence the tooltip height is bigger than the rest. now if you do the following, hover over the last icon which has a bigger height, then move away from any icons and don't show any tooltip, then go back

[2020-08-28 20:08] gap777 commented on #605
In the meantime, we're doing this in our render methods:

[code]

[2020-08-30 08:50] itamardavidyan opened #630 "Hide tool-tip after x milliseconds"
There is an option to add an attribute 'hideAfter' that get number of milliseconds that after them the tool-tip disappear?

[2020-08-31 18:11] hkedia321 commented on #395
Hi guys, facing the same issue testing this. Any idea?

[2020-09-03 04:24] proful commented on #630
`import debounce from 'lodash/debounce'

const hideTooltip = debounce(() => {
    ReactTooltip.hide(tooltipSourceRef.current)
  }, 4000)`

[2020-09-03 04:24] proful commented on #630
[code]

[2020-09-04 15:35] luknl commented on #599
[This comment](https://github.com/wwayne/react-tooltip/issues/476#issuecomment-607880172) worked perfectly for me, and it's shorter code :)

[2020-09-08 17:30] luknl commented on #107
Hi, I was able to make it work this way:
[code]
Hope it helps!

[2020-09-14 06:30] jafin opened #631 "Build: Unable to run build via Windows cmd shell. error with cpy"
Attempting to run the build on Windows cmd shell results in an error for the `copy:types` step.

[code]
If the single quotes are removed then the error is avoided. This should be cross platform safe.

[2020-09-14 11:14] patrickjsmirnov commented on #618
Same problem

[2020-09-14 12:42] #631 closed

[2020-09-14 12:43] roggervalf commented on #627
#615

[2020-09-14 12:47] roggervalf commented on #615
Hi all, last release fix this. Hope now works for you.

[2020-09-14 12:47] #615 closed

[2020-09-15 15:36] shrutipant7 commented on #610
@s-ashwinkumar Thanks for the solution. Its working perfectly now.

[2020-09-21 09:50] jiangyh1024 opened #635 "document.createElement - not show tooltip"
![image](https://user-images.githubusercontent.com/34930870/93753515-d9bfa000-fc32-11ea-8caa-9ed33ec70422.png)

this will not show tooltip

![image](https://user-images.githubusercontent.com/34930870/93753710-2b682a80-fc33-11ea-92e3-813498315796.png)

![image](https://user-images.githubusercontent.com/34930870/93753595-f78d0500-fc32-11ea-8150-1dede99984e6.png)

[2020-09-21 10:01] jiangyh1024 commented on #635
solved by calling rebuild()

[2020-09-22 19:23] ridak commented on #468
This seems to have worked for me (though I haven't tested this exhaustively yet). It's similar to dmc1985's approach though I was able to get away with just one rule that works for all the different placements.
[code]

[2020-09-24 05:48] juhil-s-crest commented on #243
Good Solution.!

[2020-09-25 11:31] jameschetwood commented on #511
@jiskreq did you ever find a workout for this?

[2020-09-27 00:41] karashiiro commented on #313
Had some weirdness with the above snippet (the tooltip teleports on the first hover, slides in horizontally on the second, and then works fine); all that seems to be necessary is:
[code]

[2020-10-03 06:59] ShanikaEdiriweera commented on #607
@mdmusaib Refer #130 Tooltip not placed properly if in modal. (Assuming you are talking about a Modal)

[2020-10-07 13:14] henriquemota99 opened #637 "Does tooltip work if data-tip is set by a request that can take some time?"
So.. all the tooltips work if I use it on html direct like `<button data-tip="test" />`

But If I use a component `<Help tooltip="test" />` seems not working, why?

I import react-tooltip on my App.js.
Also App.js got the: `<ReactTooltip place="bottom" effect="solid" />`

My component Help (that one that not work tooltip) is the following:

[code]

But the Help component is inside a request on oth

[2020-10-07 13:32] henriquemota99 commented on #637
I fixed it by adding the Import from ReactTooltip on each page and using the Rebuild option after the request complete.

`                    ReactTooltip.rebuild();`

[2020-10-07 15:22] #637 closed

[2020-10-09 19:52] matbrady commented on #130
Worth adding that if you're using [`react-responsive-modal`](https://github.com/pradel/react-responsive-modal), you'll want to trigger a rebuild during the [`onAnimationEnd`](https://react-responsive-modal.leopradel.com/#props) Modal method.
[code]

[2020-10-14 21:35] #524 closed

[2020-10-15 12:49] danielbarion commented on #601
Guys, this solved for me: https://github.com/wwayne/react-tooltip/issues/587#issuecomment-619675399

[2020-10-16 15:12] dominikkurbiel opened #638 "Wrong tooltip positioning after content text change on click"
Hey, I have one small problem with tooltip positioning in case tooltip content has changed while tooltip is displayed.

It's working if instead of passing function to getContent prop, I pass array. But then  this function is being called every second.

[code]

You can try it live:
https://codesandbox.io/s/react-tooltip-example-3116-forked-ydnr7

Any idea how to make it work without calling renderC

[2020-10-21 18:03] anatel commented on #265
@aronhelser Would the solution you suggested to @khalid3n work if I use `getContent`?
then I can't use `data-tip` or `data-html` since I need to have a react component as the content.

[2020-10-21 18:57] aronhelser commented on #265
I don't know....

[2020-10-28 07:38] iaremarkus opened #640 "Certain conditions relating to window size VS tooltip placement, result in a duplicate tooltip being shown in 2 positions"
It seems that there's an overlap in placement logic, that results in a tooltip being shown twice, in 2 positions.

See the gif below that highlights what happens when you scroll and the tooltip becomes confused if `top` or `right` is the better placement, so it just does both :P

![tooltip](https://user-images.githubusercontent.com/936966/97405289-18b2d680-1900-11eb-9a46-46e253664ef3.gif)

Perhaps

[2020-10-30 00:16] aspdev91 opened #641 "Tooltip not appearing when using ReactTooltip.show"
I'm trying to open or make a tooltip visible manually based off the value of a React prop. I'm not able to make it to appear even with ReactTooltip.show(this.viewToolTip). Does anyone have any tips or sample code on getting this to work?

[2020-10-30 11:17] t0x1c123 opened #642 "Dynamic width is not reacting when id is set"
Hi I have a question about dynamic width of tooltip. I have dynamic width at tooltips props width. I need to change width when for example phone orientation is changed. But when I have id on tooltip because more tooltips on page dynamic width is not reacting and tooltip keeps previous width. I tried rebuild but it doesn't help. Thanks

[2020-11-04 16:59] GCobo commented on #305
@fmlharrison did you found a solution¿?

[2020-11-06 13:22] linxux commented on #641
Just fork someone's code snippet and add the `manually` show/hide tooltips.
Hope this can help you.

[![Edit reverent-beaver-2vc5s](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/reverent-beaver-2vc5s?fontsize=14&hidenavigation=1&theme=dark)

[2020-11-11 16:01] bakasmarius commented on #595
We just started using react-tooltip today and it also breaks our snapshot tests... Any update on this?

[2020-11-16 16:24] mawilmouth opened #643 "No style on tooltip when rendered in React Fragment"
When rendering a tooltip next to the target element in a React Fragment, the tooltip is not styled. Upon hovering, the tooltip does appear but does not have any styles applied to it. When I wrapped them in a div, it worked fine. I understand that this may not be a huge issue but I do think that a Fragment wrapper should be handled.

# This does not work
[code]

# This works
[code]

[2020-11-17 01:15] viniciusmurad commented on #324
Does anyone have the solution for this? I'm facing the same case :(

[2020-11-17 01:23] viniciusmurad opened #644 "Dynamic tooltip id inside tr react table"
I'm trying to use tooltip inside my table dynamically, but it doesn't work, is there any other way to do this?

[code]

[2020-11-17 05:19] viniciusmurad commented on #644
I resolved it on this way:

[code]

[2020-11-17 11:17] deiga commented on #506
We're seeing the same behaviour, is this a bug or meant to happen?

[2020-11-17 19:45] zedomel commented on #638
Any update on that?

[2020-11-18 03:29] daniloab opened #645 "tooltip with big text duplicate it"
when set a big text is duplicating the message

![Screen Shot 2020-11-18 at 00 28 46](https://user-images.githubusercontent.com/19939822/99479499-10fdb500-2935-11eb-9318-735f8a1e2184.png)

[2020-11-18 06:32] tonthanhhung commented on #418
Does anyone know there's an alternative option which works nicely with IE11 ?

[2020-11-19 11:37] efkandurakli opened #646 "When scrolling after putting mouse pointer to tooltip, tooltip is not hidden."
![tooltip](https://user-images.githubusercontent.com/23101629/99661294-af446480-2a74-11eb-8206-f91f4eb36ef2.gif)

[2020-11-20 06:09] fritz-c commented on #595
@marcogrcr Thank you for the initial ideas. I've found a workaround for the `Cannot find module` message that tests for package availability in a tricky sort of way to survive hoisting.

[code]

That should make the tests a bit more reliable across dependency and react-tooltip updates.

[2020-11-20 20:12] tim-phillips commented on #47
I had to do the following to stop from TS complaining:

[code]

[2020-11-20 20:41] docjsoftware opened #647 "Cannot freeze tooltip open via click event or other custom action"
A useful feature of this library would be able to toggle the tooltip "frozen" or "unfrozen". That way, the tooltip could be interacted with similar to a popover or mini-menu. Currently, it only stays open if you are hovering within the tooltip window or its parent.

[2020-11-21 10:55] AlexandreMouyen opened #649 "Html option (data-html) is not working"
Hello there,

I am trying to render an html content for my tooltip using _html_ prop but it is rendering an "object [Object]".

Even with the commented line.

With a simple text as _data-tip_ it is working correctly.

[code]

Can anyone help me? Did I miss something?

Thanks.

[2020-11-22 02:33] #597 closed

[2020-11-23 06:32] patricekaufmann opened #650 "4.2.11 no longer adds global __react_component_tooltip style"
The project I use this on has 2 entry points and it works for one entry point while it does not work for the other one. It used to work for both. The global style tag is missing, containing

[code]

[2020-11-24 03:13] mgtitimoli commented on #212
I came across with this issue today and after researching a bit I found the answer, have a look to mdn description
![image](https://user-images.githubusercontent.com/4404683/100041787-d094b000-2de8-11eb-9c82-4286f2e047df.png)

You might now have the answer, but if not, let me help you, **position: fixed** positions elements relative to the browser, but there is a catch, this work fine except for t

[2020-11-25 13:47] gajus commented on #650
If anyone runs into this while using next.js, just adding https://github.com/wwayne/react-tooltip/blob/master/src/index.scss to your global styles fixes the issue.

[2020-12-01 10:53] harshil-darji commented on #344
I have only one instance of `<ReactTooltip />` in a global layout component. There, I am calling
`
componentDidUpdate() {
    ReactTooltip.rebuild();
}`

It is working all fine for most components. The problem arises for components where I am using something like:
`this.state.data && <MyComponent />`

and within `MyComponent` I am using the react-tooltip. I could call componentDidUpdate method on

[2020-12-01 14:51] kristinadarroch opened #651 "Set MaxWidth on Tooltip"
It doesn't seem like there is a way to set the maxWidth on the tooltip. When given a long text block i need to tooltip have a set maxWidth so that it doesn't overflow the entire screen

[2020-12-02 18:58] sumthief commented on #650
Hey

I think my previous [PR](https://github.com/wwayne/react-tooltip/pull/636) could broke this functionality.

I tried to [fix it](https://github.com/sumthief/react-tooltip/commit/57fc1b3b8652cc0a6acc303f16af27d880106624) (looks like condition for `host` is unnecessary)

Checked on different apps:
* Clean CRA app
* Clean CRA app with tooltip rendered in Shadow DOM
* App inside iframe
* App insid

[2020-12-02 19:59] Knguy47 opened #652 "Unable to use React Tooltip without Content Security Policy directive, style-src: unsafe-inline"
A project I am currently working on would like to use React Tooltip without the use of style-src: 'unsafe-inline'.

Due to the configurating process: https://medium.com/@wwayne_me/how-i-insert-sass-into-my-npm-react-component-b46b9811c226#.gi4hxu44a

The style is being set inline when the React Tooltip is bundled for npm.

[code]
Link to transferSass.js: https://github.com/wwayne/react-tooltip/blo

[2020-12-04 08:41] kennylbj commented on #325
Any updates on this?

[2020-12-04 14:39] davinchee commented on #651
https://wwayne.github.io/react-tooltip/
Check out the examples with className, you can just create a class with max-width set and then do:
`<ReactToolTip className="my-custom-class">hello world</ReactTooltip>`

[2020-12-04 15:05] aronhelser commented on #325
The maintainers of this project will gladly accept pull requests to fix any
issues you encounter and can provide a fix for!

On Fri, Dec 4, 2020 at 3:41 AM kennylbj <notifications@github.com> wrote:

[2020-12-05 23:45] oliviervanbulck commented on #196
I had the same problem and with the latest version the problem was fixed without changing code. Thanks!

[2020-12-07 01:14] kennylbj commented on #325
Here is a workaround:
1. change position to absolute
[code]

2. set ``overridePosition`` to the desired position
[code]

[code]

[2020-12-07 14:47] idanaim opened #653 "tooltip is not close"
On version "4.2.11 there is a problem and the tooltip stays and not close...
Downgrade to 4.2.10 solve the problem.

[2020-12-08 13:04] gjvoosten commented on #650
@sumthief That doesn't appear to fix it for us: still shows a black line at the top of the content block (where the tooltip container is), shows the tooltip at the top of the content block instead of where it should be, and the tooltip also no longer hides itself. None of this is the case with 4.2.10.

[2020-12-09 08:24] sumthief commented on #650
Okay, It was blind try to fix it and it doesn't work 🙁

Can someone provide minimal repository for reproducing this issue?

[2020-12-09 20:46] bolducp opened #654 "question: multiple tooltips for different types of data events"
Thanks so much for your work on this great library!

I haven't been able to find anything in the docs or to get this to work locally on my own, so perhaps it isn't possible, but I thought I'd ask just to be sure.

Is there anyway to have an element that corresponds to two different tooltips? Specifically, I would like for one message to appear in a tooltip when I `hover` over the element, and I wo

[2020-12-11 07:50] BoresXP commented on #650
This happened for me too.
Let's see why it happens. injectStyles should do the trick but it doesn't because [domRoots is empty](https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L191).
This happens because getTargetArray returns empty array :) [here](https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L180).
getTargetArray searches for any element [having data-tip attri

[2020-12-11 10:43] Gus-2 opened #655 "Tooltip doesn't close when another is displayed"
I have a <td> balise that contains the data-event="click" that trigger the Tooltip when clicked.

Inside this td, I have a the Tooltip component balise that has the attribute globalEventOff="click" and work only if I click outside anything that trigger a tooltip. But when I click on another <td>, it opens another tooltip but doesn't close the tooltip opened before.

I saw on a stack post that I ca

[2020-12-11 11:19] GeorgeWL opened #656 "Request: add more options for triangle tip position"
In some cases I've wanted the option to put the triangle tip to a different position than the 4 which are provided.

I know I could do this through css overrides, but it would be nice to have extra options on the pointer position, or maybe an ovverrrideTipPosition function.

# Possible Implementations
* add 'top-left' 'top-right' 'bottom-left' 'bottom-right' etc as extra options on the place prop

[2020-12-11 11:54] tdzienniak commented on #305
I know the issue is old, but you can use `bodyMode` to make it work with virtualized components:

[code]

[2020-12-15 22:00] rahul-desai3 commented on #304
+1

[2020-12-16 01:01] sunweiyang commented on #653
Also running into the same issue.

[2020-12-18 11:04] dawidgola7 opened #657 "What to do to tooltip it was open all the time without any event ?"

[2020-12-23 09:38] monovenu opened #659 "how can I hide arrow?"
<ReactTooltip  arrowColor="transparent" />
      still can see arrow, arrow bg color is white.

[2020-12-24 02:03] #659 closed

[2020-12-24 02:04] monovenu commented on #659
It's ok. I found I set border color

[2020-12-27 01:52] jeffmath opened #660 "Tooltip often not repositioned after ID is changed to point at a different element"
When this issue occurs, the tooltip's position does not change to reflect that of the new target element, because the `return` is hit at line 541, thus skipping the call to `updatePosition()` which follows:
[code]
As a workaround, I've had to add a call to `updatePosition()` just before the return, as in:
[code]
As of yet, the added call doesn't seem to cause any unintended harm.

[2020-12-27 05:51] benbro opened #661 "npm install error - Invalid tag name ">=^16.0.0""
I'm getting an error when running npm install:
[code]
I'm trying to install this [app](https://github.com/versatica/mediasoup-demo/blob/v3/app/package.json) using:
node.js v15.5.0
npm 7.3.0

https://github.com/npm/cli/issues/1734

[2020-12-29 23:37] gurpreetsingh41333 commented on #258
thank you, it worked for me

[2021-01-04 21:29] bargangilo commented on #575
I'm also having this issue as well.

[2021-01-06 20:54] narthur opened #663 "Style elements make it hard to debug failing tests"
I'm using React testing library, which outputs the dom when a test fails. react-tooltip injects style elements into the dom, which make it hard to debug failing tests, especially when it results in the output getting cut off because it's so long. Ideally, I'd like some way to be able to turn off the style injection during testing.

Is there a way to turn off style element injection during jest tes

[2021-01-09 08:58] WKStefan opened #664 "Close Tooltip if other get open"
Hey,

i using your Tooltip for my Project. Now i have one Thing, that is really unfavorable.

I have nine Buttons with nine other Tooltip-Boxes. Now if i click on one Button the first Tooltip get shown. But if i click now the twoth or fourth Button, than the first Tooltip still shown and the others get shown. So there are many different Tooltip Boxes open.

Is there a possibility, that the first s

[2021-01-13 16:16] laurenz-glueck commented on #650
Will this issue be fixed anytime soon?

[2021-01-14 10:38] janeksmielowski opened #665 "Styles not injecting properly to shadow DOM"
Hi,

I've encountered a problem with styles not injecting properly, while using shadow DOM. They don't get applied :(
This was supposed to be fixed in `4.2.11`, but it seems to inject styles into `head` like before. I believe it should inject them into shadow root host.

Thanks in advance!

[2021-01-14 23:20] #665 closed

[2021-01-15 01:20] mmyoji opened #667 "Uncaught DOMException: Failed to execute 'appendChild' on 'Node': Only one element on document allowed."
This error happens with v4.2.12. https://github.com/wwayne/react-tooltip/issues/665

I thought this was because I didn't add `id` and `data-for` properly to some `react-tooltip` components and target elements, but that didn't solve the issue.

What should I do for it?

Thanks.

[2021-01-15 02:37] #667 closed

[2021-01-15 03:28] mmyoji commented on #667
thank for the quick fix 😄

[2021-01-15 03:38] roggervalf commented on #667
Thank you for the quick report

[2021-01-15 07:50] janeksmielowski commented on #667
Hi,

Can you provide some further information, why did this happen?

I can see, that you @roggervalf reverted `domRoots.push(parentNode || head)` to `domRoots.push(head || parentNode)`, but right now the tooltips will not work in shadow DOM again. Looking on the whole code, what is the reason to actually find parentNode, when it will never be used:
[code]

Maybe this should be replaced with someth

[2021-01-15 10:04] mmyoji commented on #667
Sorry, I didn't give the details.

You can reproduce this with the following commands and code:

[code]

Edit `src/App.js` like this:

[code]

then run `npm start`

React version is v17.0.1

[2021-01-16 21:08] AlexeyMilenkiy commented on #664
Hi. I faced this problem. I think I was able to resolve it. Please try this.
https://codesandbox.io/s/compassionate-spence-6bnwu?file=/src/App.js

I hope this helps.

[code]

[2021-01-19 19:47] aknee-dmi commented on #663
Running into this issue also.

[2021-01-20 08:22] rocioDEV commented on #646
Same here :(

[2021-01-20 09:13] WKStefan commented on #664
Thanks for your help :-) It works now.

[2021-01-20 09:13] #664 closed

[2021-01-21 15:28] EASYMOUNTAIN opened #669 "Style tag is not inserted in some conditions"
Hello there,

I have an issue with version 4.2.13, so far 4.2.10 works fine.
The <style data-react-tooltip="true"> tag and its content is not inserted in the page <head> after a page refresh.
This happens only in one page though, it seems ReactTooltip doesn't find any roots to insert the style tag in.

This is kind of weird, I cannot really provide an exemple right now, but if needed I'll try to r

[2021-01-27 16:14] nerdess commented on #110
having to add !important is still an issue...

[2021-01-28 15:14] LeoLetourneur commented on #649
Hello,

I have a problem using html=true and <br>. If I use <br>, it displays "[Object, object], [Object, object]".
If I remove it, it's fine.

[2021-01-29 01:03] kennybecerra commented on #649
@AlexandreMouyen I think your HTML needs to be a string.

@LeoLetourneur I am having the same issue. Tooltip displays "[Object, object], [Object, object]"  if I have a <br /> tag  inside my HTML

[2021-02-03 10:33] lieuweberg commented on #624
Simply `npm i -D @types/react-tooltip` resolved this issue for me.

[2021-02-04 00:45] hellofanny commented on #649
helloo, maybe you can try using an alias 🤔:

[code]

[2021-02-04 12:44] Garlink commented on #587
For those who are interested in solving this on Next.js (10.0.6), take a look at [THIS](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr).

In this case, I solved that warning and also the issues with tooltip position by including on `_app.js` like so:
`const ReactTooltip = dynamic(() => import('react-tooltip'), { ssr: false });`

Then, just:
`<ReactTooltip />`

So, no need to

[2021-02-10 12:33] princefishthrower opened #671 "Component has a built-in margin-top: -10px effecting page styling"
I'm putting the <ReactTooltip/> component in my root layout for a Gatsby site, so I can use tooltips on any part of my site. The problem is, I notice that this component seemingly has a built-in `margin-top: -10px` CSS rule.

Obviously, this will cause style issues on any page it is included in. How can I get rid of this pesky -10px `margin-top` rule?

[2021-02-10 23:05] ChrisShawK2 opened #672 "Toolip with dynamic content won't hide when getContent() returns null"
The tooltip target is a React component that holds a html canvas element.  As the mouse moves over different objects drawn on the canvas, the tooltip text reflects the currently-hovered object.

When the page is first shown, the mouse is over an empty portion of the canvas, and the Tooltip is not shown.

If the mouse moves over a shape drawn on the canvas, the tooltip appears, with the appropriate

[2021-02-10 23:15] ChrisShawK2 commented on #672
One more point:  If the mouse leaves the browser entirely (mousing to another portion of my screen), the tooltip remains visible (at its last-valid point), but it hides when the mouse re-enters the canvas.

[2021-02-11 22:03] DrewHoo commented on #669
I found this too. I installed different versions and saw it was introduced in 4.2.11

[2021-02-12 00:03] warrenc5 commented on #506
I worked around it by addind fast-memoize around my function - but  IMHO getContent should only get called after the event ** enabled

[2021-02-12 08:12] tonix-tuft commented on #506
@warrenc5 Could you share code snippet with us?

[2021-02-12 11:45] SivaramPg commented on #587
Thanks for this !

[2021-02-15 14:09] haresh14 commented on #449
@JesusJavierMoreno You are life saver man! Thank you! :)

[2021-02-16 04:44] #650 closed

[2021-02-16 05:57] warrenc5 commented on #506
pretty stock standard keyId is a long string but we think it's unique

[code]

[2021-02-16 06:03] warrenc5 commented on #506
I was calling the memoize function 10000 times   _M_renderCrewLocation = memoize(this.renderCrewLocation)

I moved the memoize into the constructor

[code]

[2021-02-16 07:48] gjvoosten commented on #650
I can confirm that release 4.2.14 does indeed fix this issue. :+1:

[2021-02-16 09:42] andreiho opened #673 "Error on `injectStyles`: "Failed to execute 'appendChild' on 'Node': Only one element on document allowed.""
Possibly related: https://github.com/wwayne/react-tooltip/issues/669

[code]

[2021-02-16 09:50] ayusshar commented on #673
Getting Kind of similar error

      Error: Uncaught [HierarchyRequestError: Invalid insertion of STYLE node in #document node.]
          at reportException (/home/ubuntuadmin/agent/_work/94/s/node_modules/jest-environment-jsdom-sixteen/node_modules/jsdom/lib/jsdom/living/helpers/runtime-script-errors.js:62:24)
          at innerInvokeEventListeners (/home/ubuntuadmin/agent/_work/94/s/node_module

[2021-02-16 15:35] sumthief commented on #673
Sad to hear new version still break things :confused:

@andreiho It would be great if you can provide more details about your use case.

@ayusshar please could you give more details about failing test?

Maybe you can provide minimal reproducible repository?

[2021-02-16 17:18] sumthief commented on #669
Please check 4.2.14. It should fix the problem.

[2021-02-17 05:09] jryd commented on #673
@sumthief I am getting the same error as @ayusshar and can provide a reproducible example:

`Attribution.js`
[code]

`Example.test.js`
[code]

[2021-02-17 09:17] Oliv commented on #669
Hello, thanks for the fix, it seems to work fine again !

[2021-02-17 09:18] EASYMOUNTAIN commented on #669
Hello, thanks for the fix, it seems to work fine again !

[2021-02-17 09:18] #669 closed

[2021-02-17 12:21] mumarm45 commented on #673
Getting the same error while running the test.

[2021-02-17 16:38] yakabay commented on #673
I'm also getting errors in my test for react-tooltip 4.2.14 (I'm using React Testing Library):

`console.error
Error: Uncaught [HierarchyRequestError: Invalid insertion of STYLE node in #document node.]
at reportException (.../node_modules/jsdom/lib/jsdom/living/helpers/runtime-script-errors.js:62:24)
at innerInvokeEventListeners (.../node_modules/jsdom/lib/jsdom/living/events/EventTarget-impl.js:

[2021-02-19 06:35] briangonzalez commented on #374
@mxcl your comment is gross

[2021-02-21 14:01] audn opened #675 "Warning: Prop `dangerouslySetInnerHTML` did not match."
Hey!

This code,

[code]

Seems to be giving me this:
![image](https://user-images.githubusercontent.com/21041399/108627331-4db9da80-7455-11eb-9c8d-46b3ce6608b2.png)

I've tried to use `<p>` tags instead of `<h1>` and so on, but I can't seem to get rid of it.
I do indeed have custom CSS on it, and it looks like this:

[code]

[2021-02-22 12:33] mlarcher commented on #673
Everything is working fine in Chrome, but we have the same `Invalid insertion of STYLE node in #document node.` all around when running the tests. Probably the recent upgrades are using a new way of inserting style in the document, that is not known to jsdom (which is used ifor the tests by react-testing-library)

[2021-02-23 09:59] kbokhonko commented on #661
Hi. Have you found a solution for this?

[2021-02-23 14:03] pmdpaula commented on #675
Same for me. It works, but I got this warning even if any option is passed.

[2021-02-23 14:08] #661 closed

[2021-02-23 15:41] audn commented on #675
"Glad" to see that I'm not the only one!

I've googled around, but I couldn't find *any* posts on it. Seems like theres a lot of open issues in this repo as well.

[2021-02-24 17:47] lipgartdmitriy commented on #675
This solution helped me. https://stackoverflow.com/questions/64079321/react-tooltip-and-next-js-ssr-issue

[2021-02-24 18:01] rardoz commented on #673
Also getting the same issue when upgrading to 4.2.14

[2021-02-25 14:05] pmdpaula commented on #675
Thanks. It works for me. I use useEffect, bur I'll try the react-tidy package too.

[2021-02-26 00:49] yc-yvonne opened #677 "Most recent version 4.2.14 breaks IE11"
Likely from this: https://github.com/wwayne/react-tooltip/pull/668

Causes a `Internet Explorer throws SCRIPT5022: HierarchyRequestError` in IE11

Method of injection is not supported

[2021-02-28 12:33] kod-man opened #678 "Where is correct placement for my Reacttooltip component ?"
We have 7 icons that we need a tooltip. I can find any good place for this  `**<ReactTooltip effect="solid" />**.` What is the best place for it?

[code]
![Screenshot from 2021-02-28 13-31-45](https://user-images.githubusercontent.com/54946794/109418569-62542080-79c9-11eb-9327-5017b6d7e1ac.png)

[2021-02-28 23:54] tokomeno-kaltura commented on #661
Having the same problem

before closing the issue please add the solution

[2021-03-01 13:23] nerfologist commented on #673
I'm still getting the error in 4.2.15 (testing with `@testing-library/react`:
[code]

[2021-03-02 10:59] tiagomsg commented on #677
Have the same issue, it's definitely due to #668.

`parentNode.constructor.name` returns `undefined` on IE11, that causes this [switch](https://github.com/wwayne/react-tooltip/blob/55f11ad361a9d52166ea6b2a1bb614acc0d6ef35/src/index.js#L191) to assume the `domRoot` is the `parentNode` instead of `parentNode.head`.

Think the fix would be to just change that switch to:
[code]

But not entirely sure

[2021-03-02 23:58] kraMaddi commented on #677
Getting the same issue for safari as well.
hierarchyrequesterror: the operation would yield an incorrect node tree.
The older version works fine

[2021-03-04 01:53] Jaygiri commented on #661
@tokomeno-kaltura try
[code]

[2021-03-04 07:58] Razielwar commented on #673
Is there any workaround as i'm stuck to test my components currently with the same error using react-tooltip 4.2.15 and testing-library/react 10.0.1

[code]

[2021-03-04 18:02] talyh commented on #673
@Razielwar - If you don't need anything specific from the newer versions, you can constrain the version in your `package.json` to be the latest known to not have this issue.
[code]

[2021-03-05 13:29] artem-deikun-katapult commented on #663
same issue on our projects :-(

[2021-03-09 16:10] eugenest opened #680 "Nested elements with tooltip"
Hi!

I have 2 divs with tooltips

[code]

but when I move cursor from child div to parent div tooltip data doesn't change

this is how it looks: https://prnt.sc/10h83bt

reproducible demo: https://codesandbox.io/s/react-tooltip-example-3116-forked-kh0oy

is there a way to solve this?

[2021-03-10 07:02] davinchee commented on #651
That's interesting, the max-width seems to be sufficient for my usage, but I am also placing the text in the tooltip within `<p>` tags. Nonetheless, if my solution doesn't work give @mikechabot's solution a try. :)

[2021-03-10 15:59] dmikester1 commented on #680
I am encountering basically the exact same issue.  The only difference is that I am using the solid effect to keep the tooltip stationary.  So I when I move back to the parent element, the tooltip doesn't show up at all.

[2021-03-10 17:52] dmikester1 commented on #680
Just thinking aloud here.  I feel like I need to add a 'onMouseLeave' event to the child component. Because there is no trigger to show the tooltip again because the mouse is still in the parent and is not re-entering the parent to trigger the tooltip to show again.  But I don't know what I would put in that 'onMouseLeave' event.

[2021-03-12 18:36] halented opened #681 "Package breaks react testing library out of the box: Invalid insertion of STYLE node"
In tooltip/src/index.js, on lines 202 - 208:
[code]

When running any basic test using React Testing library on a page that has a Tooltip element, this produces the error: `HierarchyRequestError: Invalid insertion of STYLE node in #document node.`

I've tried manually adding the baseCss, manually adding style tag, and/or manually adding an attribute on the tooltip itself or its targeted JSX tag wi

[2021-03-15 05:45] audn commented on #675
I can't seem to solve it, would you mind sharing your code here so I can try it out? @lipgartdmitriy

[2021-03-15 06:13] lyndonmoore commented on #681
Also having this problem while trying to update from Version `3.11.6` to `4.2.16` tests that were previously passing are now all failing with this error.

[2021-03-15 13:39] Jaguar1 commented on #515
Hello, where do you remove this css property from? Please explain.

[2021-03-15 15:56] kdhallu commented on #515
this css was attached automatically by the plugin so i wrote a additional css to remove it using !important

[2021-03-16 08:30] Jaguar1 commented on #515
Thank you for answering! It is strange I cannot find such a property inside the attached style block, but I may be looking at a wrong place. Could you please advise. This is the attached style:

[code]

[2021-03-16 19:48] hhorton2 commented on #681
+1 , I can confirm the same issue - reverting back to 4.2.8 fixed my issue.

[2021-03-17 15:59] PatrickTasse opened #683 "Regression: mouse over tooltip broken by #676"
In our application we want to be able to move the mouse over the tooltip to select and copy its content.

With 4.2.15 this is no longer possible because the tooltip instantly moves to follow the mouse, like an unreachable carrot at the end of a stick.

In our application the tooltip is defined within a large component, but the tooltip content depends on the mouse position being over items inside t

[2021-03-17 16:18] PatrickTasse commented on #683
I tried using delayUpdate but it did not help. Perhaps that could be a possible solution? If the tooltip is already showing, reposition the tooltip after delayUpdate, or immediately if delayUpdate is 0 or undefined?

[2021-03-19 12:46] A-F-V opened #684 "className not overriding"
[code]

I am using Next.JS and it the tooltip does not seem to be overriden by my class
The div inside with class="styles.ref" does work, but not the overall tooltip
(I am trying to increase border radius)

[2021-03-19 12:49] A-F-V commented on #684
I may have solved this.
You need to add !important after every css property

[2021-03-19 14:55] PatrickTasse commented on #678
I'm new to react-tooltip, but isn't this the case where you want to implement <ReactTooltip getContent={dataTip => dataTip} /> ?

[2021-03-20 13:55] anpct opened #685 "Giving user control on when the tooltip is rendered"
Currently the tooltip is rendered on initial page load , if there are a lot of tooltips the initial page load is really slow.

Why can't we add a feature where we give the user the ability to choose when to render the tooltip, either on initial load or if an event occurs (click, hover, etc).

This will give the user the ability to choose between faster initial load time or faster tooltip load time

[2021-03-26 07:02] KumarSumitD commented on #449
@josh-stevens I tried your solution. It works fine for first click. When i click again next time, even without clicking close icon or clicking outside, just on entering and coming out of tooltip closes the tooltip. It happens alternate.

[2021-03-26 09:11] antonfrolovsky commented on #449
Add someone already optional onClose handler :)

[2021-03-26 14:42] JaapWeijland opened #688 "Tooltips in Web Components"
Hi there,

I did the following:

`npm i -s react-tooltip`

I copied the example to a React application in a Web Component:

[code]

But it does not work. Has this something to do with the fact that my React component is embedded in a Web Component / custom element in a shadow dom?

**Edit:** I just changed `this.attachShadow({ mode: 'closed' })`  to `this.attachShadow({ mode: 'open' })`, and this

[2021-03-27 21:09] KumarSumitD commented on #677
We are also getting the same error. Is reverting to 4.2.13 fixes the issue ?

[2021-03-29 04:34] anhthi-ieig commented on #449
@josh-stevens ...Thank you for your solution

[2021-03-31 13:53] rannyeli opened #690 "Arrow customization"
Hey!
I'm trying to add a shadow to the tooltip arrow but can't find any option to customize this element except from changing it's color.
Is there any option to do some customizations for the arrow element?

[2021-04-01 13:40] rossettistone commented on #677
@KumarSumitD Reverting to 4.2.13 resolved the issue for us.

[2021-04-02 15:23] froston opened #691 "Accessibility issues with screen reader"
I'm having issues with the `react-tooltip` accessibility with screen readers. The library renders the tooltip structure in this way:

![image](https://user-images.githubusercontent.com/24678624/113428410-225bd100-93ad-11eb-9680-f7f7be876e7c.png)

That causes the screen reader to read all the style tag content before getting to the tooltip's text, which is not desired.
I guess the style tag should

[2021-04-02 19:52] whitehorse0324 commented on #133
I see this problem, too.
My npm version is 7.8.0
The version of react-tooltip is 4.2.17

Can you help me?

[2021-04-05 01:34] michaelpelagio9830 opened #692 "Placement is not working"
Hi I'm new to react-tooltip and I'm having a hard time why placement is not working
currently I'm using bootstrap classes.  I set place="bottom" yet in my app the tooltip still on the right side. is there something I'm missing out? I would appreciate any help.

![image](https://user-images.githubusercontent.com/48999538/113528188-73103b80-95f2-11eb-8938-c14488916d41.png)

this is the output

![ima

[2021-04-06 06:44] abdulbasit1248 commented on #374
This can be achieved using the place prop. Like if you have a question mark on the left side of the screen as I have. Then use place = right similarly left if the question mark is on the right.

`<ReactTooltip
        id={id}
        type="success"
        effect="solid"
        multiline={true}
        border
        textColor="#fff"
        place="right"
        backgroundColor="#042E60"
      /

[2021-04-07 03:15] aljorgevi commented on #692
same issue here

[2021-04-08 18:20] throttlehead commented on #692
I'm seeing the exact same issue. It seems if the element is snug to a left or right edge, the placement puts it on the opposite side instead of the top.

There must be some sort of dynamic calculation going on here that would need to be overridden.

[2021-04-08 18:30] rshelnutt opened #693 "EINVALIDTAGNAME - React peerDependencies Syntax"
https://github.com/wwayne/react-tooltip/blob/f6042904ea6cbea97398ae37a7d86f3d6b909111/package.json#L60

This dependency syntax is causing critical failures on dependency installs for npm v7.6.3. Can no longer include in builds - what's the expected behavior here? @roggervalf

Issue has been discussed here: https://github.com/npm/cli/issues/1734#issuecomment-696985167

[code]

[2021-04-08 19:22] rshelnutt commented on #693
Just saw this was resolved from a later merge, thanks!

[2021-04-08 19:22] #693 closed

[2021-04-09 14:43] jveens commented on #313
The fix above posted by @zackypick worked for me, but transitioning all properties did give a similar bug as described by @karashiiro. I am doing some custom positioning so that's probably come into play. The fix for me was to animate `opacity` and `visibility` instead of `all`.
[code]

[2021-04-12 20:31] handofthecode commented on #677
`HierarchyRequestError: The operation would yield an incorrect node tree.`
Safari: 14.0.3
react-tooltip: 4.2.17

[2021-04-13 14:10] yc-yvonne commented on #681
This is a duplicate of https://github.com/wwayne/react-tooltip/issues/677

[2021-04-13 22:59] willemarcel commented on #681
The 4.2.17 fixed this issue on my tests

[2021-04-15 07:47] michaelzhu23 opened #694 "Request: Add option to change border radius"
I think it'd be useful to have a prop to customize the border radius of the tooltip.

[2021-04-16 16:37] throttlehead commented on #344
Just a heads up for anyone winding up here looking at this that this function is **very expensive**. We have a paged list component that allows users to set up to 50 items per page. This function was being fired once per item on every render. Trying to change pages would basically max out my CPU for 30 seconds.

I was able to remove it and our tool-tips still worked fine. If you're having issues r

[2021-04-16 17:05] #548 closed

[2021-04-16 19:40] klinskyc commented on #596
I ran into this same issue, and ended up using https://www.npmjs.com/package/rc-tooltip as an alternative.

[2021-04-21 12:57] stilllife00 commented on #663
My workaround was to mock entirely the library with

[code]

but I think those repeated inline styles should be fixed regardless

[2021-04-22 07:48] sunnydong99 opened #696 "ReactTooltip.rebuild() shows correct tooltip with setState(), but does not hide tooltip from last state value"
Hello! I'm having a hard time with a dynamically rendered tooltip in a class component showing the correct text with state change on the page.
The state is set initially through props:
[code]
This works fine. And the handleAddItem() and handleRemoveItem() functions also change the state accordingly. I know those methods are working fine because the database is updating correctly and I checked the

[2021-04-22 11:20] palicko commented on #130
I solved it with Portal wrapper from https://github.com/wwayne/react-tooltip/issues/268 (which basically moves Tooltip to `<body>` element) and just increased `z-index` on the tooltip to be higher than modal.
This way, I didn't have to move Tooltip outside of the modal window.

[2021-04-22 12:02] vova42matters commented on #681
+1 for 4.2.17

[2021-04-22 14:35] LeonSkrilec commented on #675
I was having same problems with Next.js. I just imported component dynamically, with SSR disabled and it works.

`
import dynamic from "next/dynamic";

const ReactTooltip = dynamic(() => import("react-tooltip"), {
  ssr: false,
});
`

[2021-04-23 18:10] Sajanrav01 opened #697 "React tooltip - text padding"
Hi,

Thanks for wonderful library. I am trying to change the padding of  'data-tip' but I cannot able to make it .As we can see in the screen shot i am trying to change the padding of 'Begin search' to little bit left..Please help me out of this.

 I tried following way:

Added  below code in main.css

.customTooltipclass .__react_component_tooltip{
  padding: 8px 8px !important;
  }

and added be

[2021-04-23 22:49] #696 closed

[2021-04-25 14:41] Chetan11-dev commented on #134
@asidiali  is Correct Snippet
[code]

[2021-04-26 10:25] dworzycp commented on #677
Same issue here in 4.2.17

[2021-04-28 23:10] sometimescasey commented on #286
Adding `border='true'` results in the border CSS styles being ignored.

Oddly enough the arrow can still be styled when `border='true'`

[2021-04-28 23:57] sometimescasey commented on #697
I did this by passing a function to `getContent` and the styling the div wrapping my content:

[code]

and then in CSS:

[code]

[2021-04-30 15:23] ChuckD30 commented on #626
@jinguangze did you eventually find a solution to this?

[2021-05-02 18:39] tsrul commented on #304
If you have another tag in disabled button you can set tooltip on it as well.
<button disabled={true}>
<i data-tip="your tip"></i>
</button>

[2021-05-04 14:35] dahaca opened #698 "Mention the condition regarding will-change in the docs"
Recently spent several hours to find out why the tooltip broke only to realize that `will-change: filter` on `body` is the culprit. (#629 ) I think it would be useful to mention it in the docs to avoid others encountering the same problem :)

[2021-05-04 21:57] 01brett opened #700 "tooltips re-hover themselves after cursor has moved away"
I have been switching my CRA to Vite on a branch at work. One strange bug I've noticed is my react-tooltips have a strange new behavior where tooltips resurrect themselves and display the tooltip again even though the user has not hovered them again. I would like to keep using `react-tooltip` as I don't have the bandwidth to figure out positioning stuff.

![tooltips](https://user-images.githubuser

[2021-05-05 12:10] eltoro opened #701 "The Insecure option does not work"
The readme says:

But looking at the code it appears to be unused. Is this correct? Is there any way to not inject the styles?

[2021-05-07 18:04] 01brett commented on #700
I moved to a different library (Tippy.js) and refactored a lot of tooltips to be pure css using `::after` pseudo-elements.

[2021-05-07 18:04] #700 closed

[2021-05-17 09:17] ruMoonGuard commented on #677
Same issue here in 4.2.19

[2021-05-18 04:59] justinherrera commented on #468
`<span data-tip="test" data-class="tool-tip"></span>`

[code]

[2021-05-19 04:15] hkar19 opened #702 "React tooltip renders but does not show anything"
i tried to  render react tooltip along with react-simple-maps.
this is the basic structure
[code]

![image](https://user-images.githubusercontent.com/5562429/118755285-c8e32f00-b892-11eb-90ea-1f07ebec47de.png)

(in above case i inactivate `left` and `top` css so the tooltip would be in the page)

this occurs:

[2021-05-19 08:25] justinherrera commented on #449
A tooltip added a class of show when it gets appeared, you can get rid of that show class to hide the tooltip manually.

`<button className="close-tooltip" onClick={(event) => event.target.parentNode.classList.remove('show')>X</button>`

[2021-05-24 02:47] MtBlue81 opened #704 "Is IE11 no longer supported?"
I can't see the demo page in IE11 with v4.2.19.
no longer supported?

[2021-05-24 13:54] justinherrera opened #705 "Is there a way we can implement something like a beforeShow?"
I have to implement the tooltip in different areas and each has its own content, so I have to wrap the <ReactTooltip> in different component and call it with props. Since it is called, it has to render multiple times. I am now facing an issue that the tooltip doesn't open one at a time. I am thinking for a beforeShow function and call the ReactTooltip.hide() inside of it, so I can get rid of the o

[2021-05-25 09:21] jasur-n commented on #649
@LeoLetourneur @UnumIDAdmin Have you tried to add a `multiline` prop? In **[Options](https://github.com/wwayne/react-tooltip#options)** list there is a prop's definition:

![image](https://user-images.githubusercontent.com/66470467/119473067-3cd67900-bd64-11eb-807f-79652a814e8b.png)

I hope it will solve yout problem!

[2021-05-25 17:26] OlegGulevskyy commented on #690
Hey @rannyeli
what worked for me is adding my own custom class and over writing the styles of the component like so
[code]
Very hacky, but I am not sure what's a better way there is..

[2021-05-26 04:30] rscotten commented on #677
Confirmed that reverting back to 4.2.13 resolves the issue.

[2021-05-28 02:22] #691 closed

[2021-05-28 13:47] #677 closed

[2021-06-07 09:05] dspacejs commented on #110
This also has poor compatibility with Tailwind CSS and `twin.macro` (styled components for Tailwind). One hack is it just use `!important` globally in Tailwind (there's a setting for it), but I don't want to turn this on just for a single component.

[2021-06-07 14:12] gabibianconi commented on #594
Still happening!

[2021-06-08 16:13] 243083df commented on #704
@MtBlue81 check 4.2.21

[2021-06-09 00:35] MtBlue81 commented on #704
Thanks for the bug fix! 👍

[2021-06-09 00:35] #704 closed

[2021-06-10 00:16] GoodnatureBeacon commented on #702
I have the same issue. Tooltip won't display but is rendered in the html

[2021-06-13 07:52] targumon commented on #694
Anti-Request: dear library maintainers, please don't add props unless absolutely necessary.
And in this case it's not.

@michaelzhu23 Just use the existing `className` prop 🙂
JSX:
[code]

CSS:
[code]

[2021-06-14 02:02] hkar19 commented on #702
actually, i solved my react tooltip case in react simple map by adding this:
[code]

i dont know why but maybe you can read the caveat part in [this link](https://www.react-simple-maps.io/examples/map-chart-with-tooltip/)

[2021-06-15 06:46] vanessawuhoo opened #707 "anchor tag not clickable even with clickable={true}"
I'm displaying an anchor tag in my tooltip, and I'm able to interact with it by right clicking and opening it in a new tab, but ctrl + click and regular click does not do anything. I have passed the clickable prop like so:

[code]

I have also inspected the tooltip and validated that there's a class applying like so
[code]
so it doesn't seem that it's a pointer events problem like in previous issu

[2021-06-17 08:46] #493 closed

[2021-06-21 15:50] smellai commented on #374
I have this issue too. Looks like first render is correct and subsequent ones are wrong. This happens because I have multiple targets triggering tooltips in the same component and they are affecting each other positioning (because of how [getPosition is implemented](https://github.com/wwayne/react-tooltip/blob/master/src/utils/getPosition.js) I think). If I keep only one tooltip the arrow is posit

[2021-06-25 14:41] kurochkinSergei commented on #506
I had a grid of elements with tooltips on each item
debouncing `getContent` and keeping only trailing one did the job:

[code]

[2021-06-25 14:46] kurochkinSergei commented on #329
You can use [getContent prop](https://github.com/wwayne/react-tooltip#options) to render any content according to your `data-tip` prop

also you can `JSON.stringify` to pass any serializable data to `getContent`

[2021-06-29 19:29] tonix-tuft commented on #506
@kurochkinSergei The debounced callback is executed asynchronously in a timeout (either `requestAnimationFrame` or `setTimeout` for lodash). As you are using `trailing: true`, I guess that the first time `react-tooltip` calls `getContent` the result of the call is `undefined`. Then, only after `500ms` will the debounced callback get called, but how are you guaranteed to return the correct result t

[2021-06-30 02:09] NathZ1 opened #708 "Can't access .rebuild() static method when using functional components"
Hi everyone,

I am struggling to refresh tooltips with my conditional content. I know i need to rebuild after the content is updated, but I can't access the .rebuild() method...

In the past with functional components I would create a reference to the component to access its methods, but this does not work in this case. Please see below example -

[code]

Is this considered a bug or is there a wor

[2021-07-01 06:45] StefH opened #709 "Question: how to overwrite the left / right padding/margins using css"
I currently have this react code:
[code]

And this css:
[code]

Which renders **(1)**:
![image](https://user-images.githubusercontent.com/249938/124078766-90657200-da48-11eb-9ac0-b1078e71ea7a.png)

But I actually want the padding / margins left and right be equal to that example button **(2)**.
![image](https://user-images.githubusercontent.com/249938/124078803-9d826100-da48-11eb-9aef-c190cfed2f20

[2021-07-01 18:38] ardonjr commented on #709
Tried adding a simple 'padding' ?
I added  `padding: 5px; ` with the following result:

![image](https://user-images.githubusercontent.com/3910372/124173942-09e27c00-daac-11eb-8251-43a1501a1cb2.png)

![image](https://user-images.githubusercontent.com/3910372/124173965-1070f380-daac-11eb-9d1d-da5e0579bb29.png)

[2021-07-02 04:29] zoe-jqq opened #710 "i hope If the mouse hovers during content update, it is optional to update"
My content is a form. Every item has a delete button. After deleting, the tooltip does not automatically update the position. It is correct only when I quickly move out of the mouse position.  i have set
[code]
and
`delayUpdate={200}`

In another case, there is a cancel button in the form, and it doesn't work if you click to close the tool, because the mouse thover over the tool

So I hope that th

[2021-07-02 06:36] StefH commented on #709
Correct, for some reason I overlooked this simple fix (I was looking at the `place-left` css class to override).

Final solution:
[code]

[2021-07-02 06:36] #709 closed

[2021-07-02 08:47] zoe-jqq commented on #710
aslo  When I have a scroll bar in my form, I don't need to listenForTooltipExit

[2021-07-05 16:03] dipeshparashar commented on #144
@roggervalf How to keep it open. Can you elaborate. I have textarea inside the tooltop, i want to keep the state textarea value and the tooltip keeps closing during the state update

[2021-07-07 13:30] narasimhan26 opened #711 "div onClick is not firing inside React tooltip container"
I am using react tooltip container, where I have a div inside react tooltip container. upon clicking a div it should do some actions. but the facing an issue here seems the onClick listener isn't working inside react tooltip.

My code sample:

[code]

The onClick is not firing inside the tooltip container. Let me if I'm missing something. Thanks in advance :))

[2021-07-08 06:51] #711 closed

[2021-07-08 14:45] benlieb commented on #304
The workaround that worked best for me is to put the span inside the button:

[code]

[2021-07-10 16:01] huy1912 opened #712 "The tooltip shows underneath another component"
I've used the `@devexpress/dx-react-scheduler` for the calendar and tried to show the tooltip on each schedule. But the tooltip is shown underneath  (see the below screenshot). Do you know how to fix this issue?

<img width="358" alt="Screenshot 2021-07-10 at 11 56 56 PM" src="https://user-images.githubusercontent.com/2849751/125169006-d655cf00-e1da-11eb-913f-311f45aeea94.png">

Thanks & regards,

[2021-07-12 10:38] caffeinatedHuman opened #713 "ReactTooltip.show does not work in Functional Components"
**Description:**

I want to show the tooltip based on some logic, which means I'll execute `ReactTooltip.show` to show the Tooltip manually.

As of now, the example in the docs mention passing the reference of the target to the function, which is not working in my case.

Here is a link to the code sandbox I created, showing a sample structure of my code: https://codesandbox.io/s/reacttooltip-sandb

[2021-07-16 11:05] Ginso opened #714 "i get no tooltip for elements in array"
Hello, I'm trying to create tooltips for an array of elements, but i don't get any. What am i doing wrong?

[code]

[2021-07-20 08:26] Sir-hennihau commented on #712
@huy1912 did you fix it already? It's also happening to me

[2021-07-20 15:51] huy1912 commented on #712
@Sir-hennihau, still haven't got the issue yet. Will share if I found the workaround for it.

[2021-07-21 12:33] Sir-hennihau commented on #712
@huy1912 I had to fix z-index property on the div that my tooltip was hidden below. i removed it's z-index property.

if you want to keep using z-indexes keep that in mind:

Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).

[2021-07-22 10:55] filipealonso commented on #431
+1

[2021-07-22 18:44] grascioni commented on #295
I just used the afterShow function, like

`
afterShow={() => {
navigator.clipboard.writeText(someTextToCopy);
setTimeout(() => ReactTooltip.hide(), 1000);
}}
`

[2021-07-23 09:21] ptaberg commented on #512
Obviously this is a purely browser problem. It should to be fixed based on the HTML tag I guess.

[2021-07-26 11:48] amoghkapoor commented on #250
Hey, how did you proceed further, because I am not able to get a tooltip over a dynamic react component

[2021-07-28 20:50] Aryaman73 commented on #714
I'm not entirely sure what you're trying to do, but I think you need to add something to the RealTooltip tag, it can't be self closing:

Something like this:
[code]

[2021-07-30 17:48] frmysantana commented on #610
Is there a more permanent fix? I'm seeing this happen already in my dev environment with only a few tooltips. I tried the uuid approach, but that actually broke more tooltips.

Overriding the styles with custom classes seems to work far better.

[2021-08-02 22:24] Aryaman73 commented on #210
Not sure if this is working as intended, but it looks like with `wrapper="span"` there is a p tag there, and I'm getting a similar error:

![image](https://user-images.githubusercontent.com/53343807/127930973-cd322b00-0b34-424e-ad9f-0e879de539ca.png)

I'm using `v4.2.21`

[2021-08-12 10:29] ShawnCockburn commented on #712
@huy1912

I also had this issue, however I figured out that I was using the component incorrectly.
you haven't provided your code so I don't know if you're having the same issue, but this is what fixed it for me.

do this:
[code]

don't do this:
[code]

Hope this helps

[2021-08-19 07:40] shaharsa opened #715 "The tooltip doesn't work when using createPortal"
Hi,

When rendering the tooltip within `createPortal`, it doesn't function as expected.
[Portals - React](https://reactjs.org/docs/portals.html)

`import { createPortal } from 'react-dom';`

The mouse/click event doesn't work and doesn't toggle the `show` class.
In addition, the `data-tip` attribute isn't being reflected in the component itself.

When I use it outside the `Portal`, it works as exp

[2021-08-19 19:23] zakariaelas commented on #711
hey @narasimhan26 i'm currently facing the same issue, did you manage to find a workaround?

[2021-08-23 09:57] OriAmir opened #716 "Test tooltip with react-testing-libarary"
HI, it looks like we cant test the tooltip with `react-testing-libarary`.

Test:
[code]
It's failed to find the `tooltip data` text after the `mouseover` event.
From the error it looks like it's really not rendering to the screen, that's how the DOM looks like:

[code]

Any ideas? thanks!

[2021-08-24 09:44] liubq7 opened #717 "There will be a border line after clicking while applying to SVG element"
It will show a black and white border line of the svg after clicking
![image](https://user-images.githubusercontent.com/55693386/130595156-903398ce-75ac-4e04-9d02-d107dbf63cb7.png)

[2021-08-24 11:58] vlukashov opened #718 "tooltip position changes from render to render"
With `react-tooltip` 4.2.21 the tooltip position is unstable - the tooltip jumps around from render to render and sometimes it completely covers the anchor element:

![react-tooltip-issue](https://user-images.githubusercontent.com/22416150/130611921-3993b7cd-ea6d-4e4b-9aa3-2d9fa919a741.gif)

[code]
Full demo: https://codesandbox.io/s/reacttooltip-issue-demo-xggki?file=/index.js

This issue looks s

[2021-08-29 10:48] OriAmir commented on #716
Thanks @LissetteIbnz  !
So basically you say that regular `fireEvent` not working in this case? interesting why?

[2021-08-29 12:04] LissetteIbnz commented on #716
I'm sorry, I wouldn't know to say you. I always use this library for user events by default.

[2021-09-01 08:28] aurelien-gaillard commented on #377
My workaround was to hide all tooltip with a `onMouseEnter`

[code]

[2021-09-05 02:11] shapkarin commented on #661
@Jaygiri can you please explain why that happens? because I got that error at `npm update` and does not looks like I can fix it with `npm install --legacy-peer-deps`

[2021-09-05 23:43] seiyab opened #719 "Why `!important` is required?"
MDN says

    Only use !important on page-specific CSS that overrides foreign CSS (from external libraries, like Bootstrap or normalize.css).
    Never use !important when you're writing a plugin/mashup.
    Never use !important on site-wide CSS.

https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#the_!important_exception

related: https://github.com/wwayne/react-tooltip/issues/684

[2021-09-06 01:20] Jaygiri commented on #661
@shapkarin I haven't tested `--legacy-peer-deps` with `npm update`. May be that fix works for `npm install` since peer deps where ignored.

It is possible that you have found some issue with npm because as per [documentation](https://docs.npmjs.com/cli/v7/commands/npm-update#strict-peer-deps) `--legacy-peer-deps` should work with `npm update`.

That said I don't know what was the legacy behavior p

[2021-09-07 01:56] shapkarin commented on #661
@Jaygiri make sence, `npm i --save react-tooltip@latest` helped

[2021-09-08 15:57] amerllica commented on #675
Actually, @LeonSkrilec 's answer is correct, but what if the project won't based on `next.js`?

The good and native pure solution can be [this SO link](https://stackoverflow.com/a/69106215/6877799)

[2021-09-14 12:10] konsalex commented on #449
To add on @stearagon response, to solve this in Typescript I did the following:

[code]

[2021-09-14 22:57] Johnrobmiller commented on #313
Is this possible with Next.js?

[2021-09-15 01:11] Johnrobmiller commented on #719
!important should not be necessary.  This is very awkard and clunky design.  It also makes it impossible to use css libraries like Tailwind with React-Tooltip.

[2021-09-15 14:33] aronhelser commented on #719
I agree. Please submit a PR if you are able to fix it!

On Tue, Sep 14, 2021 at 9:11 PM John Miller ***@***.***>
wrote:

[2021-09-16 12:35] seiyab commented on #719
Oops I misunderstood the cause.
I considered `!important` is required because react-tooltip uses `!important`.
Actually, it doesn't use `!important` and higher specificity works well.
On the other hand, requiring `!important` or higher specificity is inconvenient as mentioned https://github.com/wwayne/react-tooltip/issues/719#issuecomment-919620221 and I think this issue is still meaningful.

[2021-09-17 11:16] amittras-pal commented on #655
Is there an update on this issue.
We require a similar functionality hwere there should be only one tooltip instance displayed on the screen.
However, I can open multiple tooltips simultaneously.

A workaround would also be appreciated.

[2021-09-18 03:36] seiyab commented on #719
The cause seems to be rendering `style` tag inside the `body`.
[MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style#multiple_style_elements) says:

Usual libraries add `style` tag inside the `head`. So our style will be overriden.
react-tooltip seems to violate:

written in [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style)

https://github.com/wwayne/react-tool

[2021-09-22 07:50] angel-langdon commented on #300
the onScroll part is really important, otherwise it is not going to work

[2021-09-26 16:26] huy1912 commented on #712
Thanks @ ShawnCockburn, I've tried with your solution. The issue still hasn't been resolved. Not sure due to some other reason.

[2021-09-26 16:33] huy1912 commented on #712
Thanks @Sir-hennihau, I've checked the calendar item whose position is absolute but it doesn't have any z-index.
Even though I forced the tooltip's z-index to 999. The issue is still the same.

[2021-09-28 10:58] TAGC opened #721 "Incompatibility with React Testing Library"
I've managed to set up some tooltips using this library but I'm having a lot of difficulty updating my tests because it seems like the React Tooltip element does some strange manipulation of the DOM.

I use React Testing Library for my React unit tests. Not only can I not easily test the tooltip itself, but all of the other tests in the same suite are now flaky in the sense that they now pass or f

[2021-09-29 15:24] joeyfigaro opened #722 "Tooltip not dismissing on page/url change"
Currently facing an issue where a tooltip is [displayed for a button in a toolbar](https://joeysharesthings.com/yVmJlE) but [doesn't go away when the button is clicked and the app navigates to a new view](https://joeysharesthings.com/QiXznd).

We're working around this by manually calling `hide` in the click handler.

[2021-09-30 07:45] indranil commented on #714
@Ginso and anyone facing this problem:

If your data, ie: `messages` is dynamically loaded from an external request, react-tooltip will not know about them, so you need to rebuild it.

Using hooks, for your specific case:

[code]

This will allow react-tooltip to pick up the new elements

[2021-10-01 17:39] yasin-vibely commented on #710
@wwayne  yea. sometimes we want hide directly but it waiting with `listenForTooltipExit`.

[2021-10-02 12:52] FreePhoenix888 opened #723 "Add `tooltip` to every `data-` attribute"
`data-type` and such type of attributes can be reserved for app. It would be great to separate attributes for this library from other libraries' attributes. Of course, it is better to not use `data-type` at all and name it like more describing why it is used `data-modal-type`, `data-smth-type` and so on. Reason:

So I offer to rename attributes this way:
* `data-type` -> `data-tooltip-type`
* `dat

[2021-10-05 15:47] chimak-dnb opened #725 "Issue providing 'click' as both open and close action (with other close action as well)"
This is somewhat similar to [this issue](https://github.com/wwayne/react-tooltip/issues/123), which helped me diagnose my issue.

So I want to be able to open a tooltip with a click, but close with either a click or a hover.

1. Providing just 'click' works great for opening and closing with click.
2. Providing just 'click' for event and 'mouseleave' for data-event-off works great for click -> sho

[2021-10-06 02:28] altern opened #726 "Adding className or class prop does not result in adding its value to the class property of tooltip div"
Version: 4.2.21
React code:
[code]

HTML generated: ```<div class="__react_component_tooltip t724ff40a-5699-4bf1-9fd7-7295f4f8e414 place-bottom type-dark" data-id="tooltip"><span>Test tooltip</span></div>```

[2021-10-07 10:27] oqnunes opened #727 "ReactToolTip Prop Place"
### Is it possible to place the Box on the right side of the icon as expected?

<img width="486" alt="Screenshot 2021-10-07 at 11 19 55" src="https://user-images.githubusercontent.com/45077154/136366257-50d0a6e0-fab1-46e4-aaa0-ce005ed43f58.png">

(Notice by the triangle in the black box).

I know the green box is bigger than the rest of the space on the right side, however, is there any way to res

[2021-10-07 17:28] sanjaykc opened #728 "Accessibility issues due to "aria-hidden" attribute"
Getting below accessibility issue due to "aria-hidden" attribute

**Violation**:
ARIA attributes must be valid for the element and ARIA role to which they are assigned
![image](https://user-images.githubusercontent.com/3944650/136433918-77b4ce4e-34b4-4a2e-80a2-4781807a2426.png)
![image](https://user-images.githubusercontent.com/3944650/136434232-f6e89183-c0e0-4516-9080-ac4d82268c0a.png)

[2021-10-16 13:35] boly38 commented on #640
duplicate tooltip related another issue: #645

[2021-10-18 05:23] maheshmaf commented on #717
add to the svg / inner element, for which you have used data-tip
outline: none !important;

[2021-10-29 18:16] dearamerican commented on #691
Ah, actually I've got it sorted--thanks anyway! For folks coming to this thread trying to make accessible tooltips, here's what worked for me:
[code]

Use `event="click"` on ReactTooltip (so activate on click, not on hover), because otherwise keyboard users cannot trigger the tooltip when it is focused.

Adding `aria-controls={id}` gets the info announced by screen readers on trigger.

[2021-11-01 01:38] geloski43 commented on #334
I'm having the same problem until I assigned a dynamic id in ReactTooltip and data-for  the element.

[2021-11-02 08:37] sgurillo commented on #711
@zakariaelas I've tried in different ways your solution but didn't work for me. This is a sample of my tooltip, I want to fire the alert in "My action" button, thank you so much :)

https://codesandbox.io/s/busy-clarke-xl21f

[2021-11-02 11:16] zakariaelas commented on #711
Hey @sgurillo, does this solve your problem https://codesandbox.io/s/gifted-parm-42xel ?

[2021-11-02 11:26] sgurillo commented on #711
@zakariaelas yeah it does! Thank you so much dude!

[2021-11-05 14:57] penfold45 commented on #713
Any luck on resolving this as I am having the same problem

[2021-11-05 15:19] nerdyman commented on #295
For anyone using hooks, this will ensure the timer gets reset if the user repeatedly clicks on the tooltip trigger after the timer has started.

[code]

[2021-11-08 06:28] maniac-tech commented on #713
Yes, I was able to achieve the desired result with the help of `useRef`

[2021-11-08 17:19] stevenKirill commented on #726
it seems you are using this component wrong, I checked it and it added my css modules class. You should add data-tip attribute to the dom node you are trying to render to your component, maybe its not working because you are using portals.

            <ReactTooltip
                id="100200300"
                type="dark"
                place="top"
                className={classes.tooltip}

[2021-11-08 17:44] stevenKirill commented on #727
There are too many icons on this picture, which one you are hover on to open tooltip? By this picture it seems that you are hovering on turquoise block.

[2021-11-09 07:09] stevenKirill commented on #708
It seems you should use data-for attribute for dom node (your component) and dynamically change ID prop for ReactTooltip component then it will match data-for === id and will re render when you hover for different components. It is not unusual case tho

[2021-11-09 10:40] LennartSpitzner opened #729 "style position rounding"
Hey, thanks for the package!

I run into an issue about placement with active browser page zooming. Positioning is off by a few pixels (which is not very noticable, but breaks some add-on behaviour we have). But it made me wonder, why does react-tooltip appear to truncate numbers when assigning element's position (style).

The fix for #146 involved adding `parseInt` as.. a means to do rounding? I

[2021-11-09 10:42] LennartSpitzner commented on #729
sorry, did not mean to send that stub of an issue, but apparently "enter" means "publish".

[2021-11-10 12:16] Rajeswari47 opened #730 "UnitTesting: Getting TypeError: _reactTooltip.default.hide is not a function"
I have created a component using ReactTooltip library, below is the source code:

import * as React from 'react';
import ReactTooltip from 'react-tooltip';

export const TooltipText = () => {
  return (
    <div className={classNames(props.className)}>
      <span
        aria-label="tootipText"
        onKeyDown={ evt => {
          const trgt: any = evt.target;
          ReactTooltip.hide (trgt)

[2021-11-11 10:25] whiteadi opened #731 "Thema/Type is not applied at first render, default dark is set even if the type prop is light"
I have the tooltip as this:

[code]

and first render has it with dark type and it is also not working, if i do some other action and get back to it it has the hardcoded light theme/type and working.

[2021-11-12 19:05] NachoKai opened #732 "Clicking inside tooltip content and moving the mouse away closes the tooltip"
Hi, I have simplified the problem in this demo: https://stackblitz.com/edit/react-rv7mmr

As you can see, clicking inside Content and moving the mouse away closes the Tooltip.
Commenting isCapture in ReactTooltip solves the issue, but makes the Tooltips keep opening without closing the previous ones.

[2021-11-15 08:53] rahulsinghk commented on #701
I am facing the same issue. ?

[2021-11-15 19:12] dmikester1 commented on #319
I also would like to figure out how to keep the tooltip open, so text from the tooltip could be copied by the user.

[2021-11-15 19:20] dmikester1 opened #733 "select and copy text in tooltip"
I am trying to figure out how to be able to select and copy text in the tooltip.  I am having two issues.

The first is that the tooltip disappears when I move the mouse from the trigger element.  I can add a delay I guess, but then I am guessing how long it will take the user to copy the text.  So I would like the tooltip to show until another one is shown or maybe a click event outside both the

[2021-11-15 19:23] dmikester1 commented on #733
OK, so apparently I did a bit more digging and found the 'clickable' property.  That seems to have solved both issues!!

[2021-11-15 19:23] #733 closed

[2021-11-17 20:10] evgenyfadeev commented on #304
^ you have to style the span though to be full height of the button, otherwise the tip will trigger only over the text.

[2021-11-17 23:50] NachoKai commented on #732
Solved it with
`	const stopEventPropagation = e => {
		e.stopPropagation();
	};`
and
`afterShow={e => {
					window.addEventListener("mouseleave", stopEventPropagation, true);
				}}
				`
`afterHide={e => {
					window.removeEventListener("mouseleave", stopEventPropagation);
				}}`

[2021-11-17 23:50] #732 closed

[2021-11-18 07:46] msjh80311 commented on #591
+1
Can anyone help with this?

---

## How to reproduce
1. More than 1 tooltips on a page
2. On iPad/iPhone
3. Set the `effect` prop to `solid`
4. Click on the tips, everything looks fine at first.
5. Click on the tips again. The tooltip contents become invisible.

## Expectation
Showing solid tooltips correctly every time when clicking on the tips.

## More information
1. **The first tooltip** on

[2021-11-21 08:24] dana2208 opened #734 "Minified React error #185"
Hello,

![image](https://user-images.githubusercontent.com/10193337/142754770-0ea25057-26a4-467b-b4e5-aa2ed71f0fd0.png)

It is a bug that I have when I run the automation test (not on regular test) and it is related to the ReactToolitp that I had added. Without ReactTooltip, there is no error. Moreover it is written in the error 'ReactTooltip'.

Can you help me in figuring out what it is?

Thanks!

[2021-12-01 13:51] cgat commented on #568
@rathpc I'm guessing your comment is a bit stale now, but for anyone interested, it does seem like the props for the tooltip are exported in the `.d.ts` file.

This works
`import ReactTooltip, { TooltipProps } from "react-tooltip";`

[2021-12-01 14:29] oliemansm commented on #652
@Knguy47 Did you ever find a solution or did you switch package? Seeing the same problem today.

[2021-12-07 17:27] wmertens commented on #721
TL;DR but I was able to get consistent snapshots by passing my own unique id for each tooltip as the `uuid` prop

[2021-12-07 17:33] filipkowal commented on #248
If the event target is an SVG, the tooltip will appear only on hovering over the strokes.
Can easily be fixed:
[code]

[2021-12-08 01:13] eliranmal commented on #304
this is probably gonna be hard to solve without introducing some higher-level code (which, i'm not sure is desired for this library); the issue stems from the native behavior of disabled elements (see [this demo][1] for an illustration of this behavior).

_details:_

the way that react-tooltip responds to user interaction relies on binding native dom events to the button (namely, `mouseenter` and

[2021-12-10 00:56] eliranmal commented on #304
also, here's my current take for a workaround:

    export default const FormControl = ({
      tag: FormControlType,
      ...props
    }) => {
      const tooltipAttributes = Object.entries(props)
        .filter(([key, value]) => key.startsWith('data-'))
        .reduce((accum, [key, value]) => {
          accum[key] = value
          return accum
        }, {})

      return props.disabled &&

[2021-12-10 06:36] dominggo1999 commented on #377
i use onMouseDown to hide all tooltip

try it here : https://codesandbox.io/s/staging-feather-3q69z?file=/src/App.js

[code]

[2021-12-13 14:59] simonantony12 commented on #701
Insecure option is not working for me too

[2021-12-14 01:42] sabetAI opened #737 "How to implement async getContent?"
I'm trying to include async function calls inside the `getContent` method for a tooltip as follows:

[code]

but get the following error: `Uncaught Error: Objects are not valid as a React child (found: [object Promise]). If you meant to render a collection of children, use an array instead.`

What's the proper way to implement a tooltip with async content?

[2021-12-15 11:16] sashabur commented on #269
https://github.com/wwayne/react-tooltip/issues/218#issuecomment-260597272

[2021-12-15 11:18] sashabur commented on #589
@itmart have you found a solution?

[2021-12-15 22:16] powelski commented on #344
I was thinking, why is React Tooltip designed in a way that needs rebuilding? Why doesn't it use mouse over event on the container to find pointed element's potential tooltips? The way it works now, with the rebuild, feels very jQuery-esque.

[2021-12-16 11:54] evsheino commented on #721
A style element is added to the document here: https://github.com/wwayne/react-tooltip/blob/018c4bc909a781bacd02438be20441afd54c0944/src/index.js#L208-L216

This element is not automatically removed, and so tests are not independent. As a workaround the element can be removed before each test to fix the issue:

[code]

[2021-12-22 10:28] DvoeglazovIlya commented on #655
The same problem.
Any ideas how to hide another toolpips or maybe add z-index higher then other toolpips?

[2021-12-22 10:36] DvoeglazovIlya commented on #655
Maybe it help, add  isCapture={true} to your tooltip
https://github.com/wwayne/react-tooltip/issues/590

[2021-12-22 11:27] squiaios opened #738 "Is there"
Hello,

The delayHide props hide the tooltip after the mouse is out the element

Is it possible to hide the tooltip after a delay even when the element is still focused please ?

Thank you

Here a quick & dirty codesandbox :

[![Edit old-snow-e2exs](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/old-snow-e2exs?fontsize=14&hidenavigation=1&theme=dark&view=preview)

[2021-12-23 17:34] nmartinezb3 commented on #358
You can fix this by placing an empty `div` in your body and use portals:
[code]
[code]

[2022-01-06 19:49] efrymire commented on #449
Clarifying the solution here a little for current hooks users based on some confusion I had:
There are two parts required to make this work.
1. Setting the `tooltipRef` of the `ReactTooltip` component as null. Initially, I thought this meant setting the ref itself as null. But I see now that it's just the property on the class. That is the difference between `tooltip.current = null` and `tooltip.c

[2022-01-09 15:10] adamhp commented on #219
[code]

Still experiencing this issue in 4.2.21.

If you're using React, you can modify the above workaround to the following:
[code]

[2022-01-11 13:06] amauridiastc commented on #396
Hi Guys, any solution to this problem?

[2022-01-13 21:03] mledwards opened #739 "Can you load a page with the tooltip visible?"
I'd like to have the tooltip visible on page load, instead of on click. Is this possible?

I tried using a ref, and then triggering click, but it didn't seem to work.

Thanks!

[2022-01-17 11:47] bonesoul commented on #731
same issue here.

[2022-01-17 11:49] bonesoul commented on #675
same issue.

[2022-01-17 13:10] whiteadi commented on #731
the way I fixed it, having it inside a modal:

[code]

[2022-01-17 13:11] bonesoul commented on #731
i replaced it with https://www.npmjs.com/package/@tippyjs/react which is perfectly happy with SSR.

[2022-01-18 05:39] mdodge-ecgrow opened #740 "Setting z-index with className"
Not sure why, but I cannot figure out how to set the z-index with the className.  I tried it with a number an a string and neither did anything.  I am using it in a modal and following the troubleshooting steps on the mian page.
`If your modal's z-index happens to be higher than the tooltip's, use the attribute className to custom your tooltip's z-index`

This is my code:
[code]

[2022-01-19 15:35] ncesar commented on #57
This would be an awesome feature to be able to change the tip's position making it still be responsive.

[2022-01-20 08:00] sarnielmorgia commented on #308
Had the same issue before and manage to fixed it. It is something to do with the css transform. Make sure to put transform: none; to your main container and voila!! your welcome.

[2022-01-25 23:27] ycz opened #741 "Add information on bodyMode to the README"
I've had issues with binding of tooltips to dynamic content in one of my projects for a while now, and was using the method suggested in the README of calling `ReactTooltip.rebuild()` whenever the content changed, which was causing performance issues. Someone I was working with found out about the existence of `bodyMode` by digging through the codebase, and after trying it out I found that it basi

[2022-01-28 05:07] ngotrongphuc commented on #712
any update? i got the same issue, i tried to change z-index of react-tooltip to _999999 !important_ but it doesn't work
![Untitled1](https://user-images.githubusercontent.com/72039796/151490562-208425d0-c420-4a15-b597-3c3d4e04d899.png)

[2022-01-28 16:05] shye0000 commented on #701
not work for me either

[2022-01-28 16:10] simonantony12 commented on #701
I switched to  OverlayTrigger, Tooltip from react-bootstrap. It works fine with strict csp

[2022-01-31 17:17] #731 closed

[2022-02-01 04:27] DeveloperBlue commented on #672
To your last point, where the tooptip remains visible even after leaving the browser:

I just ran into this issue, and had to use this workaround. It listens for when the mouse leaves the document window and calls ReactTooltip.hide();

[code]
[Source](https://stackoverflow.com/questions/923299/how-can-i-detect-when-the-mouse-leaves-the-window)

I only tested this on Chrome 97, so YMMV on other bro

[2022-02-03 13:35] lorenzfischer commented on #334
I tried this, but it didn't help with the performance.

I think there is a bug here somewhere...

[2022-02-04 07:17] alexlouden commented on #701
Yeah, it's unused:

https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L149-L155

[2022-02-10 10:42] Arshad561 commented on #570
+1 need some way to disable data-event

[2022-02-15 06:43] lordvcs commented on #643
Same issue here too

[2022-02-15 06:57] lordvcs commented on #643
https://github.com/wwayne/react-tooltip/issues/610#issuecomment-654349371
this solved the issue for me <ReactTooltip uuid="<some-uuid-here>" />

[2022-02-17 11:37] jxxp9 opened #744 "Dependency uuid latest makes react-tooltip not IE9-11 friendly"
The `uuid` dependency uses a random number generator that has problems with missing Web API in IE9-11.
Options are:
- use an older version of the lib?
- use `v1` or` v2` as imports of the uuid library and specify a basic custom random number generator function

The latter is preferable, since we don't really need our UUIDs to be cryptographically secure, we just need some pseudorandom uuid with re

[2022-02-18 08:52] hmmhmmhm commented on #675
@LeonSkrilec thanks you saved me 😃!!

[2022-02-19 19:59] boly38 commented on #645
by reading the readme, I fixed the twice tooltips on my side by adding unique `id` and `data-for` on my elements. 👍

[2022-02-21 20:10] ZsuzsaMano commented on #690
Hey, I have a similar issue. but I would like to replace the arrow with my custom arrow.
![image](https://user-images.githubusercontent.com/51864343/155020158-0b51d87a-58ea-484b-b229-cc64eaaf52e5.png)
 Any tips on this? With a thicker border the original arrow looks quite bad.

[2022-02-28 13:20] angel-langdon commented on #300
I ended up using `Material UI` tooltip, it works out of the box https://mui.com/components/tooltips/

[2022-02-28 19:37] aronhelser commented on #300
@angel-langdon How do you think the material UI tooltip and this project compare? Are there missing features? Would you recommended it generally, or only in specific cases?

Since this project is not actively developed, it might be nice to gather some recommendations like this...

[2022-02-28 21:11] angel-langdon commented on #300
@aronhelser I am not an expert in `react-tooltip` nor `Material UI` but `Material UI` tooltip works out of the box even in the `react-virtualized` context, no need for weird code (technical debt) in `onScroll` event handler.

[2022-03-02 13:50] NisanAyash commented on #594
any solution for this issue?

[2022-03-08 18:47] rickyzhangca commented on #740
add a class in your css called `abc` and use `abc` as your `className`. Then inside `abc`, do `z-index: 9999 !important;`.

[2022-03-08 21:44] rickyzhangca commented on #671
happening to me as well, the result is the bottom of the tooltip is pointing 10px lower...

[2022-03-14 14:49] Osamah-learn commented on #675
In case you are using any server-side rendering (like Next.js) - you will need to make sure your component is mounted first before showing the react-tooltip. I fixed this by using the following:

You should wrap your JSX in the following component:

import React, { useEffect, useState } from 'react';

const NoSsr = ({ children }): JSX.Element => {
  const [isMounted, setMount] = useState(false);

[2022-03-23 07:43] uniqie opened #746 "hideTooltipOnScroll"
I noticed that this function is bind to window. However, if i used ReactTooltip in containers which can scroll，this function woudln‘t take effect.

[2022-03-23 09:42] ItsTarik commented on #203
Hello and thanks for the solution proposed! I don't understand why this is not implemented inside the library yet ? It was not too simple to test the up-voted solution already, I'm using nextjs and i used this approach in a customized global instance:

[code]

[2022-03-23 13:18] jesuslencina opened #747 ""place" prop not working"
I noticed that the tooltip seems to stick to the `left` position no matter what. According to the docs, placement by default is `top` (which is the one that'd work best in my project), however it sticks to `left`.

And even if I pass the props as `place="top"`, it will save the value to `desiredPlace`, but the tooltip will keep displaying to the left.

Here's a screenshot from the react dev tools:

[2022-03-24 18:57] tillbecks opened #748 "Recalculate Position on Content Change"
Hi, I've implemented a Tooltip which changes its content via its getContent function.
The content changes when you press the left mouse button and changes back when you release it.
The content changes as intended, but the position of the Tooltip doesn't change at all.
To be exact the position of the left upper corner stays the same through the content changes.
The position is corrected when e.g. I

[2022-03-25 16:47] tillbecks commented on #748
Kind of a fix is to update the content every millisecond, but I don't think this is a good solution.

[2022-03-27 09:58] Stophface opened #749 "When mapping through array, no tooltip showing, although its rendered"
This should be pretty straight forward, but I cannot get it working. I have an array `SHIFTS` through which I loop. For each `shift`, I want to create a `tooltip`. The `tooltip` is showing in the `DOM`, but it is not rendered on hovering...

[code]

[2022-03-29 07:52] horaczech commented on #739
Works for me when using ref and calling ReactTooltip.show(ref.current) on useEffect with small timeout
`const Tooltip = ({ tip, color }: TooltipProps) => {
    const myRef = useRef<HTMLDivElement | null>(null)
    useEffect(() => {
        if (myRef && myRef.current) {
            setTimeout(() => {
                ReactTooltip.show(myRef.current)
            }, 50)
        }
    }, [myRef.current

[2022-03-29 08:20] horaczech commented on #749
You have to specify the text (data-tip='tip text'), currently you have data-tip an empty string.

[2022-03-29 08:47] Raepheles opened #750 "ReactTooltip next.js dynamic import with typescript"
<img width="549" alt="image" src="https://user-images.githubusercontent.com/15704228/160566458-74e70752-17f0-45e0-8e56-ce0a41b8e715.png">

As you can see on the image above dynamically imported `react-tooltip` component doesn't show any of its static methods or TooltipProps for that matter. When component is directly imported from `react-tooltip` it returns the ReactTooltip class that extends `Rea

[2022-03-29 12:27] ItsTarik opened #752 "padding is not an option"
Hello and thanks for the effort, i don't know why the docs mentions a padding prop perhaps its not proposed as an option in the component ? I'm trying to customize the padding of the rendered popup ?

[2022-03-29 17:01] Stophface commented on #749
@horaczech That is not helping. I changed it to

[code]

and no luck... Still no tooltip.

[2022-03-30 00:27] FedeTommi opened #753 "[Feature request] make arrow size customizable"
Would it be possible to add a new prop "arrowSize" to change the size of the arrow?
like so:
[code]

[2022-03-30 05:29] horaczech commented on #749
I got it working like this now with only rendering <ReactTooltip /> once (and only) on the page and without data-for attribute. This may be the case of multiple ReactTooltips and data-for: https://github.com/wwayne/react-tooltip#3-tooltip-not-binding-to-dynamic-content.  I hope this helps.
[code]

[2022-03-30 05:34] horaczech commented on #749
I for example use the ReactTooltip component only once for the whole project in App.js and only add data-tip (data-place, data-offset) attribute to desired elements/components, when unified styling is OK.

[2022-03-30 08:08] mledwards commented on #739
Ah nice, I did that but without the timeout! I ended up not using the library and just did an absolutely position tooltip over the relative element, as I didn't need anything from the library. Will remember this in future though!

[2022-03-30 08:08] #739 closed

[2022-03-30 09:15] Stophface commented on #749
@horaczech The example you posted did not work like this, but with the hint to the documentation I was able to solve it:

{SHIFTS.map((shift, index) => {
            return <>
              <a
                key={index}
                // This is the text content of the tooltip
                data-tip={shiftText[shift]}
                // This must be the same as id in <ReacTooltip />

[2022-03-30 09:15] #749 closed

[2022-03-31 01:52] jafin opened #754 "React 18 StrictMode offHover tooltip remains visible"
When running in React 18 StrictMode
Hover over the tooltip, then hover away.
Note that the tooltip remains visible.

See example here:
https://codesandbox.io/s/busy-elbakyan-sstvb2?file=/src/index.tsx

[2022-03-31 20:07] NemeZZiZZ opened #756 "Remove default inline styles"
Is there any possibility to remove default inline styling to avoid style overwritings with custom ones?

[2022-03-31 23:51] jafin commented on #744
Do you have opportunities to migrate users to Edge?  Many libraries are dropping IE support due to the low percentage of users globally running IE now.

[2022-04-01 19:40] msavel2i commented on #744
Unfortunately many customers use Win 7 and even Vista and moving away from IE would also break some Active Directory/ActiveX compatibility. Hard times

[2022-04-03 12:14] jafin commented on #752
@ItsTarik, padding is not in the current published version looking at the commit date.  If you compile the code you'll get the padding prop.

[2022-04-03 13:26] ItsTarik commented on #752
Thanks, I've handled it with global style, it's not worth it to compile it locally, I've opened this issue because the docs describes the padding prop and it could be so confusing for people ..

[2022-04-04 18:10] AshuGuptaGamer opened #757 "How to change opacity of the tooltip?"
Hey, everyone :)
How do I change the opacity of the tooltip?
I have tried this.
[code]
The background color and font-family work. Just the opacity is not working at all.

[2022-04-04 18:11] #757 closed

[2022-04-04 18:18] AshuGuptaGamer commented on #757
Sorry, I found that it was my code's issue. 💀

[2022-04-07 06:56] zsofiath opened #758 "After upgrading to react 18, tooltip not disappearing"
I created a react app with CRA, installed react-tooltip, and used this code snippet:

![image](https://user-images.githubusercontent.com/17666549/162138545-9bee4ed6-2d3a-4317-99e9-535dd97dc168.png)

After mouseleave event, the tooltip remains visible.

I've found the snippet here:
https://codesandbox.io/s/heuristic-curran-bddeu?fontsize=14&hidenavigation=1&theme=dark

[2022-04-09 10:28] amirho1 commented on #758
same here it doesn't disappear in fresh create-react-app

[2022-04-11 08:43] neketabrain commented on #754
same issue

[2022-04-11 13:58] PanRagon opened #759 "When setting the tooltip to disabled, tooltip will still show on hover until a mouseout event fires."
I'm attempting to create a tooltip for an input field, out of UI concerns this tooltip should show up when the user hovers the element, but if they select the input the tooltip should dissapear and not be revealed until the user deselects the input field. By using a disabled flag to disable the ReactTooltip and utilizing the static hide() function, this *almost* works, but the tooltip will still s

[2022-04-12 04:53] vhpoet commented on #675
[This](https://github.com/wwayne/react-tooltip/issues/587#issuecomment-619675399) worked for me.

[2022-04-12 07:24] DenisGold opened #761 "Its instance type 'ReactTooltip' is not a valid JSX element."
Few days ago newest version of React tooltip return error
'ReactTooltip' cannot be used as a JSX component.
  Its instance type 'ReactTooltip' is not a valid JSX element.
    The types returned by 'render()' are incompatible between these types.
      Type 'React.ReactNode' is not assignable to type 'import("/node_modules/@types/react-dom/node_modules/@types/react/index").ReactNode'.  TS2786

[cod

[2022-04-12 15:13] #759 closed

[2022-04-13 09:00] DenisGold commented on #761
@aronhelser please check it and my PR, maybe you will be able to update rpm library with this potential fix, also @wwayne send me link with fix that works for me  https://stackoverflow.com/a/71828113/3404325

[2022-04-13 23:46] MarshyMadness opened #763 "ReactTooltip won't hide"
Tooltip never closes and if another one shows up then both are on screen so with many tooltips the screen becomes unreadable

[2022-04-14 02:11] r1zyn opened #764 "Tooltip showing on hover when event is set to click"
I tried these two following methods to have a button show the tooltip when clicked, but the tooltip still appears on hover.
[code]
[code]

[2022-04-14 15:38] karltaylor commented on #110
A shame this is still an issue, definitely don't want to use !important, I just want to style css!

[2022-04-14 23:23] tettoffensive commented on #624
I'm still having this problem with Next.js whether or not I have `@types/react-tooltip` installed.

Here's my `tsconfig.json`:

[code]

[2022-04-15 13:09] ronakiihglobal commented on #624
Facing same issue, any solution will be helpful!

[2022-04-15 13:33] redhair commented on #624
+1

Similar issue here. Just popped up this morning. Wondering if it was some downstream dependency that changed. Here is the full stack trace:
[code]

[2022-04-18 12:01] ronakiihglobal commented on #761
Any solution for npm users sorry?

[2022-04-18 12:01] amirho1 commented on #763
I think u are using react 18 a solution is to downgrade to react 17

[2022-04-18 12:48] DenisGold commented on #761
Only for yarn!

"resolutions": {
    "@types/react": "16.9.53",
    "@types/react-dom": "16.9.8"
  }

put this in your package.json and use yarn for install

[2022-04-18 13:53] stefann01 commented on #730
Was this solved? I have the same issue with the static methods

[2022-04-18 13:55] stefann01 commented on #663
@pastinepolenta it works only if you don't call the static methods of the ReactTooltip

[2022-04-18 23:12] farideliyev commented on #638
setting width fixed it

[2022-04-19 07:21] stefann01 commented on #730
I managed to mock the entire component including static method like this:
`jest.mock('react-tooltip', () => ({
  __esModule: true,
  default: () => (class {
    static rebuild() {}

    render() { return <div />; }
  }),
}));`

[2022-04-20 13:49] erezcarmel opened #765 "ReactTooltip.hide doesn't hide tooltip instantly"
I'm trying to create a tooltip using `react-tooltip` with a close button. According to the [documentation](https://github.com/wwayne/react-tooltip#reacttooltiphidetarget), I need to use `ReactTooltip.hide` but it doesn't seem to work. It hides the tooltip only if I'm moving the cursor out of the tooltip, but not instantly.

Using React 17.0.2, react-tooltip 4.2.21.

Here's a quick [CodeSandbox](ht

[2022-04-21 20:32] daceynolan commented on #691
@dearamerican I tried this solution, but it will keep repeating the tooltip message. Did you have this same problem?

[2022-04-21 20:37] daceynolan commented on #159
@wwayne I see that this was updated to support value and role. However, when using the screenreader, my aria-value is never being announced and the role is making it announced constantly. Do you have a workaround to get this to work with screenreaders?

[2022-04-21 23:43] Raymond-OJam commented on #763
Is there a plan to support React 18?

[2022-04-24 09:47] Husainwow commented on #431
any solutions on this yet?

[2022-04-24 10:02] Husainwow commented on #431
hey guys this works for dynamic tooltip generation, thanks @DTX-92 .

[2022-04-25 17:45] judygab commented on #624
I'm still having this issue with Next js and TS even though I installed `@types/react-tooltip`. It was working before so not sure what changed in the package now but getting the same error.

[2022-04-26 16:10] Rami-benabdallah opened #766 "hover on other element to show Tooltip"
Hello i have a question Mark, and i usually show hover it to show the tooltip,
Now i added a new input field, i want the tooltip to be shown when i hover over the input field too,

is that possible ? and can someone provide me with an example ?

[2022-04-28 16:06] amirho1 commented on #758
what I understand about this issue is; it's only in development and it doesn't have any problems in production build test it I red some were but I didn't test it @Suzan-Dev

[2022-04-28 16:52] Suzan-Dev commented on #758
@amirho1 Yeah, same here. I read about that here #763 but still choose to downgrade to v17. React 18 is here but packages are not up to date. 😞😞

[2022-04-29 09:19] mongsukim commented on #265
Hello everyone,
could you please show the code to solve this problem
**as a functional component?**

please help me

[2022-04-29 20:41] xclark-harriscomputer commented on #765
Also seeing the same issue, using React 16.12.0 and react-tooltip 4.2.21.

[2022-05-03 13:06] vova42matters commented on #758
+1

[2022-05-05 01:49] daceynolan opened #768 "Background color in css does not change top notch"
When overriding styles in Styled Components, setting the background-color does not change the color of the notch.

[code]
![Screen Shot 2022-05-04 at 9 49 17 PM](https://user-images.githubusercontent.com/54158919/166853144-7388e71e-a920-4e74-9234-c81bd0a75a8f.png)

[2022-05-05 11:38] ansgarsteinkamp opened #769 "React 18: Tooltips still not hiding"
With npm's latest version of react-tooltip (version 4.2.21) tooltips still don't hide.

[2022-05-05 19:29] ansgarsteinkamp opened #770 "Version 4.2.21 on npm outdated?"
Version 4.2.21 on npm was published a year ago. What's about all the bug fixes here on GutHub since June of 2021?

[2022-05-05 23:09] svmszcck commented on #769
As a quick fix you can do this until the package is updated:

const [tooltip, showTooltip] = useState(true);

[code]

[2022-05-05 23:11] svmszcck commented on #765
As a quick fix you can do this until the package is updated:

[code]

[2022-05-05 23:12] svmszcck commented on #763
As a quick fix you can do this until the package is updated:

[code]

[2022-05-05 23:12] svmszcck commented on #758
As a quick fix you can do this until the package is updated:

[code]

[2022-05-06 06:52] vova42matters commented on #758
In my case had an issue with z-index (there was an element which was overflowing tooltip), just double-check z-indexes for elements

[2022-05-06 07:31] kainat-anjum commented on #294
It works if you add key to your component which has data-tip prop. And also do ReactTooltip.rebuild() in useEffect on state change.

[2022-05-06 08:27] ansgarsteinkamp commented on #769
Thank you very much for the quick fix!
Hoping for a package-update, though, since there are hundreds of tooltips in my project.

[2022-05-06 14:08] aronhelser commented on #769
Is there a PR that fixes this issue? Can this quick fix be turned into a PR?

[2022-05-06 14:32] ansgarsteinkamp commented on #769
Correct me if I'm wrong, but commit [064249c](https://github.com/wwayne/react-tooltip/commit/064249c2d344f5fa639d97994311e484a73156b4) solved the React 18 problem, didn't it?
It's just not part of the npm-package 4.2.21.
The quick fix of svmszcck is really just a quick fix. Not very quick in my case, though.

[2022-05-06 22:04] Roundaround commented on #769
The last tag (and therefore npm release) was almost a year ago... @aronhelser do you have the permissions to push tags and make a new npm release?

[2022-05-08 06:32] erezcarmel commented on #765
Great quick fix @svmszcck
Thanks.

[2022-05-08 06:32] #765 closed

[2022-05-10 09:53] PanRagon commented on #769
Seconded on an NPM-update, there's been a lot of bug-fixes over the past year that should be deployed for them to have any value.

[2022-05-10 15:04] aronhelser commented on #769
npm was supposed to be automated, and I no longer remember how to do it. If I get a chance I'll look into it...

[2022-05-12 03:42] Quangdm-cdm opened #771 "Tooltip not showed in Firefox addons"
In Chrome extension, Tooltip is ok but in Firefox, it's not working

[2022-05-13 13:54] Talaween opened #772 "How to have one than one style in the same app"
I understand that I can set the style through className passed to <ReactTooltip className="myCustomStyle1"/> which is a direct child of the top component, then it catches all data-tip attributes on children.

however, if I want a specific group of children to have a different style, what should I do?

[2022-05-18 03:34] huner2 commented on #770
For those of you who would prefer to install the package from npm,  I've published an npm package based on the 4.2.21 tag on this repository.  This tag did not pass the tests so I changed a single line to get the library working again.  I hope my package will be obsolete soon and the original npm package will be updated.

[@huner2/react-tooltip](https://www.npmjs.com/package/@huner2/react-tooltip)

[2022-05-18 04:15] 98rahul commented on #638
having more content in data-tip direction to  tooltip gets changed on every time hover over.
 But working fine for the small content.

[2022-05-18 04:18] 98rahul opened #773 "having more content direction of tip gets dynamic"
on hovering over the div( say content img) direction tooltip gets changed everytime bcz of more content while working fine for less amount of content in data-tip

[2022-05-19 09:47] Kaishley commented on #769
Any luck with the NPM update?

[2022-05-19 14:50] mosesweb commented on #624
Same issue here. Even with @types/react-tooltip installed.

[2022-05-23 07:04] rbluethl commented on #737
@sabetAI did you solve this? I'm having the same requirement.

[2022-06-01 18:57] pyang-nortonlifelock opened #774 "Add a switch to turn off dynamic values"
Our team just upgraded to 4.2.21 from 3.10.0. We like it; but we're running into challenges dealing with the dynamic values as below. It'll be good if a switch to turn off dynamic values is offered.

<div class="__react_component_tooltip t2f263c42-bad6-4150-b5d2-62bd258b132a show place-top type-light overflow-visible " id="TOOLTIP" data-id="tooltip" style="left: 420px; top: 831px;"><style aria-hid

[2022-06-02 11:36] sharma-dev commented on #769
This seems to be an issue with the new Strict mode of React. I was having the same issue even in production but it worked fine after I removed Strict Mode from my app.

[2022-06-07 13:21] kabouyaimed opened #775 "How can i show all the tooltips on page load for 5 seconds"
I want to show all the tooltips on page load then dismiss them after 5 seconds

[2022-06-08 02:14] iyobo commented on #363
Personally, I would advise against using this library in any React app.
Visually, it looks really good and slick....but It's reliance on dom-attribute-scraping severely breaks some key react precepts and hence leads to the various performance issues present.

As it stands, it is an admirable, yet naive approach at implementing a Tooltip system in React. Akin more to a JQuery way of achieving the s

[2022-06-09 08:49] ansgarsteinkamp commented on #769
@aronhelser Another month has passed, no update on NPM. Is there really nobody who can update the NPM-package based on the fixed issues of the past 12 months? The project is stone-dead, isn't it?

[2022-06-09 11:00] aronhelser commented on #769
Neither of the maintainers are currently working with React. I've been working exclusively in C++ for the past year. I would be happy to give maintainer access to someone willing to work on the project.

[2022-06-14 17:40] daceynolan opened #776 "Comma separated value for Place prop throws error"
When trying to pass a list of `place` options as stated in the docs , it does not work and throws an error.
![Screen Shot 2022-06-14 at 1 37 43 PM](https://user-images.githubusercontent.com/54158919/173641443-256427ee-2d3e-4e89-8aaa-f5b06aa196d1.png)

Error:
![Screen Shot 2022-06-14 at 1 39 48 PM](https://user-images.githubusercontent.com/54158919/173641941-8df25209-298a-4c2e-989c-24ff8bed285f.png

[2022-06-16 06:20] SamManualV commented on #277
this is the best way to fix this issue

[2022-06-18 06:43] alexgurr commented on #769
@aronhelser I'd be happy to try and help as an active maintainer (with the spare time I can find for it). Been using this library for quite some time.

[2022-06-18 16:00] ChARCOOL commented on #776
@daceynolan Hi, I think you misunderstood the type, it's either TOP or RIGHT or BOTTOM or LEFT, you pass only ONE place.

[2022-06-19 18:52] aronhelser commented on #769
@wwayne if we'd like to add @alexgurr as a maintainer, I think you would need to do it. WDYT?

[2022-06-20 13:04] m21tomas opened #777 "Tooltips do not disappear when I move cursor away from input field"
I'm writing forms and I need to check if input is valid.
But right now I'm testing how your Tooltips work in general. It doesn't work properly for me. Either I'm doing smth wrong or your tooltip is wrong.
![image](https://user-images.githubusercontent.com/94525145/174606991-0e3b588d-a165-4dd7-9c90-6d20abce9df4.png)
I have this code:
[code]
What is wrong with it?
Why the tooltip doesn't disappear w

[2022-06-20 14:27] m21tomas commented on #777
I had to change this:
[code]
to this:
[code]
In other words to remove Strict mode.
Shame on you creators "developers".

[2022-06-20 15:03] aronhelser commented on #777
Umm, yea, that's not productive. If you have a suggestion for improving, make it.

None of the current maintainers are actively working on this component. If you want a fix, contribute a PR.

[2022-06-21 08:31] ansgarsteinkamp commented on #770
@aronhelser @wwayne huner2 may be a great choice as an additional maintainer too.

[2022-06-21 13:59] daceynolan commented on #776
@ChARCOOL The docs said that you could pass the place comma separated under the values

![Screen Shot 2022-06-21 at 9 58 59 AM](https://user-images.githubusercontent.com/54158919/174817970-562974b2-a8cb-4b1e-8951-2ccbe31054af.png)

[2022-06-22 20:10] trebor commented on #717
would love to see this fixed, rather than adding random css to my project.

[2022-06-23 05:05] devntv opened #778 "how can i style ReactTooltip with module css"
i looked at reactTooltip documentation but I see all the tutorials are using className, can i style ReactTooltip with module css like this className={styles.myClass}
i tried but it doesn't seem to work

[2022-06-23 17:56] Jamil-Bailony commented on #777
Thanks for mentioning it @m21tomas I have the same issue :(

[2022-06-25 07:08] devntv commented on #778
oh my god finnaly i found the reason

[2022-06-25 07:08] #778 closed

[2022-06-26 09:02] adir4m opened #779 "react-tooltip triangle color"
Hi, i succeeded to change the react-tooltip background color except from the triangle/arrow how can i achieve that?

<img width="326" alt="arrow" src="https://user-images.githubusercontent.com/94120790/175807065-23f41907-9890-49da-b327-4fc3c3d714fc.png">

I'm using nextjs and tailwind for css

The code:
[code]

[2022-06-27 09:28] #779 closed

[2022-06-27 09:28] adir4m commented on #779
arrowColor

[2022-06-27 11:55] adir4m opened #780 "Change arrow border radius"
Hi, how can i change the radius of the arrow to be more rounded?
<img width="340" alt="arrow" src="https://user-images.githubusercontent.com/94120790/175935340-6b57c9f3-2487-4bb5-9640-ea70204ed44a.png">

`<ReactTooltip className="tooltip-custom" id="help" place="top" multiline={true} arrowColor="#121922">
              {helpTooltip}
            </ReactTooltip>`

[2022-06-28 12:01] tutorplanner-web opened #781 "react-tooltip stops working after expanding event list in Full-calendar."
I am using react-tooltip [@fullcalendar/react](https://www.npmjs.com/package/@fullcalendar/react). It works fine when I click on an event. But after expanding the events, it doesn't work.
Here is the reproducible codesandbox.
[https://codesandbox.io/s/fullcalendar-daygrid-with-react-tooltip-qrv6l7](https://codesandbox.io/s/fullcalendar-daygrid-with-react-tooltip-qrv6l7)
As you can see, on clicking

[2022-06-28 17:23] gnvcor opened #782 "On first hover, tooltip is not shown, in React 18"
On first hover, tooltip (with ) is not shown, [code example](https://codesandbox.io/s/react-tooltip-example-3-11-6-forked-1n9g32?file=/src/App.js:513-517). (react: 18.2.0; react-dom: 18.2.0; react-tooltip: 4.2.21);

[Same code example](https://codesandbox.io/s/react-tooltip-example-3-11-6-forked-99f17q?file=/src/App.js) but from react-home: 17.0.2 tooltip is shown on first hover.

[2022-06-30 14:29] SlimGabsi commented on #294
the solution is to hide and then show the tooltip on state change .
Note that am using functional cmps and useRef hook
I guess you can do the same with ` componentDidUpdate()`

[code]

[2022-06-30 20:59] ShivaniAmpati opened #783 "Unable to custom the width of the tooltip based on the content"
I would need a tooltip with some width set but unable to achieve it through classes and indeed i dont want to you use <br/> and set multiline={true}

[2022-07-01 02:49] nan0hard commented on #777
Yeah! facing the same issue.

[2022-07-01 08:45] Timer91 commented on #777
Same

[2022-07-01 10:22] anubhav-sl commented on #624
Any fix yet ?

[2022-07-02 11:52] Lucian2001 commented on #782
This might help you

[2022-07-03 13:23] gxxcastillo commented on #420
I kept getting `[object Object]` and then I removed `html={true}` from my props and the problem went away.

[2022-07-08 15:00] nodgear commented on #777
are your really shaming someone who made something for free and you're using?
like... wth?

[2022-07-12 18:34] Elegant-Bird commented on #663
I ended up not mocking the react-tooltip and set an id and uuid instead, resulting in more consistent classnames and ids, like below

`        <ReactTooltip id={this.state.tooltipId} uuid={this.state.tooltipId} class='c-tooltip' type='light' html />
`

[2022-07-13 13:13] Kaishley commented on #769
@wwayne kind reminder

[2022-07-14 10:54] hoainamcr commented on #763
Exactly, it runs normally if we remove Strict Mode  in root app, of React 18.

[2022-07-15 19:11] lydiautkin commented on #783
+1. Would love to have a width or min-width prop for handling longer strings. The default of 20px is too small.

<img width="389" alt="image" src="https://user-images.githubusercontent.com/2299947/179295091-8193dbb3-ab4b-4215-8033-79d74e856783.png">

[2022-07-20 13:17] emre-ozgun commented on #248
I'm experiencing this issue on desktop as well. v4.2.21 - super vexing since I rely heavily on z-index manipulation so not being able to hide on scroll would hinder our users' experience.

[2022-07-21 12:33] fakhamatia opened #785 "Change data-type for opened tooltip"
I want change `data-type` dynamic for opened tooltip.
I can change Icon with this way but for tooltip not work
I must re-hover to see change
[code]
![Peek 2022-07-21 16-59](https://user-images.githubusercontent.com/20030910/180214254-5306c3fb-d00c-44ca-b473-cf858db63fb1.gif)

"react-tooltip": "^4.2.21"
"react": "17.0.2"

[2022-07-30 10:43] mattzeunert commented on #334
Been looking into this a bit and there are probably multiple causes, but I think a big one is getting all the elements in the document on mount for each tooltip and converting that list to an array.

https://github.com/wwayne/react-tooltip/blob/064249c2d344f5fa639d97994311e484a73156b4/src/index.js#L256

![Screenshot 2022-07-29 at 17 48 21](https://user-images.githubusercontent.com/1303660/18190665

[2022-08-01 10:45] myugen commented on #716
Thanks @LissetteIbnz, you saved me a lot of time!!

[2022-08-01 16:30] d4mr commented on #769
@wwayne gentle nudge

[2022-08-01 20:20] briva commented on #758
same problem here

[2022-08-02 05:18] amirho1 commented on #758
@briva and others who came here, I think it doesn't work on the development, Please check it on production, it seems; it's working correctly

[2022-08-03 06:38] pdeszynski commented on #769
@aronhelser `yarn run semantic-release --publish` ?

[2022-08-03 09:51] voldo5 commented on #758
I have the same problem. But it works fine after removing <React.StrictMode> from root.

[2022-08-04 10:04] present-g commented on #769
Hello everybody! What is known with the update?

[2022-08-05 20:54] j-francisco commented on #763
You can place ReactTooltip outside of React.StrictMode, for example:

[code]

[2022-08-10 08:18] erezcarmel opened #787 "Running example fails with 'TypeError: Super expression must either be null or a function'"
I was following the [contributing](https://github.com/wwayne/react-tooltip/blob/master/contributing.md) instructions, and I got this error:

TypeError: Super expression must either be null or a function
[code]

(anonymous function)
[code]

(anonymous function)
[code]

What seems to be the problem?

[2022-08-11 02:17] sgehrman commented on #587
I'm using TS and NextJS,

const ReactTooltip = dynamic(() => import('react-tooltip'), { ssr: false });

That doesn't work.  Getting error. "import() expresssions are not supported yet"

[2022-08-11 02:57] sgehrman commented on #694
doesn't work

[2022-08-11 03:09] sgehrman commented on #726
yes, you need !important

[2022-08-11 05:39] alfianandinugraha commented on #783
I try set width like this

[code]

Idk, but this is works for me

[2022-08-11 10:25] hoainamcr commented on #763
Yeah, this solution is Ok for general case,
but in the special cases we have ro define the the tooltip component in each components. it is happen the same above while development :D

[2022-08-12 15:45] kokushkin opened #788 "Black area blinks in the beginning and tooltip quick appearance/disappearance"
Hi! My use case is to show the tooltip when I click and I want it to disappear when I leave the field.

When I load the page I see this

![image](https://user-images.githubusercontent.com/9853656/184374597-021ae839-4652-44df-b75e-c9f02deacce3.png)

Then it disappears in some time.

[code]
This's what I used from react-tooltip
![image](https://user-images.githubusercontent.com/9853656/184380580-e6b

[2022-08-16 08:16] xbjfk commented on #769
If you want to keep strict mode, you can install the latest commit with:
`npm i 'https://github.com/wwayne/react-tooltip/archive/064249c2d344f5fa639d97994311e484a73156b4.tar.gz'`

[2022-08-18 03:43] Chiquis2005 opened #789 "incorrect tooltip location"
when I pass the mouse to generate the tooltip it is generated wrong, instead of appearing on the right of the initial image it is generated on top of it.

![Code_0Xfhd3nSkc](https://user-images.githubusercontent.com/44950448/185288190-a6f36fdb-6ca5-469e-8796-a2be36c9ac83.png)

![opera_pggbiiqFYT](https://user-images.githubusercontent.com/44950448/185288245-c41b62c1-d724-49e5-9e3a-a295050198ac.gif)

[2022-08-18 07:19] Zemelia commented on #527
Issue still exists, it was returned after fix in https://github.com/wwayne/react-tooltip/issues/574

[2022-08-22 10:04] mikulash commented on #777
Hi, I had the similar problem and removing <StrictMode> really did help. But what I find strange is that the strict mode did not really noticed any errors made by the tooltip so I wonder where could be the problem.

[2022-08-22 13:08] pankajgandhi1010 commented on #527
UpdatePosition() shows Error : Maximum update depth exceeded.

[2022-08-23 09:33] m21tomas commented on #777
yes I did. And I don't regret. But I won't blame anymore.

[2022-08-24 01:10] poeck commented on #769
@roggervalf is this something you could do?

[2022-09-02 16:16] angelangelov88 commented on #758
I have the same issue. Thanks @svmszcck for the tip

[2022-09-09 05:02] DhirajKrVerma commented on #777
yes It's Working

[2022-09-09 13:24] ferdiamg commented on #777
Same here, and can confirm: Removing the strict mode makes the tooltips work again. However its not advised to disable the strict mode just to make a npm package work.

For debugging:
"next": "12.1.6",
"react": "18.2.0",
"react-copy-to-clipboard": "^5.1.0",
"react-dom": "18.2.0",
"react-tooltip": "^4.2.21",
"tailwindcss": "^3.1.3",
"typescript": "4.7.3"

[2022-09-09 17:31] aronhelser commented on #777
None of the current "maintainers" are actively developing web apps or this component. We need a community submitted PR to solve this problem.

[2022-09-09 23:29] rickyzhangca commented on #746
`isCapture` fixed it for me

[2022-09-09 23:29] rickyzhangca commented on #646
`isCapture` fixed it for me

[2022-09-11 08:52] JayMehta97 opened #790 "Not working with NextJS"
I want to show tooltip on a input field when a button is clicked. I am able to do that in codesandbox [here](https://codesandbox.io/s/react-tooltip-basic-example-forked-jthk5e) but the exact same code doesn't work in my NextJS app. I also tried checking if the ref was assigned correctly and it is, calling `input.current.focus()` works but `ReactTooltip.show(input.current)` doesn't.

Am I missing s

[2022-09-14 23:44] sambaneko commented on #777
It looks like a similar issue was already fixed and merged (#755), but the npm package is not up to date with those changes?  There is also an existing PR that appears to address this (#786).

Can the npm package be updated?

[2022-09-15 05:26] mrcMesen commented on #790
Read [this](https://github.com/wwayne/react-tooltip/issues/777) conversation

Basically you need to set strict mode to false on the next config

[2022-09-15 18:08] sambaneko commented on #777
Alternatively, I tried switching to the npm package provided by pdeszynski in #786, and it is working properly for me with strict mode enabled.

[2022-09-16 08:57] m21tomas commented on #777
That's an excellent new. Does it work completely the same like Tooltip from [wwayne] and [aronhelser], but also icluding Strict mode?

[2022-09-16 15:11] flieks commented on #688
Is there a way to make this work without `mode closed` ? I am getting this error with trying tooltip in shadowDOM
`Cannot read properties of null (reading 'getBoundingClientRect')`

[2022-09-18 05:00] Rasool65 opened #791 "Not supported on samsung mobile Browser"
when i use it on my project , my page will be clean white in samsung mobile Browser , but chrome and firefox is ok

[2022-09-19 02:49] Chiquis2005 commented on #789
any solution?

[2022-09-19 21:04] sambaneko commented on #777
@m21tomas I haven't thoroughly tested it myself, but since it has been submitted as an update for the react-tooltip package, it should support all of the same syntax and commands.

[2022-09-21 06:03] MylesWardell opened #792 "BUG: Tooltip is not updating when useState prop updates"
## **Example Code Sandbox:**
https://codesandbox.io/s/example-of-background-colour-not-updating-k0mynp

## **Expected Behaviour:**
When a useState prop changes the tooltip rerenders with the new props. In the example above the tooltip should immediately update to green. At minimum the rebuild should update the props.

## **Hotfix:**
I have tried hiding and showing and using refs and this has not f

[2022-09-23 14:17] IGOLz commented on #654
Up

[2022-09-26 20:15] WilliamWelsh commented on #785
Try calling `ReactTooltip.rebuild();` after

[2022-09-29 23:15] dfalt commented on #765
Has a fix for this been prioritized or released in some way? I don't mind using the workaround, but it would be nice to be able to follow an issue that will resolve the problem in a release as this one has been closed.

[2022-09-30 05:47] sundarrajendran commented on #769
Do we have any solution for that? I am experiencing the same issue in production.

[2022-09-30 06:49] pdeszynski commented on #769
@sundarrajendran temporarily, until issue is resolved here, you can replace it with a fork of mine https://www.npmjs.com/package/react-tooltip-rc

[2022-09-30 06:56] premnkl opened #793 "Can we reuse ReactTooltip component by initializing at the root component and accessing it in its child component"
Dear Team,

We started using ReactTooltip inside a component and it is absolutely fine.

Our actual case is to extend it to multiple components. Before making this change to initialize ReactTooltip at each component individually, wanted to check is it possible to initialize ReactTooltip once at the root component and pass data-tip from the child to get it displayed ?

[2022-09-30 19:32] aronhelser commented on #769
@pdeszynski I would like to point to your package as a maintained version of this package in the readme - is this OK with you? Are you able to help with maintaining the project? I am probably going to mark this project as archived/inactive.

[2022-09-30 19:34] aronhelser commented on #769
@alexgurr I know you were interested in possibly being maintainer. Maybe you can coordinate with @pdeszynski ?

[2022-09-30 19:39] aronhelser opened #794 "Founder and maintainers looking to pass the torch"
This project has been barely supported by the current maintainers, myself and @roggervalf  for some time. @huumanoid is an inactive maintainer, and the original author @wwayne has moved on and is non-responsive to request. I do not have permissions to add new maintainers to this repo, so we need to identify a fork of this project that will be actively maintained for the future and is able to publi

[2022-10-01 00:32] wwayne commented on #794
appreciate @aronhelser for your work and passion, and sorry I don't have time on this project
plz feel free to let me know if there is anything I can do for better maintenance in the next
thanks again for such a long time supporting

[2022-10-01 15:00] aronhelser commented on #794
Hi @wwayne I think the best thing for the project is to add @alexgurr as a maintainer, and give them the permission to add other maintainers, and see what happens :)

[2022-10-02 01:52] wwayne commented on #794
I just invited @alexgurr to both GitHub and NPM as the collaborator, but I haven't found any options for giving him the permission to invite others, plz let me know if you know how I can do it or I can do the invitation when you asked, thanks : )

[2022-10-02 11:03] pdeszynski commented on #769
@aronhelser I don't mind, though if you would like to point to a GH repository - then i would suggest to use https://github.com/react-tooltip/react-tooltip so that does not change anymore no matter who the maintainer will be.

[2022-10-02 19:04] danielbarion commented on #794
Hi guys, I'm always checking that repository and some other open-source projects, if you guys need it, I can help test PRs and validate new issues in the available time that I have, just please let me know :)

[2022-10-03 04:54] elionntechguy commented on #769
hey @pdeszynski i'm trying to install your library but it's not working.
i'm installing it correctly but in node_modules/react-tooltip-rc/dist there's a tar.gz file instead of index.js

[2022-10-03 05:32] wwayne commented on #794
@danielbarion thanks, sounds good to me, let me do it

[2022-10-03 05:53] wwayne commented on #794
I moved this repo to the org https://github.com/ReactTooltip, and I invited all the other 3 collaborators as the owner of the org (hope it works).
I set up a logo that I bought a couple of years ago, please feel free to update if you don't like it haha

[2022-10-03 06:00] pdeszynski commented on #769
@elionntechguy sorry for that 😞  I was playing with github actions to setup builds and I didn't think anyone really uses it. Released fixed version with files inside

<img width="344" alt="Zrzut ekranu 2022-10-3 o 08 00 35" src="https://user-images.githubusercontent.com/1628168/193510392-8923a41c-2cff-4cdb-89fc-22aa8e0ff32c.png">

[2022-10-03 06:05] pdeszynski commented on #794
If help's needed, then I will try to help, setup stuff etc, though I don't think I will be better maintainer than you guys (taking into consideration that I feel mostly as a backend dev ;) ).

[2022-10-03 14:48] aleksspeaker commented on #794
This is fantastic news.
Now someone needs to publish a new NPM package version.

[2022-10-04 10:52] aleksspeaker commented on #770
Gentle nudge
@alexgurr @wwayne @aronhelser @danielbarion 🙏🏻
I'm sorry. I hate to ping people and escalate issues but I have no choice.

**1.5M weekly downloads** guys. Imagine how many people have problems with the react-tooltip on React 18.
Someone has to take action. Please. 🥺

[2022-10-04 11:05] huner2 commented on #770
@aleksspeaker And others who may continue to view this thread.  I'm not an active maintainer, nor is the answer you're looking for, but in my opinion taking a look at [floating-ui](https://floating-ui.com/docs/react-dom-interactions) as an alternative (with React support of course) may be your best course of action.

[2022-10-04 11:08] aleksspeaker commented on #770
@huner2 thank you for the suggestion.
But I think we've got this thing moving again.
[Founder and maintainers looking to pass the torch](https://github.com/ReactTooltip/react-tooltip/issues/794)
So I'm looking forward to the new NPM release soon. :)

[2022-10-05 09:25] elionntechguy commented on #769
@pdeszynski thanks, but i'm still having the problem of the tooltip not closing when you go off it with clickable=true property. Would you be able to help me?

[2022-10-05 14:38] xzifan commented on #782
Change this line to true.
`const [isShowTooltip, setIsShowTooltip] = useState(true);`

I guess this is a workaround found under another post, here: https://github.com/ReactTooltip/react-tooltip/issues/758#issuecomment-1119129606

I also mistakenly set the default as false which will disable the ReactTootip component from initializing. The hidden tooltip will not be renderer until you hover on it f

[2022-10-05 17:14] aleksspeaker commented on #770
Can I help with this somehow?

[2022-10-05 19:26] elionntechguy commented on #769
pinging again @pdeszynski

[2022-10-06 01:25] wwayne commented on #770
Hi, sorry I don't know what steps are needed before publishing the package bc I haven't maintained the project for a couple of years.
Maybe we can ask @aronhelser help when he has time and would appreciate if someone can write down the steps for the package publishing

[2022-10-06 17:02] aleksspeaker commented on #770
This should do:
https://cloudfour.com/thinks/how-to-publish-an-updated-version-of-an-npm-package/

[2022-10-06 21:06] syed-ahmad commented on #777
Try setting `isCapture={true}`, that fixed tooltip dismissing on scroll in my Nextjs app.

[2022-10-07 08:11] chiratnachakraborty-betterhalf commented on #769
Is the issue fixed now...part of npm-package 4.2.21?

[2022-10-07 08:24] pdeszynski commented on #769
Please open an issue, though I was not able to reproduce that problem https://pdeszynski.github.io/react-tooltip/?path=/story/example-advanced-features--all-props&args=effect:solid;clickable:true

[2022-10-07 09:22] Ali-Aref commented on #777
same issue, any updates ?

[2022-10-07 09:42] syed-ahmad commented on #777
Did that `isCapture={true}` not work for you @Ali-Aref ?

[2022-10-07 09:54] Ali-Aref commented on #777
yes I tried,
in my case it depends to `StrictMode` disabling `StrictMode` makes it work. but, it's not okay to disable `StrictMode` because of an npm package to work (I'm new to react). So, I am looking for any alternative solutions.. if there are any?

[2022-10-07 15:36] prideaux commented on #712
This is the solution, example on an icon:

`<FaRegUser
                        data-tip="Account"
                        data-for={"account"}
                      />`

Then before the last DIV on the page add:

`      <ReactTooltip id={"account"} place="top" type="dark" effect="solid" />
`

[2022-10-07 20:56] DarioLopes commented on #769
Yep, still having the issue, setting "strict mode" to false on Next.js seems to do the trick, but is a bit awkward!

Hope it gets fixed soon, anyway, thanks for the work!

[2022-10-09 22:36] stuarthallows commented on #769
I created a [tooltip component ](https://github.com/stuarthallows/react-tooltip) using [Floating UI](https://floating-ui.com/) (that works fine with React 18). It turns out that once you know how to use Floating UI it's pretty simple to create your own highly customizable tooltip, and you don't actually need react-tooltip any more.
![image](https://user-images.githubusercontent.com/1193012/1947825

[2022-10-10 10:48] fakhamatia commented on #785
Not working

[2022-10-11 03:01] doublejosh opened #795 "rgba background-color doesn't work"
RGBA CSS doesn't work for backgrounds like...

`<ReactTooltip backgroundColor="rgba(0, 0, 0, 0.5)" />`

[2022-10-11 07:19] exsesx commented on #512
We're targeting Safari (many people are), so we must fix this.

Does anybody have plans to work on this, or will it not work in Safari? If so, why?

[2022-10-11 15:44] aleksspeaker commented on #770
`ping`

[2022-10-11 15:50] danielbarion commented on #794
Guys, do you need any help with the next release?

If yes, please add me as a maintainer and I'll take a look in my free time to do the next release with the new structure of the repository.

cc @wwayne @aronhelser

[2022-10-11 15:51] danielbarion commented on #770
Hi @aleksspeaker, I'm waiting for the permissions to do the next release, sorry for the delay in that issue.

[2022-10-12 10:55] aleksspeaker commented on #770
No worries. I just needed to know if it is moving because I have a dependency on it and I don't want to rework all the code after migrating to React 18.

@danielbarion  Thank you for the update!
Please keep us posted even if there are no significant updates. It's still good to know that somebody cares about it.

[2022-10-12 14:36] aronhelser commented on #794
@danielbarion Invited, looks like we missed you at first!

[2022-10-12 16:12] danielbarion commented on #794
@aronhelser, I believe that @pdeszynski will be a great helper to take care of that project too

[2022-10-12 16:20] danielbarion commented on #794
As Aron reacted with the thumb-up emoji, I sent an invite to @pdeszynski, hope you accept and join us to help and take care of that project too 🙏🏻

[2022-10-12 16:22] danielbarion commented on #794
I believe that we already organized a group of maintainers (probably not everyone will be an active developer but we will take care of that project). As if anyone wants to help us, please let us know, or feel free to send PRs :)

I'm closing that topic for now.

[2022-10-12 16:22] #794 closed

[2022-10-13 15:06] danielbarion commented on #777
Hi guys, the release **v4.3.0** enables support for React 18 and Next.js strict mode, thanks to @pdeszynski.

[2022-10-13 15:06] #777 closed

[2022-10-13 15:07] danielbarion commented on #790
Please, check my comment here: https://github.com/ReactTooltip/react-tooltip/issues/777#issuecomment-1277767508

I'll wait for your feedback to close that one.

[2022-10-13 15:14] danielbarion commented on #770
Hi @aleksspeaker,

Please, check my comment here: https://github.com/ReactTooltip/react-tooltip/issues/777#issuecomment-1277767508

I'll wait for your feedback to close that one (will be great if the @ansgarsteinkamp gives some feedback too as he started the issue).

[2022-10-13 16:09] mrcMesen commented on #790
Thanks @danielbarion I'll try it 👍

[2022-10-13 18:50] aleksspeaker commented on #770
@danielbarion amazing,
I've updated and checked. Everything works fine for me.
Thank you!

[2022-10-13 18:51] aleksspeaker commented on #777
I've tested it on v4.3.1.
Tooltips do disappear now when I move cursor away from the target.

[2022-10-13 18:55] #770 closed

[2022-10-13 19:00] danielbarion commented on #789
Hi @Chiquis2005, can you try again with the latest version and let us know if that behavior was fixed, please?

[2022-10-13 21:03] danielbarion commented on #774
Hi @pyang-nortonlifelock, you are talking about the dynamic value name of the `CSS classes`?

[2022-10-13 21:05] danielbarion commented on #782
Hi, @gnvcor can you try the latest version of the package and let us know, please?

[2022-10-13 21:06] danielbarion commented on #769
Hi guys, we've released a new version that supports React 18 (with the strict mode), I'll close that issue, please try the latest version.

If needs anything else, please let us know, thanks!

[2022-10-13 21:06] #769 closed

[2022-10-14 14:21] danielbarion commented on #758
Hi, @zsofiath  can you try the latest version of the package and let us know, please?

[2022-10-14 14:22] danielbarion commented on #787
Hi @erezcarmel, can you try again and let us know, please?

[2022-10-14 14:27] danielbarion commented on #744
Hi @jxxp9, that was a great suggestion, but not only `uuid` package dropping the support for IE, but there also are other dependencies that are doing the same and we are upgrading our code and dependency.

If we add the `uuid` as optional, probably something else will break the application into the IE.

I'll close that issue, thanks and I'm sorry.

[2022-10-14 14:27] #744 closed

[2022-10-14 14:28] danielbarion commented on #734
Hi can you try the latest release, please?

I'll close that issue due to the age, please feel free to open a new one if needed.

Thank you!

[2022-10-14 14:28] #734 closed

[2022-10-14 14:29] danielbarion commented on #728
Hi @sanjaykc, we got some PR's related to the aria attributes, can you check again and let us know, please?

I'll close due to the age of that issue, please feel free to open a new one if needed.

Thanks!

[2022-10-14 14:29] #728 closed

[2022-10-14 14:31] DenisGold commented on #761
Hi Daniel, works perfect! you can close it, thanks

[2022-10-14 15:07] #761 closed

[2022-10-14 21:04] aedryan opened #802 "Jest Tests Handling New UUID Version"
The `uuid` upgrade to 8.3.2 is causing my Jest tests to fail due to the new export format for that package.  I've tried many different combinations of using `transformIgnorePatterns` to try and get Jest to transform that package however nothing seems to take.  I've got a couple packages that use `uuid` so the version used by `react-tooltip` is scoped to that package, i.e.: it's installed in `node_

[2022-10-15 03:47] trevrdspcdev commented on #802
@aedryan I was having the exact same issue but was able to resolve it in my own project using the fix discussed [here](https://github.com/facebook/jest/issues/6229#:~:text=with%20thumbs%20up%20emoji-,austinkelleher,-commented%20on%20Jul%209). Part of the issue appears to be that the `transformIgnorePatterns` option does not work when you have a `.babelrc` in your project root. It requires using `b

[2022-10-17 07:57] angelangelov88 commented on #758
Hi @zsofiath,

I was having this same issue previously and had to use react-tooltip-rc to make it work properly on React 18. Have just tried again with react-tooltip and it all works great now.

Thanks a lot!

[2022-10-17 10:48] alexanderjarl91 commented on #776
+1, I'm also having this issue.

[2022-10-17 11:58] danielbarion commented on #758
Hi guys, regarding the @angelangelov88 comment, I'll close that issue.

Please feel free to open a new one if needed. Thanks!

[2022-10-17 12:01] danielbarion commented on #802
Can you guys confirm if the latest version solves that issue, please?

Thanks!

[2022-10-18 06:14] Chiquis2005 commented on #789
same error

[2022-10-18 08:42] erezcarmel commented on #787
@danielbarion I can confirm it's not working properly. Thank you.
Closing issue.

[2022-10-18 08:42] #787 closed

[2022-10-18 12:02] danielbarion commented on #793
Hi @premnkl, I believe that is not possible at the moment, but if you can, please submit a PR 🙏🏻

[2022-10-18 12:08] danielbarion commented on #792
Hi @aronhelser @alexgurr @pdeszynski, can you guys check that issue, please?

[2022-10-18 12:08] danielbarion commented on #789
Hi @aronhelser @alexgurr @pdeszynski, can you guys check that issue, please?

[2022-10-18 12:24] trevrdspcdev commented on #802
@danielbarion This issue seems to have been introduced when react-tooltip began using v8.3.2 of the uuid package. My project was previously using react-tooltip v4.2.21 which listed "uuid": "^7.0.3" as a dependency and allowed our Jest tests to run without issue.

The latest version of react-tooltip (v4.4.0) lists "uuid": "8.3.2" as a dependency. As @aedryan mentioned in his original comment, that

[2022-10-18 12:41] danielbarion commented on #802
@trevrdspcdev I totally agree, I'll do a fix release with that version of `uuid`.

Thanks!

[2022-10-18 13:48] danielbarion commented on #802
@trevrdspcdev @aedryan can you guys try again with version 4.4.2, please?

[2022-10-18 14:16] aedryan commented on #802
Thanks, it works for me in 4.4.2 without any Jest workarounds.

[2022-10-18 14:24] danielbarion commented on #802
Thanks for the quickly update, I'll close the issue :)

[2022-10-18 15:20] danielbarion commented on #790
Hi @mrcMesen, do you have any updates?

[2022-10-20 12:41] ADTC commented on #696
Inside `onclickHeart()` add `ReactTooltip.hide();`.

Or do this: `onClick={() => { ReactTooltip.hide(); this.onclickHeart(); }}`

[2022-10-22 14:03] danielbarion commented on #790
Marking as resolved based on other tickets, please open a new one if necessary.
Thanks!

[2022-10-22 14:03] #790 closed

[2022-10-23 10:19] RonnyLark opened #807 "Suggestion: Allow disabling default behavior when controlling manually."
I would like to have a perma-open tooltip but there is no prop to control tooltip showing.
The functions `ReactTooltip.show` and `ReactTooltip.hide` work once, but if I call `ReactTooltip.show` then hover over my element, the tooltip would hide as usual.

Unless there's a workaround I'm not familiar with, I'd like to suggest a way to disable the default behavior in order to allow more granular man

[2022-10-24 06:03] skybluebaby opened #808 "This TooltipProps doesn't contain padding at ./react-tooltip.d.ts"

[2022-10-27 22:05] kadivadavidak commented on #788
You've likely figured this out by now, but thought I'd share as I had a similar issue I recently resolved by using state, and useEffect. Essentially, I initialized a state var to false, and set it to true in a useEffect, then checked if true to render ReactTooltip.

`const [showTooltip, setShowTooltip] = useState(false);`

`   useEffect(() => {
        setShowTooltip(true);
    }, []);`

`{showToo

[2022-10-28 05:59] alexzel opened #809 "Arrow centering looks broken with v4.4.3"
Here is the difference between v4.4.2 and v4.4.3 with solid effect selected. See the vertical line I drew through the arrow center. I tested it in both FF and Chrome.

v4.4.2
![v4 4 2](https://user-images.githubusercontent.com/1964324/198512151-82de143a-6587-4f28-8b4c-73b1e222a61c.png)

v4.4.3
![v4 4 3](https://user-images.githubusercontent.com/1964324/198512156-f3d29045-cf85-4bd1-8fd9-e842ff0af24

[2022-10-28 06:49] alexzel opened #810 "Arrow overlaps text when custom padding is applied in v4.4.3"
I use custom padding which leads to text overlapping by arrow in v4.4.3.

In order to reproduce it change the main tooltip in the example application, so it has disabled multiline, solid effect, and custom padding, like the following:

[code]

See the difference between v4.4.2 and v.4.43

v4.4.2
![arrow-overlap-v4 4 2](https://user-images.githubusercontent.com/1964324/198520850-f316882a-d49e-48af-

[2022-10-28 12:09] danielbarion commented on #810
Thanks for the report @alexzel!

Can you or @erezcarmel do a PR to fix that one, please? I'll review it as soon as possible!

[2022-10-28 12:10] danielbarion commented on #809
Thanks for the report @alexzel!

Can you or @erezcarmel do a PR to fix that one, please? I'll review it as soon as possible!

[2022-10-31 11:05] p-arth commented on #646
`isCapture` didn't work for me, already made a lot of research regarding that, nothing seems to override this behavior.

[2022-11-03 13:10] NemeZZiZZ opened #811 "Attribute to disable internal styling?"
It would be perfect, if `<ReactTooltip>` component will have property to disable internal stylings totally in favor of external CSS, so users can use their own styles, so it will help with styling and maintaining.
The only properties needed are `left/top`, it's more than enough.

[2022-11-04 15:18] danielbarion commented on #811
Hi @NemeZZiZZ, sounds great!

Can you do a PR for that, please?

[2022-11-04 15:30] danielbarion opened #813 "Version 5 development and informations"
Hi, please participate at: https://github.com/ReactTooltip/react-tooltip/discussions/812

And check the Open PR that will be merged soon: https://github.com/ReactTooltip/react-tooltip/pull/820

[2022-11-05 07:48] nguyenhoaidanh commented on #325
if this lib has `ReactTooltip.updatePosition()` will be good
🙏

[2022-11-08 07:52] brandonwie commented on #130
Here's the simple answer.

[code]
I assume the RTT recognizes the parent component based on the **current dom structure**, so I created an element that includes a component that I want to use as a tooltip and the ReactTooltip component. And you put it inside the modal component. By doing this, the ReactTooltip is declared with the parent div element you see above and won't display unexpectedly.
It

[2022-11-08 13:04] erezcarmel commented on #810
@danielbarion I'm on it. Please assign me to this issue.

[2022-11-08 13:29] danielbarion commented on #810
Thank you so much @erezcarmel, I'll do the review and the release tomorrow (or this week) as I'm on travel right now

[2022-11-09 10:27] andreadisaro opened #816 "Site not working"
Hi,
the provided link doesn't work: https://reacttooltip.github.io/react-tooltip/

[2022-11-09 10:29] andreadisaro opened #817 "padding prop absent in ts file"
In the react-tooltip.d.ts there's no "padding" prop in the interface, so you can't use this with typescript

[2022-11-09 13:21] danielbarion commented on #816
Hi, thanks for reporting!

[2022-11-09 13:26] danielbarion commented on #816
Fixed, can you confirm, please?

[2022-11-09 13:32] andreadisaro commented on #816
yes, it works now, thanks

[2022-11-09 13:44] #816 closed

[2022-11-09 13:45] #817 closed

[2022-11-09 13:48] #808 closed

[2022-11-09 14:13] #811 closed, assigned to NemeZZiZZ

[2022-11-09 14:23] danielbarion commented on #809
Hi @alexzel, can you re-check using the version `v4.5.0` published today, please?

[2022-11-09 14:25] danielbarion commented on #810
Hi @alexzel, can you re-check using version v4.5.0 published today, please?

Thanks @erezcarmel, your PR was already published, thank you so much!

[2022-11-09 14:29] danielbarion commented on #756
closing because of https://github.com/ReactTooltip/react-tooltip/issues/811

Thanks @NemeZZiZZ

[2022-11-09 14:29] #756 closed

[2022-11-09 14:35] danielbarion commented on #729
Hi, @LennartSpitzner can you check if this still being a problem with the latest published version, please?

If yes, can you please do PR?

Thanks!

[2022-11-09 14:36] danielbarion commented on #723
This will probably be handled on V5, thanks for the suggestion!

[2022-11-09 14:41] danielbarion commented on #719
Hi guys, this will be handled on V5, thanks for the report!

https://github.com/ReactTooltip/react-tooltip/discussions/812

[2022-11-09 14:48] danielbarion commented on #684
Hi, this will be handled on V5, thanks for the report!

https://github.com/ReactTooltip/react-tooltip/discussions/812