[2017-07-29 18:22] hishamkaram commented on #245
the same issue here @huumanoid

[2017-08-03 15:05] michaelryancaputo opened #322 "Error with React 16 beta 2"
Hi there, i'm getting an error from this lib while using React 16 beta 2: `TypeError: this.updater.enqueueCallback is not a function`

Possible reference? https://github.com/facebook/react/issues/8577

[2017-08-04 11:35] dannypk commented on #282
shouldn't this be fixed in react-tooltip?

[2017-08-07 16:07] brunzero commented on #148
@vbbartlett I'm having the same issue and I also noticed that if I hover the component drags fine. Have you been able to find any solutions to this issue?

[2017-08-07 18:33] vbbartlett commented on #148
@brunzero, No I haven't been able to solve the issue.  Ended up removing the tooltips. :(

[2017-08-08 12:26] pavanmehta91 opened #323 "Tooltip not appearing for 2,3 seconds"
[Violation] Forced reflow while executing JavaScript took 2267ms
`
    <td style={cellStyle} onClick = {() => { props.action(cellObj.colID, cellObj.rowID,cellObj.value)}} >
      <span data-tip={cellObj.value} data-event='click'>
        {cellObj.value}
      </span>
      <ReactTooltip />
    </td>`

I'm using it in table's TD. The tooltip seems to show down the entire page. I used it on normal h

[2017-08-09 02:49] mjurczyk commented on #318
Unfortunately, that solution doesn't apply if you'd try to use `react-tooltip` in a functional component 😕

[2017-08-10 00:40] webchaz commented on #313
Any updates on this one if it's possible to modify the animation?

[2017-08-14 14:24] dekkofilms opened #324 "Can you render dynamically tooltips inside of React Table"
I am trying to have hover information of each user inside of a table. I have tried the getContent method, and it kind of fits our needs, but I'm also trying to use that with a component being rendered itself. I have also tried setting the data-for key to be unique for a user, and changing the ReactTooltip id to match that, but it doesn't seem to want to set this id. I have deleted a few of these i

[2017-08-16 09:11] devpaulson opened #325 "How to update position of toolltip after scroll?"
How to update position of toolltip after scroll if scroll hide is false? Right now, if scroll hide is false, after the scroll, the tooltip remains in the same old position. Is it possible to update the position? I tried rebuild but there was no changes.

[2017-08-16 16:37] vcebotari opened #326 "getPosition.js:35 Uncaught TypeError: Cannot read property 'l' of undefined"
in 3.3.0 and 3.1.2 this bug appear then used with svg

[2017-08-16 18:35] reginavlee commented on #267
I had an issue where I wanted to close one tooltip when another one was open instead of overlapping. I ended up writing a function to set state in my component and wrote a conditional in the "data-tip" property where when I wanted it "off", I set the data-tip to an empty string. Works for now but would also like to see open/close props.

[2017-08-18 07:16] ccjoe opened #327 "It's possible to Using react component as tooltip content and for global tooltip layer?"
as title description, thx
try component as content , it's just show [object Object]

[2017-08-21 11:07] ibc opened #328 "Microsoft Edge: Object doesn't support property or method 'Symbol(Symbol.iterator)'"
My React app generates a JS bundle with browserify+babel (presets "react" and "es2015", and plugins "transform-runtime", "transform-object-assign" and "transform-object-rest-spread"), and it includes  `react-tooltip`.

When in Microsoft Edge 15, I get this error when the `<Tooltip>` component is "rendered":

[code]

I know that there are some issues with Babel + Symbol and that, sometimes, a Babel

[2017-08-21 18:32] evansantos commented on #241
@Ardhimas it has moved to utils/getPosition... also you need to use as float not solid, to work the updatePosition() method, which call getPosition

[2017-08-24 13:49] WickyNilliams commented on #304
I was bit by the same issue. Good idea on the workaround

[2017-08-28 14:22] bluetidepro opened #329 "Does data-tip support jsx?"
Am I missing a setting, or does `data-tip` not support JSX? I've tried the following, wth `html` set as true, and not:

[code]

&

[code]

And when I hover both, I get `[ object Object ]`.

And to clarify, I know if I do the following, it does work:

[code]

But because of the issue with using tooltip's in a modal ([Troubleshooting  - Using tooltip within the modal](https://github.com/wwayne/react

[2017-08-28 16:05] ibc commented on #328
Friendly ping.

[2017-08-28 20:30] pixelcure commented on #316
I'm also experiencing this in IE11

[2017-08-29 12:18] ImanMh opened #330 "Use state instead of ref and callback"
Could we have this?

[code]
This would be easier to use and can cover server side rendering.
Now I have to create a ref to be able to open a tooltip.

[2017-08-29 13:04] IanWang opened #331 "Don't really need `findDOMNode`?"
Hi, I noticed that in the `Static Methods` section of the readme
there's a sample code like:
[code]
But as what [react doc](https://facebook.github.io/react/docs/react-dom.html#finddomnode) mentions, if I get it right, use the `ref` can also access the DOM object.

the `findDOMNode` seems to be redundant?

[2017-08-29 15:07] Kerumen commented on #203
To everyone stumbling on this issue here is what I did to disable the tooltip on mobile:

[code]

This way, you don't have to update the lib and you can control the behavior on your side.

[2017-08-30 07:48] ms007 commented on #57
@Techwraith Could you share your hacky global CSS?

[2017-08-30 08:33] wwayne commented on #331
@IanWang Good point, I have to browse the source code to check my logic 😄
To be short,  `findDOMNode(this.refs.foo)` will finally arrive at [here](https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L236)
[code]
`targetArray` is a list of browser native DOM nodes, so basically `findDOMNode(this.refs.foo)` should be a browser native DOM node.
I remember `ref` is refs to a React virtual

[2017-08-30 09:46] IanWang commented on #331
@wwayne thanks for your response.
I think the DOM from `ref` is the actual DOM ([React doc](https://facebook.github.io/react/docs/refs-and-the-dom.html))

so when you match something got from `querySelector` and `ref`, it should be the same one.
Here's a [quick test](http://jsbin.com/sutajipolo/edit?js,console)

[2017-08-30 10:00] carlobernardini commented on #295
Is there a way to prevent the tooltip from showing up when `data-delay-show` is defined and you clicked before the tooltip is actually shown? It seems that when I hide the tooltip programmatically (e.g. using `Tooltip.hide(ref)`) on click, it still shows up after that given delay.

[2017-08-30 11:05] wwayne commented on #331
Updated the README
Thanks for your explanation and findings 👍

[2017-08-30 11:05] #331 closed

[2017-09-01 11:12] carlobernardini opened #332 "Cancel delayed show on element click"
Is there a way to prevent the tooltip from showing up when data-delay-show is defined and you clicked before the tooltip is actually shown? It seems that when I hide the tooltip programmatically (e.g. using `Tooltip.hide(ref)`) on click, it still shows up after that given delay. I also tried using `data-event="mouseenter"` together with `data-event-off="click"` without success.

[2017-09-01 13:49] carlobernardini commented on #332
I think I already solved it, I wasn't aware that you could pass multiple events to `data-event-off` (e.g. `click mouseleave`) so I attached a handler of my own for `mouseleave` that tried to programmatically hide the tip for that particular event (in addition to `click`). This seemed to conflict.

[2017-09-01 13:49] #332 closed

[2017-09-07 18:50] amymarco opened #333 "Color on the top tooltip arrow"
Hi!

I'm trying to customize my border color for my tooltip. It works for the primary border shape, but leaves the arrow a black color. Is there a way to also customize that color so the whole thing is consistent?

How it currently looks:
<img width="104" alt="screen shot 2017-09-07 at 11 43 36 am" src="https://user-images.githubusercontent.com/1859475/30179860-c5482132-93c2-11e7-9164-46c77d981650

[2017-09-08 04:30] arfordweb opened #334 "ReactTooltip renders very slow when used many time on the same page"
I'm displaying tooltips in some table cells in tables that contain 500+ items.  Rendering is extremely slow.  When I remove just the `ReactTooltip` elements, the table renders quickly.  When a tooltip appears in every row in the table that contains about 500 items, my browser slows to a crawl for a bit until the render is complete.

[2017-09-08 15:13] petrogad commented on #328
I'm seeing this pretty consistently too.  Any planned fix?

[2017-09-08 15:44] #333 closed

[2017-09-10 23:26] dankonino commented on #329
Haha was there, colleague pointed me to the tutorial website again. It's the first example ->
you can use it this style
`<li data-tip data-for="meeting" >
            <span>
              <ReactTooltip
                className={css.tooltip}
                place="top"
                type="light"
                effect="float"
                id="meeting"
                delayHide={2000}>`  I am

[2017-09-11 15:31] bluetidepro commented on #329
@dankonino I don't think what you are suggesting will work. As pointed out in my 2nd part, it does work if you add the JSX in the `ReactTooltip`, but I'm trying to put the JSX in the element that has the tip. In the `data-tip`. That, I don't think, works.

Hoping I can get an answer or not, may not be able to use this library if that's the case. Any chance you could chime in, @wwayne? Or maybe @hu

[2017-09-11 16:12] wwayne commented on #329
@bluetidepro `data-tip` it actually makes use of the dangerouslySetInnerHTML https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L455
So, yes, JSX doesn't work for `data-tip`

[2017-09-11 16:47] bluetidepro commented on #329
Ah, okay. Thanks for the reply @wwayne!

[2017-09-11 18:20] srgraham commented on #329
If you just want to write html in jsx format, you can wrap it in ReactDOMServer.renderToStaticMarkup() to convert your jsx to an html string.

[2017-09-12 00:56] wwayne commented on #329
@srgraham Sounds a good idea, closing the issue

[2017-09-12 00:56] #329 closed

[2017-09-12 21:22] hellofantastic opened #335 "Will not install with react and react-dom 15.5.4"
Shouldn't  it though ? with ^15.0.0?

[2017-09-13 12:27] rayjsiu commented on #306
Thanks @redwarff, that helped me as well!

[2017-09-14 05:43] danieleleoni commented on #327
I have the same question...

[2017-09-14 05:54] danieleleoni commented on #327
I think the correct way to display a component is to use something like example:
[code]

[2017-09-15 03:26] ccjoe commented on #327
yes, ur right, but I need to update the content `<span>Show happy face</span>` with other react component,
because i used global ReactTooltip

[2017-09-15 06:04] ccjoe commented on #327
It's supported, I add html={true}, so it's not work well

[2017-09-15 06:04] #327 closed

[2017-09-16 17:33] dankonino opened #336 "Link not clickable in tooltip"
Hey guys, in the screenshot you can see my React tooltip being used. I managed everything nicely.
But if I pass this inside the tooltip, you can see it there. It's not clickable. Yeah w3 that desperate I was -> I passed normal
[code]

[2017-09-20 19:14] lawlessnut commented on #324
@dekkofilms did you find solution for this ? i'm looking for same

[2017-09-21 03:23] phuochau commented on #336
@dankonino did you solve this issue? I'm trying to fix it too

[2017-09-21 04:10] dankonino commented on #336
Nah we just made decision that link will be displayed somewhere else. Didn’t hack it at all

[2017-09-21 05:20] sashadixie commented on #299
i had the same issue in project, it was caused by same id-s of elements, there were 228 and more divs with the same id. check your id-s

[2017-09-21 07:49] vladimirivanoviliev commented on #328
Same issue here.

[2017-09-21 08:08] tatsujb opened #338 "unnecessary orientation correctors"
first off : amazing work! this is so simple to use and clean.

I have my tooltip info icon on the rightmost border of the screen and I chose to display towards the top but it defaults to left : is this intended behavior? if so could we have a parameter to disable this behavior. I don't really care if the pointing arrow breaks or disappears. choosing what I overlay is a bigger priority.

thanks

[2017-09-21 09:31] guzhavin commented on #248
This problem solved?

[2017-09-21 16:53] ryanhca commented on #248
I believe so. Should I close the issue?

[2017-09-21 17:24] guzhavin commented on #248
@ryanhca I see this bug in the current version.

[2017-09-21 20:23] ibrahimilu opened #339 "Tooltip inside a Button is not working only in Firefox"
<button type={"button"} >
          <i data-tip={"tooltip here"} data-for="widget-tooltip" className={"fa fa-info"}></i>
          <ReactTooltip id='widget-tooltip' />
</button>

[2017-09-21 20:34] ibrahimilu commented on #296
@msarilar i have the same issue as i am tooltip inside the button. The only fix i have is to change the button into a <div> or anything. Did you get the actual fix?

[2017-09-22 00:33] phuochau commented on #336
@dankonino just fixed by css

`
.__react_component_tooltip {
  pointer-events: auto !important;
}`

[2017-09-22 00:34] dankonino commented on #336
@phuochau wow man thanks will do it also ! :)

[2017-09-22 00:34] #336 closed

[2017-09-24 10:23] markusv opened #340 "CSP"
Hi,

it seems that this library uses inline styles to add its styling. This is a problem for the recommended CSP style rule:

style-src 'self'

I would be happy to include the css in my project, and this problem would be fixed..

Regards,
Markus

[2017-09-25 13:15] WickyNilliams opened #341 "Cannot be made accessible because `id` prop isn't propagated to wrapper"
To make the tooltip accessible, you need an `aria-describedby` attr on the element that triggers the tooltip (whose value is the `id` of the tooltip wrapper). Since `id` isn't added to the tooltip wrapper element, this component cannot be made accessible. e.g this is the minimum required html, which is not possible to achieve:

[code]

I would also ask, why is this not accessible by default?

[2017-09-26 00:51] augbog commented on #329
Hey so I know the `renderToStaticMarkup` is a valid solution but was just curious if there was a reason to not support JSX via `data-tip` given the use case originally mentioned?

[2017-09-26 01:08] wwayne commented on #329
@augbog I just thought put JSX inside the `ReactTooltip` component would be more readable, writing JSX as attribute is kind of confused to me

[2017-09-26 03:52] leizard commented on #277
+1 for this too. In the demo the tooltip is a little transparent but when I apply the package to my project the background is not transparent anymore.

[2017-09-26 05:52] bradennapier opened #342 "Does not work with React 16"
This package breaks any app using it once updated to React 16

[code]

[2017-09-26 08:33] tatsujb opened #343 "Is it possible to trigger opening on ANY event?"
say I just want to open my tooltip when a variable in my react app becomes true.

would that be doable?

in that case I could for instance make a tooltip popup when the user input for an input field matches a min char Regex but doesn't match the no special chars Regex for the field.

Sounds like a cool way to use this no?

[2017-09-26 20:48] joshhunt commented on #334
Interested in this issue. I have a page with a couple hundred items on it that need a tooltip and I'm unsure of the right way to do this.

If I include a `<ReactTooltip>` for every item, the page is unusable - not only is there huge multisecond delay introduced by the tooltip on initial render, actually hovering over the items is extremely laggy.

I tried having a single `<ReactTooltip>` element a

[2017-09-28 14:31] januszhou commented on #328
+1

[2017-09-29 09:25] samsiu commented on #312
I believe this has to do with react nullifying the event object after setState. see: https://github.com/facebook/react/issues/2850
The recommended way is to cache the e.currentTarget to component's state, I think.

[2017-09-29 17:30] manatarms opened #344 "What exactly does ReactTooltip rebuild do, and when is it required?"
Thanks for this awesome library. I had a question about the static rebuild method.

I have been using ReactTooltip in my application and it works in certain places. The places that it doesn't work in requires a rebuild (like below) to make it work.

[code]

When exactly is it necessary to do a rebuild? And what is it doing?
Thanks!

[2017-10-01 12:04] iyel commented on #286
What about not filling the arrow but also adding a border to it?

[2017-10-02 16:13] manatarms opened #345 "Issues with jerky transition"
I noticed there is a delay between the children when hiding the tooltip. I tried removing the transition properties but the problem still persists. The only thing that did work was applying a `display:none` on hide and `display:block` in the css inspector.  But since the styles are injected inline, it's not possible to do this.
Wondering if anyone knows what's happening.
Here's an example
![toolti

[2017-10-02 16:28] manatarms commented on #345
I found the cause. My button had a `transition: all` property on it. Removing that fixed it.

[2017-10-02 16:28] #345 closed

[2017-10-03 20:44] emily-plummer commented on #342
heya @bradennapier did you end up finding a work around for this? I saw your comment in the React repo!

[2017-10-03 21:07] bradennapier commented on #342
Hey @emily-plummer this happens when you have two versions of React installed.  This was due to a repo which I was not even including but since it was in my package.json it was causing an issue.

[code]

revealed that repo easily and upon removing it this problem instantly resolved.  So it was not an issue with `react-tooltip` at all.

That being said, I will leave this open for a little while so

[2017-10-03 21:15] jordmccord commented on #342
I've been running the plugin in production for over a week now and had no problems...

[2017-10-03 21:33] bradennapier commented on #342
Correct, you will not have problems unless there is a module that has React < 16 in its dependencies rather than peerDependencies where it should be.

[2017-10-03 21:41] emily-plummer commented on #342
Rad! Thanks @bradennapier  :)

[2017-10-04 00:20] alex-cory commented on #342
Wait.. so what was this fix? Moving `react` in `package.json` of ReactTooltip to `peerDependencies`??

[2017-10-04 01:18] bradennapier commented on #342
No, it wasnt react-tooltip that was the problem, if ANY of your dependencies or their dependencies have react as a dependency rather than peerDependency then any calls that utilize enqueue callback

[code]

will generate this error.

if you run the

[code]

**or**

[code]

on your app you should see a package that has react as a dependency -- that package needs to move it to peerDependencies or yo

[2017-10-07 19:49] Thoughtscript commented on #294
I know this is an older issue but I ran into this myself. Want to throw in my two cents if it helps - for our particular scenario we were rerendering the data-tip element but couldn't get the tooltip to change immediately (without mousemove).

The trick was to do this:
[code]
Such that each data-tip element does update the ReactTooltip by passing in its tip data AND setting getContent which trigge

[2017-10-09 10:06] tatsujb opened #346 "Tooltip redering twice in two seperate positions"
![image](https://user-images.githubusercontent.com/5132359/31333402-3b50d8a2-acea-11e7-80ff-9ca5cf10102b.png)

[code]

why is it doing this?

If I place it left or right it shows on the left in both of those case and not on top (also you'll notice the one on the left is darker making me think there's 2 or more showing on the left.

[2017-10-10 17:47] jonricaurte commented on #342
This line: https://github.com/wwayne/react-tooltip/blob/master/package.json#L42

Needs to change to this:

https://github.com/eiriklv/react-masonry-component/blob/master/package.json#L39

Or what this PR is doing:

https://github.com/wwayne/react-tooltip/pull/321

[2017-10-11 17:50] alex-shamshurin commented on #312
The same issue is here. Can we replace `currentTarget` with `target` as temporary workaround?

[2017-10-13 17:22] mvehar commented on #328
+1

[2017-10-16 13:40] wwayne commented on #342
Merged and deployed as 3.4.0

[2017-10-16 13:40] #342 closed

[2017-10-17 11:37] Sedaj commented on #346
Check if you don't create <ReactTooltip /> within a loop, but outside

[2017-10-17 22:31] codenameyau commented on #203
There is a known issue with iOS safari where click events aren't being fired on non interactive elements, e.g. divs and spans.

See: https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

I used a combination of the solutions above and `cursor: 'pointer'` to solve this issue for me:

[code]

[2017-10-18 08:22] nik-lampe commented on #328
+1

[2017-10-18 08:23] nik-lampe commented on #297
+1

[2017-10-18 08:58] mvehar commented on #328
Quick solution:

[code]

[2017-10-20 01:51] wujunjenny opened #347 "getContent add a param (target)"

[2017-10-20 15:46] pemasora commented on #328
+1, same problem

[2017-10-20 16:07] pemasora commented on #328
How to use that quick solution? That error is breaking some javascript on IE

[2017-10-20 21:50] canoqb10 commented on #346
you must write "data-for" in your component and will reference <ReacTooltip> with "id" to "data-for".
for example:
<a data-tip data-for='global'> ....something ....</a>

<ReactTooltip id='global'......./>

[2017-10-21 00:25] occamsraiser commented on #312
I'm seeing this problem as well.

[2017-10-21 09:28] alex-shamshurin commented on #312
@occamsraiser Try this fork https://www.npmjs.com/package/react-tooltip-currenttarget

[2017-10-23 16:19] occamsraiser commented on #312
@alex-shamshurin I tried it out -- I get a `Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null` from getPosition.js in this fork

[2017-10-24 09:43] alex-shamshurin commented on #312
@occamsraiser , I use this fork in production and get no errors.  My fork fixed only one issue here

[code]

not other issues related with the topic, your problem is related with the same reason (react lose currentTarget after setState callback). I'll try to fix it on fork.

[2017-10-24 12:40] alex-shamshurin commented on #312
@occamsraiser I have updated to 3.3.4 and then got the error. So 3.3.4 is broken, I will fix it, but 3.3.3 works normally

[2017-10-25 08:52] alex-shamshurin commented on #312
I've just released 3.3.5 https://www.npmjs.com/package/react-tooltip-currenttarget and the issue is fixed, try it and please report and I make a PR to main package

[2017-10-25 16:56] occamsraiser commented on #312
@alex-shamshurin, 3.3.5 works great. Thanks for fixing the issue!

[2017-10-25 19:24] thomasgwatson commented on #110
Also stuck on this, FWIW

Even specifying what classes need to be manipulated would be helpful. I'm trying to just control the border color and its proving really challenging to do so.

Added a custom class .tooltip-border

It changes the border color, aside from the pointer part of the tool-tip.

I looked at the SASS (https://github.com/wwayne/react-tooltip/blob/master/src/index.scss) and tried t

[2017-10-26 14:17] danielearwicker commented on #328
IE 11 broken by this also, as it doesn't even have `Symbol`. Going to try including the source in my own project.

[2017-10-26 14:23] ibc commented on #328
Guys, as the README clearly states this project is looking for maintainers:

So it's expected that the author won't fix this. If someone has the knowledge and the will to maintain this project, please contact him.

I do know that adding `+1` in the issue comments is much easier than taking the work with you and solving problems, but this is what we have.

[2017-10-29 19:48] ThomasGueldner opened #349 "Tooltip's left and top position never updated"
Hi folks!

Recently, I have been trying to get the ```ReactTooltip``` implemented into my app. So far, I can tell that it actually works except for the fact that the position of the react ```ReactTooltip``` never gets really updated; it always remains at ```left: 999em```and ```top: -999em``` , therefore, the ```ReactTooltip``` cannot be really seen since it is kinda "ouf of range" so to speak. I

[2017-10-30 07:32] ThomasGueldner commented on #349
I found the cause for my problem.
The version of react was inappropriate. A little update of react and its dependencies solved the problem.
Therefore, I am going to close here.

Have a nice (successful) day!

[2017-10-30 07:32] #349 closed

[2017-10-31 03:24] kristiankeane commented on #328
I fixed this by replacing

`for (const mutation of mutations) {
  for (const element of mutation.removedNodes) {`

with the loop equivalent:

`for (var m1 = 0; m1 < mutations.length; m1++) {
        const mutation = mutations[m1]
        for (var m2 = 0; m2 < mutation.removedNodes.length; m2++) {
          const element = mutation.removedNodes[m2]`

Make this substitution in src/decorators/trackRe

[2017-10-31 23:53] occamsraiser commented on #312
@alex-shamshurin, Do you have a rough timeline on when your changes will be merged into the main package?

[2017-11-02 07:49] alex-shamshurin commented on #312
I'll make a PR this week. I do not know when it will be merged.

[2017-11-02 12:41] apandichi commented on #283
Hey @wwayne, any chance we can get this fixed?
I created a simple React project that demonstrates this issue:
https://github.com/apandichi/demo-tooltip-hide-issue

Steps to reproduce the problem:
1. Click the first face.
2. Click the second face.
I expect that the first tooltip is hidden (as per globalEventOff='click'). Instead, both tooltips are displayed.

[2017-11-09 19:57] osnysantos opened #350 "Not working on Shadow DOM"
I'm trying to use ReactTooltip in a project with ShadowDOM and it's not showing up, then I tried moving it out of ShadowDOM and it worked. So far I don't know the reason why isn't working. I can only think about CSS which is what ShadowDOM changes the default behavior.

This is the lib I'm using to create the ShadowDOM: https://github.com/Wildhoney/ReactShadow

Does someone faced the same issue an

[2017-11-10 21:34] ashok-sc opened #351 "`import ReactTooltip from 'react-tooltip'` doesn't work."
When importing this way, I get the following runtime error:
`
Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.`

Changing the import to this fixes it:

`import * as ReactTooltip from 'react-tooltip';`

[2017-11-16 18:58] achang28 commented on #318
From the API documentation, given the explanation about rebinding the target location (i.e. where the tooltip will pop-up from), it seems like .rebuild() simply refreshes the Tooltip instance to recognize the most updated values from that target DOM element...

[2017-11-20 20:34] jccrofty30 opened #352 "No "construct or call signatures""
[code]

[code]

Receive error:
[code]

[2017-11-21 05:14] Q-Man opened #353 "Anchor position wrong in IE11 when parent container positioned by CSS transform"
In IE11 the anchor of a Tooltip rendered in a container that has any parent that is positioned by CSS transform is wrong. It acts as if the parent was not moved.

[2017-11-21 09:16] amitzur opened #354 "Tooltip doesn't show on late mounted elements"
Since `bindListeners` is called only on `componentDidMount`, there is no listening on `mouseenter` for any element that shows up in the DOM after `ReactTooltip` was mounted.

Is this supposed to be supported?

Thanks!

[2017-11-22 14:58] tyler1314371 commented on #354
@amitzur I believe there was a PR opened for this https://github.com/wwayne/react-tooltip/pull/273

However I don't think it has been merged yet. I am also very interested in this feature.

[2017-11-23 15:34] ac1dr3d commented on #47
thank you!

[2017-11-28 11:59] simonconway1979 opened #355 "On Scroll tooltip is offset by 2x the vertical distance"
I am using react-tooltip and seem to get exactly the same issue as: https://github.com/wwayne/react-tooltip/issues/308

When I scroll my tooltip is scrolled 2 X the vertical offset.

Here is a demo from issue #308 which demonstrates exactly how the issue looks in my app:
http://i.imgur.com/XnuYycj.gifv

I've tried to go through the code and I cannot see where the issue occurs. The left and top pos

[2017-11-29 10:19] Sideness commented on #271
Is there any news about this issue? I would like to do this aswell.

[2017-12-01 15:59] Ganasist opened #356 "Momentary double render of Tooltip"
I see the Tooltip rendering momentarily in double, then reverting to proper single rendering automatically. This only happens sometimes, on certain components. In most other locations it works flawlessly.

Any suggestions? See attached

<img width="214" alt="screen shot 2017-12-01 at 16 57 19 2" src="https://user-images.githubusercontent.com/2892647/33490936-fe339e5c-d6b8-11e7-9c91-dd45adae850b.pn

[2017-12-04 15:33] albertovilva commented on #356
If your use case is the same as mine what is happening is:

1. You added a <Component><ReactTooltip/></Component>
2. You are using that Component more than once.

Since the tooltip binds to the **data-for** attribute, its binding multiple tooltips to multiple triggers. Same thing happening to me.

A solution to this would be pretty cool. Like injecting a random hash to the data-for attribute or so

[2017-12-05 10:00] Ganasist commented on #356
Yes the issue was non-unique data-for attributes in large lists. Once I added unique values there this issue cleared up. Also the tooltips seem snappier now. Thanks!

[2017-12-05 10:00] #356 closed

[2017-12-05 13:39] anasanzari opened #357 "Render React components as content of tooltip?"

[2017-12-05 19:34] albertovilva commented on #356
BTW A solution I came up with is creating the component as a stateful component. Set a uniqueID in the state object and update it with a random value onComponentWillMount(), use that value for your **data-for** attribute. That way every instance of your component gets a different ID. Hope it helps!

[2017-12-07 16:16] addijhaq commented on #47
i cannot get tool tip to show when onDrag event is set.

`data-event='drag'` `data-event='ondrag'` none of these work.... these are HTML DOM events.... nothing special here.

[2017-12-11 23:50] Wrangl commented on #354
I believe you can call ReactTooltip.rebuild() after the new components are rendered?
And if you're using react state, make sure to put it in the callback, e.g.
     this.setState({newComponentsAdded: true}, () => ReactTooltip.rebuild() )

[2017-12-12 03:49] amitzur commented on #354
This would account for a very unrealistic API, since I would need to manage state of added components. Essentially reimplement the reconciler :)

I am in favor of the approach proposed in #273 (actually I see no other way). Currently I've just implemented something similar with less features for my app.

[2017-12-14 07:39] DanielDziubecki commented on #357
+1

[2017-12-14 07:47] arun1001 commented on #357
+1

[2017-12-14 09:29] wamujlb opened #358 "Tooltip crops if renders in `Overflow: hidden` element"
Hi. This is too big problem if you render tooltip inside an element which has prop - `overflow: hidden`.
[
![image](https://user-images.githubusercontent.com/14905044/33985094-0285bf3e-e0d3-11e7-8804-156151545263.png)
](url)

[2017-12-20 05:15] forrestbice commented on #148
Any progress on this issue? @pelhage and I are still experiencing this issue; really hoping we don't need to fully remove the tooltip...

[2017-12-20 21:32] ali-sadeghin commented on #333
Hi @amymarco
Did you find your way around this issue?
I'm facing the very same problem and can't figure out how to change the black color of the arrow.
Thanks

[2017-12-20 22:19] amymarco commented on #333
this seemed to do the trick:

[code]

[2017-12-21 00:58] ali-sadeghin commented on #333
Thanks a bunch @amymarco , you saved my life ;-)

[2017-12-21 05:47] kailaskore commented on #355
+1

[2017-12-21 13:01] kuldeepkeshwar commented on #334
@arfordweb @joshhunt have you find any solution/workaround for this? I'm also having use-case

When I tried it with `why-did-you-update`,
I was getting warning while hovering over the cells
[code]

[2017-12-21 13:03] joshhunt commented on #334
Ultimately I went with https://github.com/romainberger/react-portal-tooltip

[2017-12-21 13:11] kuldeepkeshwar commented on #334
@joshhunt I can't upgrade to React 16, any other solution?

[2017-12-21 13:12] joshhunt commented on #334
I just copied the module's source code into my repo and made the slight
modifications that were required.

On Thu, Dec 21, 2017 at 1:11 PM anotherjsguy <notifications@github.com>
wrote:

[2017-12-21 23:18] augbog commented on #357
Probably worth looking at this issue here: https://github.com/wwayne/react-tooltip/issues/329

There is a way to do it although it isn't really pretty. As far as I'm aware there are two main ways of doing it

* you do the suggestion mentioned in the issue where you called `renderToStaticMarkup` and shove it into the data attribute
* you make the tooltip component you are hoping to render a child o

[2017-12-27 13:49] pranavq212 commented on #328
I am version 3.4.0, still broken on IE 11. Error is `Symbol is undfined` at `for (var _iterator = mutations[Symbol.iterator](), _step; !(_iteratorNormalCompletion = (_step = _iterator.next()).done); _iteratorNormalCompletion = true) {`

[2017-12-28 08:30] pranavq212 commented on #328
**Resolution** to this issue for IE 11 for me is to install `polyfill `which can make babel to compile `Symbol`

1. Install` babel-polyfill`
`npm install --save babel-polyfill`

2. Import `babel-polyfill` before react-tooltip
`import "babel-polyfill";`

If you are not using npm then you can use cdn to add polyfill js like:

`<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/bro

[2018-01-03 16:18] ChCosmin opened #361 "Click outside of tooltip for disable"
What would be the data-event-off to hide the tooltip whenever you click outside of the trigger (anywhere on the page)?

[2018-01-03 16:26] ChCosmin opened #362 "True string appears in empty tooltip"
[code]

any idea why this adds a text of " true "  inside the tooltip?
there is no :after { content: "true" "} or anything that would spawn it, it just apeared on its own

[2018-01-08 19:16] snow-kbsd commented on #350
Hey, just to give you some idea.

ReactTooltip uses document.querySelectorAll('') and document.querySelector to find tooltips with the tooltip attribute. This querySelect will not work within the shadow DOM since the shadow DOM is created separately from the browser DOM and querySelectorAll on the browser dom will not return any nodes within shadow DOMs.

You will need to change those querySelecto

[2018-01-11 16:51] flccrakers commented on #148
Hey I also have this issue. It didn't prevent my app to work but send annoying error code. Beside, it show me two tooltip when this is happening.
![capture du 2018-01-11 17-48-57](https://user-images.githubusercontent.com/13526942/34836390-14d60b36-f6f8-11e7-93f0-debf5febb000.png)

[2018-01-12 13:43] oyshan commented on #361
This seems to do the trick for me, enabling pointerEvents + stopping click event propagation on tooltip content:

	onClickTooltipContent(e){
		// do not hide tooltip when clicking inside tooltip content area
		e.stopPropagation()
	}

	render() {
		const tooltipStyle = {
			pointerEvents: 'auto', // enable click/selection etc. events inside tooltip
			overflowY: 'auto', // make content scrollable,

[2018-01-14 22:40] pcherkasova commented on #206
Any resolution?

[2018-01-17 22:55] uxtx commented on #358
ran up against this as well - has anyone come up with a work around for this?

[2018-01-18 09:33] wamujlb commented on #358
@uxtx , do you have some ideas to fix it?

[2018-01-20 08:45] combizs commented on #362
By default, if nothing is given to **data-tip**, it will render _true_

[2018-01-24 12:48] Ganasist opened #363 "Re-rendering unnecessarily?"
I've been optimising across my app recently using ["why-did-you-update"](https://github.com/maicki/why-did-you-update)

It's triggering on react-tooltip quite a bit:

![screen shot 2018-01-24 at 13 47 11](https://user-images.githubusercontent.com/2892647/35332920-2761346e-010d-11e8-81de-1ecaad3655bb.png)

Is there any way you could optimise this via PureComponent or shouldComponentUpdate?

[2018-01-24 22:10] mbenjamin618 commented on #57
@Techwraith I'd also be interested in your hacky css

[2018-01-26 16:48] ikorgik commented on #282
Hi, just sharing ways that worked for me:
1) Include `<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js' />` in header  - quite bad option, It's huge.
2) Add `import 'babel-polyfill'`
3) Add
[code]

[2018-02-01 13:32] tooltipNotSHOW opened #364 "can't add tool tip via state change"
Hi,
I try to add react tool tip dynamically.
Meaning my app loads react tool tip to a state of a component.
Unfortunately, the tool tip never shows up.
When I looked on the props, I saw that the show state is off.
The position of the tool was set to -999 both in left and top.
Furthermore, the children of the React tool tip were not empty, but were never shown in the DOM.
Does anyone know what it d

[2018-02-07 14:37] paulcredmond commented on #298
@duckscofield How did you get this to work? I'm having the same problem. I tried the `html={true}` as posted above but I get the same result.

[2018-02-07 15:17] paulcredmond opened #365 "Single click open & close"
In the demo you have two examples of custom events:

[code]

I want to do the second one, except a single click to open and single click to close.

`data-event='click' data-event-off='click'` shows nothing on click. How can I get this to work?

I'm looking for this because I want links inside the tooltips to be clickable, so the first demo doesn't work in that case. The second demo is closer to wh

[2018-02-07 15:22] paulcredmond commented on #365
I got it. Use `globaleventoff="click"`.

[2018-02-07 17:10] kellyrmilligan commented on #304
+1, guess i'm doing the workaround 🤕

[2018-02-08 02:26] duckscofield commented on #298
@paulcredmond
In my case, I use the code like as bellows:

<YourComponentName
...
data-for="one id name"
data-html
data-tip={
  `<img src="" alt=""/>`
}
...
/>

[2018-02-08 14:19] paulcredmond commented on #298
Thanks for the reply @duckscofield

Mine is a little more complicated as I have unparsed tags, but I figured it out using the following:

[code]

[2018-02-14 09:12] ateufel commented on #363
i got the same problem, render performance is very slow especially in IE11 - probably because of react-tooltip, because it is the only component that shows up with why-did-you-update.

[2018-02-16 15:19] divyanshu013 commented on #334
Managed to resolve my issue with `rc-tooltip` https://github.com/react-component/tooltip

[2018-02-20 13:46] #365 closed

[2018-02-22 00:31] occamsraiser commented on #312
@wwayne any update on when some of these PRs will be merged into the main branch and released?

[2018-02-22 19:53] codywsears opened #367 "Custom event removes element's event listener"
I have an onClick function associated with my parent div:
[code]
ReactTooltip seems to remove the original click event listener from the parent.

[2018-02-22 22:04] codywsears commented on #367
I was able to fix this by setting isCapture to true.
[code]
closing this issue

[2018-02-22 22:04] #367 closed

[2018-02-27 13:13] Tarpsvo commented on #358
That's what `overflow: hidden` does. Either make the overflow visible or put the tooltip in a parent view.

[2018-03-02 11:06] pjisha commented on #298
It doesn't work for me either. Displays [object Object]. Tried setting data-html to true. But still no luck.

[2018-03-02 15:25] ssilve1989 commented on #206
Also trying to use this in ag-grid and experiencing some weird results when new cells that use tooltips are rendered into the viewport.

[2018-03-02 16:39] pjisha commented on #298
Found this thread - https://github.com/wwayne/react-tooltip/issues/329. The data-tip doesn't support jsx.

[2018-03-07 11:29] kenjinp commented on #294
@Thoughtscript I think the reason this is working is because you passed an array which triggers the function as if it was a setTimeout with a default interval

[2018-03-16 07:14] JFFby opened #370 "Tooltip hides immediately"
Hey,
I am confused because my tooltip hides immediately and I don't understand why. You can watch it [here](https://www.screencast.com/t/2Llt30hV)
My code:

[code]
[code]
Why I am getting in this hide function ?

[2018-03-19 10:09] Manuel-Manoury commented on #71
Sorry for grave-digging here ^^' I am working on an iframe-contained widget, thus I tend to face this kind of issue quite often with my UI dependencies. A way to make the component work with iframes would be to use `context` in order to define the `document` node to be used (specially for the style which is appended to the `head` node). Component Context is not something we should use a lot, but I

[2018-03-20 16:48] rakshitshetty commented on #305
@fmlharrison I am facing the exact same issue. Which library did you go about using to fix this?

[2018-03-26 07:19] nachikethashu commented on #231
Having the same issue with checkbox inside the react-tooltip.

Why this PR(https://github.com/wwayne/react-tooltip/pull/281) is not being merged?

[2018-03-28 10:15] belicekm opened #371 "Incorrect tooltip positioning in corner cases"
Tooltip won't display correctly when close to top-left and top-right corner of the browser window.

How to reproduce:
- align the hoverable area to be near the top-right corner of the window
- position mouse cursor above the hoverable area
- move cursor down until it is inside of the hoverable area
- tooltip will be displayed with incorrect position

Following picture was taken from http://wwayne.

[2018-04-07 23:59] aronhelser commented on #371
I see - it seems to happen when the mouse enters the hoverable area from outside the window. Like the top or right in the above picture.

Any ideas on how to fix it?

[2018-04-08 00:05] #347 closed

[2018-04-08 00:06] #361 closed

[2018-04-08 00:08] aronhelser commented on #340
what is CSP?

[2018-04-09 06:11] markusv commented on #340
CSP stands for Content Security Policy

https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2018-04-09 13:02] silviapeveri commented on #286
Same problem, I want to add a border to the entire tooltip, triangle included, but I could only fill it with color. Is there a way?

[2018-04-09 17:28] #240 closed

[2018-04-09 18:55] #328 closed

[2018-04-09 18:55] #341 closed

[2018-04-09 19:12] aronhelser commented on #328
@kristiankeane I adopted your solution of simply using a 'for' loop.

Everyone who has the opportunity, please try this again with v3.4.2, and re-open if needed.

[2018-04-09 20:38] aronhelser commented on #340
Does this commit:
https://github.com/wwayne/react-tooltip/commit/82e3f885ee3a06a11b0694fb4ea4de269e038a41
address your concern? It looks like you can set 'insecure=false' as a
property and avoid style injection. Or am I misunderstanding the issue?

On Mon, Apr 9, 2018 at 2:11 AM, Markus Voss <notifications@github.com>
wrote:

[2018-04-10 18:44] aronhelser commented on #371
@belicekm if you have a few minutes, please look at #207 - it doesn't fix the problem you've found, but this is the code that must be fixed. For some reason, it's not detecting that it should reposition the tooltip.

[2018-04-10 20:41] camiblanch commented on #265
This doesn't seem to work for me. I think it might be because I am showing the tooltips using `ReactTooltip.show()`.

[2018-04-10 21:11] camiblanch commented on #265
I was able to get it to work after adding `data-for` to the inputs I have the tooltips bound to and adding `id` to the ReactTooltip components that correspond with them. Hope that helps anyone else having the same problem as me!

[2018-04-10 21:42] aronhelser commented on #265
Great - glad to hear you got it working.

On Tue, Apr 10, 2018 at 5:11 PM, Cami <notifications@github.com> wrote:

[2018-04-11 13:35] aronhelser commented on #371
@hassanbot I would love it if you could take a look at this issue for a few minutes!

[2018-04-11 14:09] levymoreira opened #374 "Incorrect positioning on mobile using effect='solid'"
Code:
[code]

The current mobile result:
![screen shot 2018-04-11 at 15 08 52](https://user-images.githubusercontent.com/588214/38622098-47e1304e-3d9a-11e8-89d5-682b1b76eff2.png)

Expected result:
(Centered tooltip)
![screen shot 2018-04-11 at 15 04 36](https://user-images.githubusercontent.com/588214/38622021-20bf6490-3d9a-11e8-8a62-7dd4828ef423.png)

[2018-04-11 14:29] aronhelser commented on #374
Yes, that result is much more desirable. How did you generate the 'expected result'? some style hacking we could use to fix the problem?

Do you have a suggested fix? I'm not set up to develop or test fixes on mobile...

[2018-04-13 17:09] thiago-ventura-amido commented on #364
I didn't get that.

What's this.state.label ?

[2018-04-13 18:35] aronhelser commented on #364
It's a placeholder for whatever your state is. If you have a valid label,
display it. Otherwise, return null or "" and the tooltip will hide.

On Fri, Apr 13, 2018 at 1:09 PM, thiago-ventura-amido <
notifications@github.com> wrote:

[2018-04-15 19:40] levymoreira commented on #374
To fix it I just changed the left property to 0, my suggestion is when you calculating the left value check if it's mobile if it's just don't set it, once that you are setting it directly in the element.style we just can't change it using CSS (actually we can but we need use !import).
You can test it easily using the Google Chrome mobile device view.

[2018-04-17 01:00] csantos1113 commented on #370
I don't know how to fix this, but I know what the issue is. `globalEventOff='click'` is adding a click window listener which is being triggered right after you click your button (svg).

So when you click your button:
1. Opens the tooltip
2. Window listener
3. Hides the tooltip

[2018-04-17 11:42] vonubisch commented on #333
If you don't want to use a custom class:

    .__react_component_tooltip.place-left::after {
        border-left: 8px solid red !important;
    }

    .__react_component_tooltip.place-right::after {
        border-right: 8px solid red !important;
    }

    .__react_component_tooltip.place-top::after {
        border-top: 8px solid red !important;
    }

    .__react_component_tooltip.place-bottom

[2018-04-18 20:12] #357 closed

[2018-04-18 20:13] #346 closed

[2018-04-18 20:15] aronhelser commented on #326
Can you give some sample code that produces the error?

I'm closing this issue for now, please re-open if you are still seeing this issue.

[2018-04-18 20:15] #326 closed

[2018-04-18 20:16] #248 closed

[2018-04-20 17:34] joedevgee opened #377 "Multiple tooltip in same page open all at the same time"
I usually have multiple react-tooltip for each place I want to show a tooltip.

Problem, after clicking the second tooltip, the first tooltip does not close. Therefore, user is seeing both tooltip opening at the same time.

My assumption is that `data-for` and `id` is there to avoid this from happening

You can also see this demo on [![Edit 038px2yrmp](https://codesandbox.io/static/img/play-codesa

[2018-04-25 08:39] nick722 opened #378 "How to pass a React Component toTooltip"
Hi, is there a way to pass a React Component to the Tooltip? Can I pass it to the data-tip or is there any other way?

[2018-04-25 08:45] nick722 commented on #39
Can't see example of using React component into tooltip. Can you please show it explicitly.

[2018-04-25 16:04] aronhelser commented on #378
The last examples on the page use `getContent`. If your function returns a React component, it works just fine:

`getContent={() => (<SomeReactComponent x=1 y=2>)}`

[2018-04-25 16:04] aronhelser commented on #39
See #378 for an example.

[2018-04-27 17:48] pelotom commented on #306
@redwarff I'm doing this, it doesn't seem to work at all 🤷‍♂️

[2018-04-27 20:26] #378 closed

[2018-04-28 19:44] aronhelser commented on #377
Thank you for the working sample code and example code.
This is obviously only a problem when using the `data-event="click"` activation - so one work-around is to use a hovering tool-tip.
`data-id` is primarily used to connect a specific tooltip with a target, but I can see how it could help in this case. Do you think you might be able to look for a solution and submit a pull request?

[2018-04-30 17:18] aronhelser commented on #377
A potential work-around is to add an afterShow event handler and hide the other tooltips manually.

[2018-04-30 17:27] devilbags commented on #377
@aronhelser Working on a major release now, will come back and raise a PR. Thanks for the solution

[2018-04-30 17:33] aronhelser commented on #338
I believe your content is big enough that displaying a centered tooltip to the top will cause it to run off the right edge - thus the correction to display it to the left. I don't think you'd want your content to get cut off - what solution do you suggest?

You can play with resizing the examples page to see how it behaves when hitting the edges...

[2018-05-01 18:14] #235 closed

[2018-05-03 18:14] aronhelser commented on #235
:tada: This issue has been resolved in version 3.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-03 18:14] aronhelser commented on #248
:tada: This issue has been resolved in version 3.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-04 19:01] danielcb29 commented on #203
Hey guys! I found a solution that works for me:

**Handle tooltip close on iOS**
[code]

**Handle tooltip open on any device because it didn't work on iOS**
[code]
both as prop of ReactTooltip

Remember include [bowser](https://github.com/lancedikson/bowser) as a dependency to check if you are currently on iOS.

[2018-05-08 12:17] aronhelser commented on #355
If anyone can provide demo code that can be debugged, that would help - or if you can use clues from #147 to isolate the problem, I'm happy to merge a PR 😄

[2018-05-08 18:49] khalid3n commented on #265
I am trying to get my head around it. I have a form which has multiple fields and I have to show tooltips onClick for each one, but If I click one tooltip to show, and then click on another the previous one doesn't close. Is there any way to show only one tooltip at the same time?

here is my code. I have written a wrapper component
`class Tooltip extends React.PureComponent {
  render() {
    con

[2018-05-08 19:50] aronhelser commented on #265
Yes, instead of including the `ReactToolTip` in this component, you keep it separate. There will be a single `id`, but each `<a>` should set `data-tip={text}`
HTH

[2018-05-11 19:08] s-dezign opened #381 "Place bottom, left"
Is it any way how set placement as bottom, left? like at the bottom and start of element, or the bottom and end of the element?

Because right now if I have an element close the window border I can't set up bottom ... it's showing tooltip on the side no matter what.

Thanks

[2018-05-14 18:55] aronhelser commented on #381
Yes, react-tooltip doesn't have option for bottom+left, like some of the other tooltips I've seen. It'd be a great contribution....

[2018-05-14 19:00] aronhelser commented on #323
I would suggest using a single <ReactTooltip /> for the table, and using `data-tip` or `getContent` to customize the content per table cell.

[2018-05-14 19:01] aronhelser commented on #322
React 16 now works fine.

[2018-05-14 19:01] #322 closed

[2018-05-14 20:12] aronhelser commented on #319
Did you make any progress with this?

[2018-05-16 10:52] 0190 commented on #35
In case anybody has the same problem as @tnrich did, with hover not triggering, add `pointer-events: auto !important;` to the `.extra` css class. Found here: https://github.com/wwayne/react-tooltip/issues/227

[2018-05-17 20:23] DECAlum opened #382 "Changing browser size for tooltip placement."
I have an app that divides the browser window into different areas.  There is a list of items on the left side and content on the right.  I would like tooltips to be kept within the right side and not spill over into the left side.  I noticed in the code that window.innerHeight and window.innerWidth are being used for the placement calculations.  Is there any way to override this?  If not, would i

[2018-05-18 10:10] illiteratewriter opened #383 "Feature to add trigger type"
It should be able to change the trigger type in `Tooltips`. `Popper.js` supports trigger types.

[2018-05-18 10:12] #383 closed

[2018-05-18 10:13] illiteratewriter commented on #383
Sorry. Found it.

[2018-05-18 13:45] conor-kelleher commented on #355
The issue can be recreated by putting the tooltip inside an element with a scroll. The issue doesn't show when the entire page scrolls but rather just the element containing the tooltip. It moves with the view it is inside but moves too much, presumably something to do with all of the offset calculations in https://github.com/wwayne/react-tooltip/blob/master/src/utils/getPosition.js

[2018-05-18 13:55] henryson commented on #355
Great explanation, thanks!

I did not have time to produce any demo code, I hope this will suffice.

Regards Josef

On Fri, May 18, 2018 at 3:45 PM +0200, "Conor Kelleher" <notifications@github.com> wrote:

The issue can be recreated by putting the tooltip inside an element with a scroll. The issue doesn't show when the entire page scrolls but rather just the element containing the tooltip. It mov

[2018-05-19 21:34] P0lip commented on #370
I observed the same buggy behaviour for a couple of tooltips.
In my particular case, it's caused by multiple listeners being attached to the same tip (please refer to screenshots).
For some reason, previously attached listeners aren't removed, while a new one gets attached.
With some doze of certainty, I may say that the reason is right here in [src/decorators/customEvent.js#52](https://github.com

[2018-05-21 05:55] myfoxtail commented on #340
@markusv it is solved in the new versions (3.6.0 works well).

[2018-05-21 06:01] myfoxtail commented on #340
@aronhelser the thing is that your styles are being embedded on the page by one of your js files and it does not work with strict content security policy unless you put the hash.

So the question is can you move all your styles to a separate css file?

[2018-05-21 13:28] aronhelser commented on #340
@myfoxtail could you try out the `insecure=false` option and tell me if that fixes the issue? I'm not sure if the styles are still included, but just not injected?

[2018-05-21 19:54] gnemtsov opened #385 "Component is hanging the Chrome browser"
Hello!

I am having problems with the component. It happens both with effect="float" and effect="solid". I think it can be reproduced by minimizing the screen size so that cursor will be over the tooltip, when it appears.
Here is the output in developer console (browser just hangs):
![image](https://user-images.githubusercontent.com/6842497/40326853-70faf69e-5d49-11e8-844d-8798ef152d56.png)
Hope t

[2018-05-21 20:33] aronhelser commented on #385
I see `.updatePosition()` on the call stack - may be a recent regression when we added that call inside `.showToolTip()`. Would you mind trying an earlier version, maybe 3.4.0, and seeing if this bug reproduces?

[2018-05-22 00:37] myfoxtail commented on #340
Hi @aronhelser

Thank you for the response. `insecure=false` option removes styles from the header tag which is cool, but I cannot find any css file I can add to my bundle.

I'm afraid that the package you deliver with npm does not contain any css files (please refer to image below):

![image](https://user-images.githubusercontent.com/4619214/40336248-e8373e36-5dab-11e8-944c-8d12b11b7e4a.png)

Tho

[2018-05-23 05:48] gnemtsov commented on #385
Yes, you are right. If I downgrade to version 3.4.0, this problem disappears.
Positioning is sometimes wrong, but it is not so critical as browser hanging.
I use tooltip component for showing form fields descriptions:
![image](https://user-images.githubusercontent.com/6842497/40405531-a77af8b4-5e65-11e8-8442-6b97cd481646.png)

[2018-05-24 11:17] pawelsas opened #386 "How to combine getContent() and AJAX request?"
My data-tip contains a URL. Now I'd like to fetch the data on hover using the URL.
Unfortunately getContent() is fired on render and not on hover.
Is there a way to fire getContent() on hover for the specific item or maybe a different approach to do a ajax request?

My current code:
`<p>Lorem ipsum dolor sit <a href="#" data-for="custom-ttip" data-tip="http://some-url.com">amet</a> consectetur, ad

[2018-05-24 12:32] aronhelser commented on #386
What about using the 'afterShow' function? I think you will have a delay where the content is not updated yet. You can also add a refresh timer to getContent, if you need to:
[code]

[2018-05-24 12:53] pawelsas commented on #386
Thank you for the quick reply.

I already had the same idea. But I can't access the url from 'afterShow'.

[2018-05-24 13:10] aronhelser commented on #386
What about caching the results of the fetch with fetchData? so fetchData fills in `this.state.fetchedData[url]`, and you check in getContent? Does the fetched data change?
[code]

I suspect the fetched data changes. If so, you could set a dirty state flag in afterShow, then check in getContent, which means the next getContent would fetch new data.

[2018-05-24 13:48] pawelsas commented on #386
Unfortunately the content is completely dynamic. I don't know the urls before the page loads. So depending on the page, there is a dynamic number of a tags with unknown urls (data-tip).
I think I can find a dirty fix but I just wanted to make sure that there's no 'clean' way to do it.

[2018-05-24 14:42] aronhelser commented on #386
I don't think there's a better way - getContent is called whenever React decides to render, so it's definitely more often that just when the tooltip is shown. I'll close, reopen if needed....

[2018-05-24 14:42] #386 closed

[2018-05-24 21:20] #370 closed

[2018-05-24 21:22] aronhelser commented on #385
The extra .getPosition was introduced here:
https://github.com/wwayne/react-tooltip/pull/310

[2018-05-26 12:34] P0lip commented on #385
With some certainty I may say [the following PR](https://github.com/wwayne/react-tooltip/commit/5a3dcbbc4b81d5ce123e2327afe60b95db130355#diff-be86de2e837fcadfd2b24d80277a7c27R154) causes this.
I've also faced a similar issue and after a downgrade to the version (3.4.0?) that didn't have that piece of code, everything started working smoothly again.

In my case `updatePosition` was being called inf

[2018-05-29 10:00] conor-kelleher commented on #355
I found the answer to my case. I wasn't able to reproduce the issue with your sample project so I concluded that it was because my scrolling element was within a Modal.

I had the <Tooltip /> and the data-tip <div /> both inside the modal so the tooltip element was moving with the scroll (presumably what caused it to mess up).

I fixed it by moving the tooltip outside of the modal and giving it th

[2018-05-29 20:17] renanborgez commented on #312
@alex-shamshurin your fork is working like a charm, thanks 👍

[2018-05-29 20:28] aronhelser commented on #312
I don't see a PR by @alex-shamshurin either open or merged - am I just missing it? I've been helping out, and I'd be happy to see a fork get re-integrated....

[2018-05-30 09:26] alex-shamshurin commented on #312
As far as I remember It was merged.

[2018-05-30 15:57] aronhelser commented on #312
@renanborgez did you try the latest react-tooltip? Does it still have this issue? (from the code, I expect the issue to still be present). If so, I should be able to fix...

[2018-05-30 18:00] patotoma commented on #294
I actually managed to fix this by adding the `key` property:

[code]

So React will re-render the current DOM part, instead of re-using.

[2018-05-30 18:06] aronhelser commented on #294
Thanks for the feedback. The 'key' tip and PR #281 should handle this for everyone. Closing.

[2018-05-30 18:06] #294 closed

[2018-05-30 18:33] renanborgez commented on #312
@aronhelser yes, i just installed the extension yesterday and i got the error, because of that i was searching by a solution

[2018-05-30 21:14] smakosh opened #387 "2 tooltips appear"
when the element I hover on to show the tooltip is near the edge of the window, 2 tooltips appear.

[2018-05-31 07:53] alex-shamshurin commented on #312
It's really easy to debug. Please describe your case, stack trace...

[2018-05-31 12:59] an4ger opened #388 "Rerender at initial position"
1. Create tooltip with delayShow={300} delayHide={300} place="top" options.
2. Move cursor to element with tooltip and wait for tooltip, **it should appear not at the top position**.
3. Quick move cursor from element with tooltip and back.

Result: tooltip try to render with bottom arrow as at top place (initial option) and after that appear at right position. So, we have some blinking effect.
If

[2018-06-01 04:44] smakosh commented on #371
Waiting for a fix too

[2018-06-01 04:57] smakosh commented on #388
I'm having the same issue when the tooltip should appear near the corner of the window

[2018-06-01 04:59] smakosh commented on #387
Closed in favor of https://github.com/wwayne/react-tooltip/issues/371

[2018-06-01 04:59] #387 closed

[2018-06-03 05:37] ruucm-working commented on #230
Yeaah, It works !

[2018-06-04 13:05] aronhelser commented on #371
I'd say we want to minimize transitions, so this would argue for the
previous behavior - the orientation remains the way it was if a good
orientation can't be found. Is this do-able while keeping the
'desiredPlace' behavior?

On Sun, Jun 3, 2018 at 10:31 AM, Hassanbot <notifications@github.com> wrote:

[2018-06-04 20:23] kbaird5 opened #390 "Provide access to currentTarget/eventTarget in getContent() render prop"
Would like to get access to other attributes from the target element or props on its containing Component.
Tried to use ref (with function from old ref API), but the currentTarget has not been set when the callback is invoked.

Probably a separate issue, but ref or forwardedRef using the new Ref API) does not work.

[2018-06-05 13:48] aronhelser commented on #370
:tada: This issue has been resolved in version 3.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-05 16:34] an4ger commented on #388
Here some info after investigation:

_mouseenter_ event trigger this function:

https://github.com/wwayne/react-tooltip/blob/c44cc2d0aa89b7e6268a61a277326be6903b00ae/src/index.js#L256

and than we call

https://github.com/wwayne/react-tooltip/blob/c44cc2d0aa89b7e6268a61a277326be6903b00ae/src/index.js#L404

here we have some problem:
` if (result.isNewState) {
      // Switch to reverse placement

[2018-06-05 17:18] P0lip commented on #388
Well, I didn't check it myself, yet I suppose you are right and `updatePosition` is called more than once.

The trick with `desiredPlace` may be a bit troublesome and may introduce new bugs, as it doesn't take into account any external changes that could affect the position of tooltip in the meantime.
By external changes, I mean window resize, page scroll or any other layout changes.
In your parti

[2018-06-07 18:59] #371 closed

[2018-06-07 20:34] thomashibbard commented on #248
@aronhelser  As of `3.6.0`, this is still not working for me by adding the attributes `data-scroll-hide` on the tooltip and `scrollHide` on the `ReactTooltip` component. Unless the intention is that it waits until scrolling is stopped before the tooltip is removed.

[2018-06-07 20:57] aronhelser commented on #248
I'm not sure I understand, but it could be. What behavior do you expect if you set both delayHide and scrollHide? Based on the behavior of the tooltip in the "Theme and Delay" section of the demo (http://wwayne.com/react-tooltip/) I think the tooltip hanging around for the delay after a scroll is the expected behavior.

[2018-06-07 21:59] thomashibbard commented on #248
@aronhelser I wouldn't think so. If a user scrolls down the page for several seconds (slowly, or it's a large page) the tooltip will remain positioned in its static position on the page for the entire time. It's really odd looking (ie, looks buggy) to just have it hanging out there for the entire duration of the scroll. For me it should disappear after scroll-start + delay, or have its own delay e

[2018-06-08 12:32] aronhelser commented on #248
Can you file a new issue?

On Thu, Jun 7, 2018 at 5:59 PM, Thomas Hibbard <notifications@github.com>
wrote:

[2018-06-14 08:30] mobilutz commented on #241
Hi, is there any news on this subject?
I just added the `react-tooltipt` to my app, and run into this issue now.

[2018-06-14 13:53] aronhelser commented on #241
The original codepen uses react bootstrap tooltip, which is not the same as this project. It might be using this, but an older version.

If you can reproduce a problem with the current version, please provide some details.

[2018-06-15 09:16] AO17 commented on #300
@sedouard  I'm having the same issue, in my case it's `Autosizer` and `Table`. Do you have another example or a more simple example/ approach to this?

[2018-06-19 09:15] TokeyJerry opened #392 "The contents of the list looped by 'map' or the contents in conditional statements ,the highest ReactTooltip doesn't work."
Q1:
    `
    <ul>
        { listData.map((item, index) =>
            (
                <li data-for="tooltip-list" data-tip="item.name">
                    item.value
                </li>
            )
        )}
    <ul>
    <ReactTooltip id="tooltip-list" place="right" type="dark" effect="float"/>
    `

The above code ReactTooltip does not work, and I look at the Chrome's Elements, ReactToo

[2018-06-19 14:30] aronhelser commented on #392
In your sample code, I would expect you to always get a tooltip with the string "item.name" inside it. But you say that the tooltip doesn't show at all? It's contents are`null`?

I'm sorry, but I don't understand what you are asking with Q2?

[2018-06-19 22:02] aronhelser commented on #388
I feel like your solution is reasonable, and it seems like we don't have any other input. Should we go with it?

[2018-06-20 12:28] TokeyJerry commented on #392
I'm so sorry that my statement is not clear.
Q1:
[code]

As the code above,when I mouse over the li tag, tooltip doesn't show at all. I rewrote my code as follows:

[code]

Now,it works.But in this way,in this 'div' tag,there will be many 'ReactTooltip' tags.

[2018-06-25 13:50] an4ger commented on #388
@hassanbot can you make pull request with this fix?

[2018-06-28 14:47] mackbrowne commented on #94
@wwayne i feel like this should be mentioned in the readme.  Perhaps even a prop?  <ReactTooltip clickable={true} /> and default to false when the prop isn't present

[2018-06-29 03:57] nantan commented on #392
@TokeyJerry You may be happy using the `ReactTooltip.rebuild()` .

[2018-07-04 15:43] mackbrowne commented on #107
@wwayne is there a good way to do this yet?  I need the exact same thing.  I've determined the key code i need for esc is 27.  How can i close the tooltip when this key is pressed using the event functionality you mentioned above?

[2018-07-06 06:57] Cantasaurus opened #393 "Making Tooltip Scrollable"
Is there anyway to make the tooltip scrollable? I've tried the usual CSS way of setting `overflow-y: scroll` and adding a height to the div but this doesn't seem to do the trick. I assume it's something to do with the fact that the tooltip isn't actually focused when the mouse is over it as scrolling with the mouse over it will just scroll the page. Let me know if anyone knows of a way and thanks

[2018-07-07 09:32] Cantasaurus commented on #393
@aronhelser I will try this first thing when I get home. Appreciate the response!

[2018-07-09 10:17] nabati opened #394 "Maximum amount of tooltips?"
If you render a large amount of tooltips, seem's like it stops working, after 1094-1095 tooltips.

[2018-07-09 18:41] Ericky14 opened #395 "Unit Testing"
Is it possible to unit test this component?
Seeing as it uses ```document.querySelectorAll```, I haven't been able to figure out how to test this tooltips using jest and enzyme.

[2018-07-09 20:45] Ericky14 commented on #395
I used this code and it worked, but this doesn't seem like a very nice way of doing this... I'd appreciate if anyone knew better ways.
[code]

[2018-07-10 12:46] emphaticsunshine commented on #316
Has anyone found any solution to this?

[2018-07-10 16:29] avnersorek commented on #318
possible duplicate of https://github.com/wwayne/react-tooltip/issues/354

will this be fixed with https://github.com/wwayne/react-tooltip/pull/273 ?

[2018-07-10 17:21] aronhelser commented on #318
I agree this is probably a duplicate of #354 . But I don't think the body-events fix will help - that's just about  how events are responded to, not which elements the tooltip will pay attention to. But it might be worth testing...

[2018-07-10 19:54] mrobrian opened #396 "Incorrect position when using z-index unless you also specify position: fixed"
I ran into an interesting issue that I thought I'd mention to see if maybe it could be fixed at some point, though there is an easy workaround.

A brief background: I work on a fairly large project that is being converted from Angular to React. We use UI Bootstrap tooltips, and react-tooltip looks very similar, so is a perfect solution for us.

The tooltips were working great until I used one in a

[2018-07-10 22:24] Cantasaurus commented on #393
@aronhelser I apologize for the late response but this was indeed the answer. Appreciate it once again!

[2018-07-10 22:24] #393 closed

[2018-07-13 04:22] archansel commented on #374
Any update on this? I have this issue as well
![screen shot 2018-07-13 at 11 17 44](https://user-images.githubusercontent.com/816817/42672164-7d2582d6-868e-11e8-8c9c-c80a6296833f.png)
Position render correctly after second render; top (first render) bottom (second render). In my case, `top` property got wrong calculation in the first render but correct in second render

[2018-07-13 15:58] joyguy55 opened #397 "On hover show multiple tool tips?"
At first I assumed you could possibly have data-for correspond to multiple ids to make this work? I don't know if there is a quick work around for something likes this?

[2018-07-13 16:08] aronhelser commented on #397
I don't think there is support for this - I assume you're putting them in different positions (top, bottom)?
I think you'd probably have to go manual, and use mouseover/mouseout events to call .show() and .hide() on the multiple tooltips.

Possibly you could use the event callbacks on one tooltip to show the other one(s)?

[2018-07-15 20:22] wmertens commented on #397
@aronhelser if you have 2 elements with tooltips that are overlapping, shouldn't the tooltip only show for the top-most element?

[2018-07-15 20:59] wmertens opened #398 "Tooltip ignores id"
I have something like

[code]

when I hover over Foo, I see both `a` and `b` tooltips, and they are both in the same place…

[2018-07-16 14:37] alejandrosobko commented on #27
You have to add **getContent** to the ReactTooltip.
This worked for me:
[code]

copyMessage is the function that returns the message dynamically.

[2018-07-16 14:37] alejandrosobko commented on #231
You have to add **getContent** to the ReactTooltip.
This worked for me:
[code]

copyMessage is the function that returns the message dynamically.

[2018-07-19 14:46] aronhelser opened #400 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-20 22:11] RobertGary1 commented on #275
I believe I'm having the same issue. If I click on a button within the tooltip the tooltip goes away. It seems that if someone clicks on something within the tooltip container that should not cause it to close. It should stay open.

[2018-07-23 13:22] aronhelser commented on #275
Can you fix this by preventing event propagation? I'm not sure whether it would work, but you might be able to stop the event from bubbling in the button click handler.

[2018-07-24 09:53] essaji commented on #248
I am still facing this issue in `3.6.1`

[2018-07-24 19:19] joyguy55 opened #401 "Looping through items with data-tip"
The tooltip isn't working when you loop through an object that is over 55 items. I believe that it has a limit of some sort. It will show for about the first 55 items or so, but after that quits working.

[code]

[2018-07-25 10:10] joaoribeirost-rr commented on #109
@wwayne @aronhelser I would second @Olliebaba's question. Is there a way to force its position?

[2018-07-25 22:37] Olliebaba opened #402 "Feature Request: expose method to recalculate tooltip placement"
I have a tooltip component which fetches some data on render. This once fetched, this component will render a variable number of rows which causes the intended placement of the tooltip to be off.

Would it be possible to expose a method from `'react-tooltip'` which takes the `data-for` that should be re-positioned?

[2018-07-26 14:52] RichMatthews opened #403 "Tooltip closing when haven't left the tooltip"
I open the tooltip by hovering over an icon. I have then manually changed the styles to be a certain position and width. but the tooltip closes when I leave the hover icon. I want it to any close when I leave only the tooltip area (which is much larger). I want to put a link in the tooltip content and currently the user wont be able to click it because when they get to it, the tooltip has already

[2018-07-28 09:41] essaji commented on #221
This is still an issue for me

[2018-07-31 06:05] hieuandree opened #404 "How use tooltip when hover one options of select input"

[2018-07-31 09:05] olegandreyev commented on #294
@patotoma
Thank you, works like a charm

[2018-07-31 17:35] aronhelser commented on #403
The theme and delay example is the only answer I have to your proposed usage, so I'm not sure why they would work. It seems you may have a CSS issue of some kind which is overriding the intended styles.

You might try cloning and building react-tooltip, and running the examples, then modifying the example with your style changes to see if you can isolate the problem.

[2018-08-02 06:15] sindhuja11 commented on #344
Also the tooltip is shown twice when calling `ReactTooltip.rebuild()` in `componentDidUpdate`
if `ReactTooltip.rebuild()` is not called it is not showing tooltip at all.

[2018-08-03 07:32] SunHuawei opened #405 "react-tooltip Cross-Site Scripting Vulnerability"
## Reproduce
Open this link https://codesandbox.io/s/xov4wqkxyq, move your mouse to the text "Move your mouse to hover me!" on the right side preview panel, you could see a alert. See this ![screenshot](https://user-images.githubusercontent.com/11191857/43630153-060f7a58-9732-11e8-9e51-a8b6cbdf1a2c.png)

## Summary
A vulnerability in react-tooltip could allow an remote attacker to conduct a cross-

[2018-08-06 18:32] cjzcpsyx opened #406 "afterShow and afterHide should not swallow the trigger event"
for the event callbacks: afterShow and afterHide
should pass the original `event` in the callback
https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L344
https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L378
Into
`afterShow(e)` and `afterHide(e)`

I can create PR if people think this is valid

[2018-08-07 00:32] th0r0nd0r opened #407 "tooltip re-orients incorrectly on first hover"
![tooltip](https://user-images.githubusercontent.com/29419913/43747266-94e35a16-999d-11e8-9273-9f233ad13e8b.gif)

On small screen sizes where the top tooltip is close to the edge (but not over), it will set place="right" on first hover, covering up an input, but then return to "top" for subsequent hovers. I would like to find a way to keep it at the top on each hover.

here's my render return:

[c

[2018-08-07 05:18] novalagung opened #408 "Tooltip blinking on two elements with same position"
Hi,

I'm creating two element, each of them has it's own tooltip. I put the two elements in same position, then this is happening. The tooltip is blinking.

![blink](https://user-images.githubusercontent.com/982868/43755685-495133a4-9a3b-11e8-89bd-a866e5443f3c.gif)

What should I do to fix this? I attached my code in below.

[code]

[2018-08-07 12:07] TeemuKoivisto opened #409 "Bug: Maximum update depth exceeded"
Hi,

I'm using react-tooltip in conjunction with react-simple-maps to generate nice tooltips over vector polygons on hover. However since the data I'm passing to the tooltip is an array I'm using `getContent`-rendering method as such: `getContent={(areaString: string) => <ToolTipContent areaString={areaString}/>}`. Then after quickly swirling my cursor around the map and displaying multiple toolti

[2018-08-09 07:10] RichMatthews opened #410 "Setting an opacity means tooltip does not"
[code]

this all works fine. I click it opens. I click again, it closes.

but when I add `opacity: 1 !important;` it adds the correct opacity but then i cant close the tooltip?

[2018-08-09 08:58] #410 closed

[2018-08-13 11:59] TeemuKoivisto commented on #409
Well as I dived deeper into the performance of my app to see why it at times grinded to a halt I saw, using this nifty library https://github.com/maicki/why-did-you-update, that my Geographies-component (from react-simple-maps) was rerendering all its Geography-children that happened basically on each map interaction causing it to blow-up sooner or later. This was because I had disabled `disableOp

[2018-08-13 11:59] #409 closed

[2018-08-13 23:09] RobertGary1 opened #411 "Moving mouse from target into tooltip should have a delay if you cross another target accidently"
I have a tooltip that contains a menu. So the user slides the mouse up into the tooltip. However, if they accidently touch another target getContent gets called and the content is immediatly changed, even though we have  delayShow. I'd like to check in a change that if the tooltip is currently active and the user sets a parameter such as "delayNewContent" then we apply a delay before calling getCo

[2018-08-14 13:50] aronhelser commented on #411
That sounds like a useful feature, especially if you can provide a PR. It would be great to have an example showing this functionality - we've had several comments asking about how to get a button/menu/scrolling to work inside a tooltip.

[2018-08-14 19:43] steveabouem commented on #295
Same issue here. I used the tooltip as a confirmation prompt.
`<Flex row nowrap>
              <a data-tip data-for='confirmation' data-event='click' >
                <Button />
              </a>
              <ReactTooltip id='confirmation' data-html={true} data-effect='solid' class='confirm-buttons' multiline={true} >
                <span>
                  Permanently delete? <br />

[2018-08-16 14:58] plondon commented on #340
https://github.com/wwayne/react-tooltip/pull/412

[2018-08-20 15:34] mikebabb commented on #283
Is there a fix planned for this issue? I'm guessing not given its age. It can apparently be resolved by only having one tooltip component on a given page, but it'd be great to not have to refactor the way tooltips have been implemented across our application just to work around this. `eventPropagationMode` and `globalEventOff` don't solve it :disappointed:

[2018-08-20 16:42] apandichi commented on #283
Pinging @aronhelser as he seems to be more active lately

[2018-08-20 17:35] aronhelser commented on #283
I won't be able to solve it, but a PR would be welcome. Seems like looking at what happens inside the globalEventOff handler is a place to start...

[2018-08-20 20:58] SteveAtSentosa commented on #277
+1, would like to set success fail at opacity 1 (tried className w { opacity:1 }, but no luck

[2018-08-21 17:51] SteveAtSentosa commented on #277
actually found that adding !important works.

[code]

[2018-08-21 22:48] camiblanch commented on #396
I'm having a similar issue, but haven't adjusted the z-index and position is set to fixed already. I'm not sure exactly is causing the bug on my end though...

[2018-08-22 02:40] #277 closed

[2018-08-22 10:31] Peterabsolon commented on #401
Same issue here. What a shame, I liked this lib

[2018-08-22 15:10] aronhelser commented on #401
What do you think is going on? Does it stop working completely or only work
for the first ~55 items?

On Wed, Aug 22, 2018 at 6:31 AM Peter Absolon <notifications@github.com>
wrote:

[2018-08-24 10:33] dariolongo opened #415 "Auto import of style"
Hi,
after importing react-tooltip, it alone adds styles as first element of head tag.
It's possible to disable this auto import? For example with a property?
I've added the sass file from the source for customize it, it works, but all rules are duplicated of course.
Thanks!

[2018-08-24 19:33] teeg82 commented on #353
The problem appears to resolve if the `position: fixed` style is changed to `position:absolute`. This style is contained in the `.__react_component_tooltip` class.

[2018-08-24 21:03] RobertGary1 commented on #411
PR https://github.com/wwayne/react-tooltip/pull/416

[2018-08-25 21:55] ajpocus opened #417 "<input> inside tooltip not receiving clicks"
Hi there,

I'm trying to use a tooltip to render a URL input next to a div when I click on it (in my example code, I changed it to dblclick, so the click on the input doesn't close the tooltip). It displays, and all seems well -- however, I cannot click on the input. I can't seem to get focus. I tried setting the z-index of the input to an extremely high value (10000, then something like 99999999)

[2018-08-28 16:12] avi-jain-pepcus opened #418 "Positioning is not correct in IE 10 and Edge older versions"
I am facing cross-compatibility issues while using a tooltip. Left and top positions are not as expected.
It is working fine in IE 11 and IE edge for updated versions but having issues in IE 10 and Edge for older versions.

`<ReactTooltip id={toolTipId} className="FormTooltip__Message" place={position}>
          <span>{message}</span>
        </ReactTooltip>`

[2018-08-28 21:12] brunoreis opened #419 "Design considerations"
I have a list component where I have a tooltip in each row.  On the docs, I read that

If I add my <Tooltip/> to the parent component, so that I just have one, I can't render and test each component in isolation. So, my understanding is that I should add one <Tooltip/> for each row. Is that correct?

If I add a <Tooltip id={rowId}/> for each row, will it have performance implications over adding a

[2018-08-29 02:58] Fandekasp opened #420 "Best way to display multiple data in tooltip"
I would like to show a title and a description in each of my tooltips.
Something like below:
[code]

The problem is, html5 data attributes only seem to handle strings, so we cannot send arrays or objects to it.
I currently cannot see any other solution than concatenating my 2 data items in data-tip, when split it within getContent, which is far from optimal.

Would it be possible to handle any `da

[2018-08-29 13:45] aronhelser commented on #420
I know there was a recent PR to pass the value of data-tip into getContent. If you use the most recent, then 'badge' should get passed in, and you could reference badge.name and badge.description inside getContent().

Please try that, thanks!

[2018-09-03 15:15] aronhelser commented on #371
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-03 15:15] #400 closed

[2018-09-05 15:45] strongui commented on #304
Hm, don't really like the wrapping workaround, as it can mess up things like menu items etc, that rely on a certain DOM structure. I think a very common scenario is to want to show a tool-tip if a button is disabled, to explain to the  user why it's disabled.

[2018-09-06 05:49] Fandekasp commented on #340
@aronhelser is the insecure prop still needed now that https://github.com/wwayne/react-tooltip/commit/ce365fe5af23254b074712027e7c4fb7b4c2685f was merged ?

[2018-09-06 07:16] JeremyColton opened #421 "How to prevent event bubbling to parent html (label tag 'for' attribute) ?"
I have a Label functional component:
[code]

The tooltip provides text and a copy icon that can be clicked to save the tooltip's text. But clicking this 'clone' icon also fires the parent label's automatic click event due to the 'for' attribute. This then changes the state of the related checkbox!

Is there a way to prevent event bubbling from the tooltip?  I have  adding `data-iscapture='false'`

[2018-09-06 07:29] JeremyColton commented on #421
Solved it.

I placed e.preventDefault() in my inner onclick handler:

[code]

[2018-09-06 07:29] #421 closed

[2018-09-07 03:46] oladhari commented on #420
yes it is working ! thank you

[2018-09-07 03:47] Fandekasp commented on #420
broken with 3.8.0, worked from v3.8.1 . Thanks, closing

[2018-09-07 08:52] Fandekasp commented on #420
@aronhelser sorry, I closed without verifying due to @oladhari's comment, but this doesn't work. I had raised the issue using v3.8.0, and it's still broken with v3.8.1.
As explained in the issue description, only a string can be given to getContent. We would like arrays or objects to be supported as well, to have a smaller/cleaner code footprint using the react-tooltip plugin.

[2018-09-07 08:55] oladhari commented on #420
it is my mistake, I did not verify passing the object, while trying to pass an object i got this error:
``Uncaught TypeError: Cannot read property 'name' of null``

[2018-09-10 15:23] robbanp opened #423 "How to trigger only on .show()?"
I'd like to trigger the tooltip only on a .show() call, and not by interacting with the object, in this case a INPUT field.

How can I do this? For example in a validation scenario.

[2018-09-10 16:12] aronhelser commented on #423
I think you can do it by not setting the 'data-for' and 'data-tip' elements, then using the .show() and .hide() calls. If you wanted to submit an example, that'd be great!

[2018-09-11 14:18] jgerlier opened #424 "The dependency to sanitize-html imports all postcss dependencies"
Since the version `0.8.1`, the `sanitize-html` dependency has been added, but this package is designed for node and depends on the `postcss` package.
This causes two issues :
* an addition of 517 KB to the bundle size.
* ES6 code imported

Would it be possible for you to avoid this dependency ?

Thank you

[2018-09-11 15:28] robbanp commented on #423
Thanks, but it doesn't show now when I do:

this.CCNumber = React.createRef();
...
ReactTooltip.show(this.CCNumber.current);

...
<input data-for="cardNotSupported" ref={this.CCNumber} data-tip-disable="false" id="card_number" name="card_number" placeholder="xxxx xxxx xxxx xxxx" autoComplete="cc-number" required="" autoFocus="" />

...

<ReactTooltip id="cardNotSupported" place="bottom" type="succ

[2018-09-11 15:44] aronhelser commented on #423
I'm not sure how to resolve it.  Hopefully someone else may have an idea.

[2018-09-11 15:46] aronhelser commented on #424
It was added to avoid a possible security concern with cross-site scripting - is there another package to do html-sanitize that is smaller/better?

[2018-09-12 10:29] diachini commented on #388
@aronhelser I believe this issue (#388) can be closed (#413 just didn't have "close"/"closes" in it to do so automatically).

[2018-09-12 10:35] #388 closed

[2018-09-12 13:47] #424 closed

[2018-09-12 13:50] aronhelser commented on #424
:tada: This issue has been resolved in version 3.8.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-12 13:50] aronhelser opened #427 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-12 16:13] #324 closed

[2018-09-12 18:03] #427 closed

[2018-09-13 07:46] NaNdreas opened #429 "Opt out from sanitize-html safely? (package too big)"
Hi, first of all many thanks for this package making life easier for us!

I noticed that our *total* bundle size suddenly increased by *50%*, and after some detective work I pinpointed the issue to the html-sanitizer package added here: https://github.com/wwayne/react-tooltip/pull/422

This addition made react-tooltip 7(!) times bigger in size and unfortunately that is a dealbreaker for us. Now th

[2018-09-13 15:19] aronhelser commented on #429
Cool - thanks for the info and package size info. I didn't know the package size would increase so much when we included the sanitization. I'm not familiar with what the issues around injection are, so I'm not sure what action we need to take as a component, balanced against this bundle size issue.

@wichniowski and @jgerlier can you give us some idea when/why injection is a issue for a component

[2018-09-13 16:45] jgerlier commented on #429
I'm really not an expert on the subject and I don't know a lot about this package, as I was mainly concerned by the huge size increase the dependency update brought in the app I'm working on. However after a quick look in the code and documentation, I understant the `data-tip` HTML attribute can be used to pass HTML content, and it is not possible to use only React children, because this piece of

[2018-09-14 16:40] occamsraiser opened #430 "lots of findDOMNode invariant warnings since 3.8.x release"
Hi folks. We've been using this library to power our website tooltips in React for about two years. We use Sentry.io to track front end errors experienced by visitors, and I've noticed a huge uptick in findDOMNode Invariant Violation warnings since we deployed 3.8.x.  Can anyone else corroborate? We use findDOMNode in two spots in our codebase and I'm seeing these warnings from most of our pages t

[2018-09-14 17:39] chipcullen commented on #403
I was having this issue, and found that they to solving it was the `pointer-events: auto;` in the example that was applied to the popover content. By default, react-popover uses `pointer-events: none;` which will prevent @RichMatthews 's expected behavior.

[2018-09-16 19:17] RichMatthews commented on #403
I'm closing this as I found the solution long ago (which was what @chipcullen says above) thanks both

[2018-09-16 19:17] #403 closed

[2018-09-16 21:09] PabloMessina opened #431 "How to make ReactTooltip's getContent detect and reflect changes to data-tip immediately?"
I have a single global ReactTooltip and multiple Buttons feeding this tooltip with content through their data-tip props.

For example:
` render() {
        return (<div>
             {this._renderButtons()}
            <ReactTooltip
                id="global"
                type="info"
                effect="solid"
                getContent={dataTip => dataTip}
            />
        </div>);

[2018-09-17 14:49] DiagoSmith opened #432 "Tooltip with expandable content?"
Hey there,

I have a component in my tooltip that when clicked on, expands changing height. This unfortunately leads to a tooltip, or rather the triangular section, being in the wrong place.

I've tried numerous things to re-render this open tooltip including `ReactTooltip.rebuild()` (this did nothing at all :( )  and hiding and showing the tooltip programmatically (via `show()` and `hide()` but u

[2018-09-19 11:27] apandichi commented on #283
@aronhelser Please see the referenced PR and the my updated demo app. This seems to have solved the issue.

Please review, I'm not sure if I dealt with this correctly. I used the `isCapture` from `props` instead of the `isCapture()` decorator. I couldn't figure out what the `target` is supposed to be in that global scope where `globalEventOff` is handled.

Thanks!

[2018-09-19 12:02] ketysek commented on #420
If I'll pass an object, it's automatically converted to string "[object Object]"...

[2018-09-20 06:08] trusktr opened #434 "Doesn't work inside CSS transformed elements."
It's not working when the container (containing the content and the ReactTooltip) is transformed (f.e. scaled). Basically it is the same problem as this: https://github.com/FezVrasta/popper.js/issues/686 (the first codepen about the transforms, see solution concept description there).

Basically, both libs (react-tooltip and popper.js) are not taking into consideration transformed containers.

Try

[2018-09-20 23:54] #283 closed

[2018-09-21 13:45] aronhelser commented on #429
I'm thinking about reverting the sanitization completely, and putting in the docs the inputs which must be sanitized if they come from users.

[2018-09-23 03:01] urirahimi commented on #346
I'm getting this issue but I implemented data-for with a match the tooltip id

[2018-09-24 06:53] sgiacinto commented on #429
Hello, we're having this exact same issue. Excellent component and dead easy to implement, however the increase in bundle size due to the sanitation makes it a no-go. Hopefully you can either make it optional or remove it.
Thanks!

[2018-09-24 18:23] pjb493 opened #435 "Request: customise tip size"
At the moment the tooltip tip is not resizable other than through a lot of hacky CSS to change the :before and :after styles. The component definitely requires a property to set a simple `tip-size` which would allow the tip to appear bigger overall but still stay centered and in proportion.

[2018-09-26 01:09] oladhari opened #436 "Request: some Tooltips randomly not showing up on Mac"
On Linux it works without problems,This bug only affects Mac OS and iOS users
when accessing the web-page some tooltips doesn't show up
when deleting cache the problem remains same only after refreshing the page without deleting the cache  it works fine and all tooltips show up

[2018-09-26 17:49] milesmeow opened #437 "Global tooltips don't work for items that load after page loads"
I have a page that loads in two stages.

First stage:
Render the main content after the data returns. This first render includes items that will use global tooltips.

Example of a global tool tip that's used everywhere on the page.
`<ReactTooltip id='info-tooltip' effect='solid'><TooltipText>My tooltip text</TooltipText>`

Example of an Item that uses the global tooltip.
`<StatIcon data-tip data-f

[2018-09-26 17:55] milesmeow opened #438 "Is there a way to customize where the triangle pointer is positioned?"
Ex:
For tooltips that show up at place='top', can I move the the triangle pointer to the bottom left of the tooltip and still have the triangle point to the appropriate item that triggered the tooltip?

For tooltips that show top or bottom, maybe there could be an attribute to position the triangle left, middle or right.

For tooltips that show left or right, maybe there could be an attribute to t

[2018-09-26 17:59] aronhelser commented on #437
Have you tried the .rebuild() method?

[2018-09-26 18:01] aronhelser commented on #438
No, there is no way to do that right now. I would be happy to look at a PR with that feature, though!

[2018-09-27 14:48] aronhelser commented on #437
Great! glad it worked.

[2018-09-27 14:48] #437 closed

[2018-09-27 15:55] jagracey commented on #405
As I understand your report, this is not a vulnerability.

HTML rendering is opt-in, and your example doesn't trigger with HTML rendering disabled.

You could argue that new coders may too easily accidentally shoot themselves in the foot by opting in to HTML rendering- and that it should be more difficult to enable HTML rendering, like with React: `<div dangerouslySetInnerHTML={__html: 'your html

[2018-10-02 05:01] oladhari commented on #436
is there any hint or advice?

[2018-10-02 13:39] apandichi opened #440 "please ignore"

[2018-10-02 13:42] #440 closed

[2018-10-04 16:14] Abdisalan opened #441 "decrease bundle size"
![screen shot 2018-10-04 at 12 13 38 pm](https://user-images.githubusercontent.com/6256142/46487807-f4db4000-c7ce-11e8-9bbc-ba59c12b2887.png)

Could there be a way to pick which parts of the tooltip you want to decrease this bundle size? I'm not using  80% of the features and its much too large.

[2018-10-04 16:38] ketysek commented on #401
I've got same problem. I've got a table with many rows ... some values are shortened so I'm displaying react-tooltip then:
[code]
I've got only one <ReactTooltip> component just under the table code and getting content via data-tip attribute. Tooltip stops to show after some row...

[code]

[2018-10-04 18:32] aronhelser commented on #441
Please see issue #429 - the sanitize html made the bundle much bigger. I think we're going to remove it soon. In the meantime, you can try version 3.8.0, right before the sanitization.

[2018-10-04 18:32] #441 closed

[2018-10-05 07:09] SunHuawei commented on #405
Seems we already fixed it, https://github.com/wwayne/react-tooltip/commit/182df11, so just close this.

[2018-10-05 07:09] #405 closed

[2018-10-05 13:08] volodymyr-tsaryk commented on #411
That PR has broken another functionality
We have buttons in the tooltip http://take.ms/qfw0G and after the button is clicked tooltip should become hidden, however after that update it remains on screen and is hidden only after we remove the mouse cursor from it.

We were hiding them using ReactTooltip.hide();

Could you please advise if there is a workaround?

[2018-10-06 00:39] RobertGary1 commented on #411
Ah, I see. I'm surprised you were ever able to get the mouse to enter the
tooltip without it dismissing but it looks like perhaps your target area is
large enough that the mouse doesn't have to leave it. I wonder if setting
delayHide to a small value would help. Are you getting any console errors
when you try to hide the tooltip?

On Fri, Oct 5, 2018 at 6:09 AM Volodymyr Tsaryk <notifications@gith

[2018-10-08 08:59] danielrea opened #442 "Upgrade from 3.6.1 to 3.8.1"
Hello,
I have recently updated from 3.6.1 to 3.8.1 and now I am getting this error:

[code]

I haven't changed anything else including my json loader that I had before.

Thanks in advance for any help

[2018-10-08 10:52] #442 closed

[2018-10-08 10:52] danielrea commented on #442
Had to use webpack default json loader and this worked.

[2018-10-09 09:21] oladhari commented on #436
@wwayne I would like to have any advice to treat this problem if you don't mind , thank you

[2018-10-09 09:37] wwayne commented on #436
@oladhari one case I can imagine is, you load some data after ReactTootip loaded, for example:
[code]
so you can:
1. call ReactTooltip.rebuild() after data loaded
2. put `<ReactTooltip />` into the later-loaded component

is it solve ur problem? sorry I'm not active on maintaining this project at the moment

[2018-10-10 09:16] qboot commented on #295
I was able to manage this with a function that handle `click` :
[code]

Then I add this to my component:
[code]

Finally, the "trick" is to add an unknown event to `event` prop so hover will not trigger `show` function of tooltip:
[code]

It should maybe also work specifically with the `data-event` prop.

[2018-10-11 10:48] volodymyr-tsaryk commented on #411
@RobertGary1
No, there are no console errors
The issue is happening due to this line http://take.ms/OPRZz

[2018-10-12 12:34] dor1633 commented on #206
I have the same problem, any solution???

[2018-10-14 16:18] RichMatthews opened #443 "Do you support data-attributes passed to the tooltip?"
I'm trying to pass my own `data-test-id` to the `<Tooltip />` component but it's not working and getting passed down. I can use `data-for` and then `id=` and it works perfectly fine. however, in the project I am working on we are getting rid of all `ids` so I need to use a data atts: `data-test-id`. have you got a solution for this? thanks

[2018-10-15 01:16] #436 closed

[2018-10-15 21:48] bluestreek18 commented on #406
Would be nice if this didn't happen as its currently difficult to know which exact tooltip triggered the event.

[2018-10-15 21:58] cjzcpsyx commented on #406
https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L388
what is the event here in the context, do it indicate any thing on the current trigger
event.target should gives the trigger element?

[2018-10-15 22:16] bluestreek18 commented on #406
I'm going to go ahead and submit a pull request unless you feel like I'm stepping on your toes here. I need this asap.

[2018-10-15 22:34] cjzcpsyx commented on #406
https://github.com/wwayne/react-tooltip/pull/444
@bluestreek18

[2018-10-16 12:26] abdulrahman-khankan opened #446 "HTML in data-tip stopped working after upgrading from 3.8.0 to 3.8.4"
[code]
The above chunk used to work perfectly in 3.8.0. And now in 3.8.4 (and 3.9.0) it doesn't. Most likely due to the new sanitize feature

If I replace the HTML with just the link as a text. Then it works perfectly.
i.e. replace `<img src="https://WHATEVER_LINK"/>` with `data-tip={"https://WHATEVER_LINK"}`

So the problem is only when passing HTML

[2018-10-16 12:58] abdulrahman-khankan commented on #446
When inspecting the tooltip div
[code]

[code]

[2018-10-16 17:11] SokolskyNikita opened #447 "How to force the tooltip to stay within the screen bounds on mobile devices?"
On mobile, the tooltip gets hidden if it's spawned too close to the edge of the screen. Is it possible to force the tooltip to stay within the screen bounds?

[2018-10-17 18:34] Edulopez commented on #59
I think the solution should not close the issue. It looks like a workaround that "fixes" a problem with ` eventOff="blur scroll" `

[2018-10-17 21:01] aronhelser commented on #59
The tooltip can be configured to hide or not on scroll. Take a look at the example page for Scrolling.

[2018-10-18 18:35] ZLevine commented on #417
This is probably because the tooltip has the `pointer-events: none` CSS declaration; change it to `pointer-events: auto` and you'll be good to go.

[2018-10-19 10:57] semosem commented on #40
Is there a way to make react-tooltip follow it's data-tip element when that element is scrolled.

For example if I have a container containing my data-tip as
[code]

if the container div is scrollable I want the ReactTooltip to follow it's data-tip.

[2018-10-21 01:46] Edulopez opened #448 "Tooltip should hide when scroll start, not when it ends."
When you set the tooltip to hide on scroll it waits for the scroll to end instead of when it start.

Current configuration:
[code]

Proof:
![tooltipissue](https://user-images.githubusercontent.com/5016793/47262248-38ad9500-d4b1-11e8-9eac-3d0564324e05.gif)

[2018-10-21 19:58] miliu99 commented on #63
I'm surprised nobody complaint about this anymore...

It's not working if you do <ReactTooptip delayShow={1000}/>.
However, it works if you do <span data-delay-show="1000" data-tip=...

[2018-10-23 01:46] windinging opened #449 "hide tootip when click a button in ReactTooltip"
<Icon name="email" data-tip data-for="GIN" data-event="click focus" />
  <ReactTooltip id="GIN" aria-haspopup="true" place="top" globalEventOff="click" className={styles.toolTip}>
            <div>
              Resend confirmation email?
              <div className={styles.toolTipButton}>
                <Button type="primary" onClick={() => { ReactTooltip.hide(); }}>Yes</Button>

[2018-10-23 02:05] windinging commented on #295
i have the same problem.do u solve the problem

[2018-10-25 10:17] SaurabhBayani opened #450 "http://wwayne.com/react-tooltip/ is not working"
Hi,
main site http://wwayne.com/react-tooltip/ is not working.
Need to correct the url.

![image](https://user-images.githubusercontent.com/3132826/47493526-2050c800-d86d-11e8-8e43-ac83880eb4b6.png)

[2018-10-26 11:35] anthify opened #451 "Background Color Alpha not persisting after several renders"
I have an issue with a custom background I've applied not persisting after multiple renders.

#### This is how I want it to look
![image](https://user-images.githubusercontent.com/11407171/47563511-f1446000-d919-11e8-8b6b-1b457ecb7383.png)

#### This what happens
Notice after the first couple of renders it adheres it the style and then it loses opacity.
![2018-10-26 12 28 13](https://user-images.g

[2018-10-26 15:06] anthify commented on #451
I figured out what the issue was. It was to do with the use of multiple id's. In the example above I use `id="image"` in every`<ImageMenu />`. This did not seem problematic to me as I assumed it would've been scoped to the component, but an array of many `<ImageMenu />`s containing the same tool tip `id` give rise to the unwanted side effects mentioned in my original post.

Below is my small chang

[2018-10-26 15:06] #451 closed

[2018-10-29 19:58] anking commented on #423
I also need it to be controlled manually only. I cant figure out a way to do it.

[2018-10-31 13:52] #285 closed

[2018-10-31 14:02] rothwelljeff opened #453 "Infinite loop generated"
I'm getting the following error message:
`Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.`

and the stack trace shows the react-tooltip module is probably responsible (or react-dom, but since a `setState` call is likely the source of the e

[2018-11-01 02:19] #450 closed

[2018-11-02 16:20] chrisregnier opened #454 "Namespace attributes"
I realize this is a major breaking change, but with the number of data attributes used here, and some of the common names, it's pretty easy to find something that tries to use another common attribute.

I'd suggest prefixing everything with `data-tooltip-` instead. Writing a codemod to auto update used attributes probably wouldn't be too much trouble either.

[2018-11-02 20:59] Edulopez commented on #448
Manage to solve part of the issue when scrolling.

This issue was related of the use of the EventOff property. This can only work if you setup the event property. If you set up some other events you may remove the scroll issue

[code]

The issue is still there because you can do scroll down/up using the arrow keys in the keyboard.

[2018-11-05 12:21] alicancelik opened #455 "Event for Input"
Hello @wwayne I try to use tool-tip for input when i write email if email validation is not correct tool-tip will appear until my validation condition will be true , it should be seen all time . If validation is true , it should be hidden .
It should be like that ;
<img width="771" alt="ekran resmi 2018-11-05 15 05 57" src="https://user-images.githubusercontent.com/26031105/47997728-ef468200-e10d-

[2018-11-15 19:24] sunweiyang opened #456 "Seeing href attribute eslint error when using `react-tooltip` with React 16.6.3"
To use `react-tooltip`, we are instructed to use `<a data-tip data-for={"somestring"}><OurTooltippedComponent></a>`, and to do so without defining `href`. When using the latest React (16.6.3), we see the following warning when running `npm start`:

[code]

As discussed elsewhere, we can edit our personal `.eslintrc` files [to make it go away](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/

[2018-11-15 19:47] aronhelser commented on #456
The <a> tag is just a convenient wrapper in this case - a <span> tag will work just as well. Let me know if this works for you.

[2018-11-22 14:10] akaSybe commented on #144
@huumanoid could you please share workaround that was published on the website that you mentioned in comment above? This website is unavailable now and I need hoverable tooltips =\

[2018-11-22 14:49] akaSybe commented on #144
I've found it, it is on github pages: http://wwayne.github.io/react-tooltip/

[2018-11-24 13:38] wateryoma commented on #325
you can update position with ReactTooltip.show(target)

[2018-11-26 21:12] #456 closed

[2018-11-29 16:58] benmccormick commented on #296
I'm seeing this as well, appears to be a browser level bug, nothing library specific: https://bugzilla.mozilla.org/show_bug.cgi?id=1084196

[2018-11-29 16:58] benmccormick commented on #339
This is a browser level bug and a dup of https://github.com/wwayne/react-tooltip/issues/296

[2018-11-29 17:42] #339 closed

[2018-12-01 05:12] cheriejw commented on #346
I had this issue with `data-for` and `id` as well, the solution for me was to set a more unique identifier/a combination of a word and a variable that I was getting from the parent component (i.e. ``` id=`tooltip-${parent.id}` ```).

[2018-12-02 17:49] fzembow opened #457 "Reat-tooltip test linked from README is a 404"
`https://wwayne.com/react-tooltip` is linked in two places in README.md, but that is actually a 404

Might be worth putting a demo somewhere else or fixing the link

[2018-12-03 16:08] sepuckett86 commented on #392
I have the same issue with using conditional (ternary) operators inside of `render(){return()}` like this:
`{ this.props.id === this.props.id2 ?
        <div><button data-tip="Message here" onClick={this.handleClick}>Click Me</button></div> : null }`
The tooltip doesn't show up on hover, while other tooltips do.
Would `ReactTooltip.rebuild()` help with that and if so, where do I use it?

[2018-12-04 06:40] RuslanShokhanov commented on #57
I set 'left' property of '__react_component_tooltip.place-bottom' class and it helped in my case. Also I used 'data-offset' property.

`.__react_component_tooltip.place-bottom:after {
	left: 90%;
}`

[2018-12-04 20:11] aronhelser commented on #429
@wwayne I haven't had a chance to look at this, but what do you think - is it OK to remove the sanitization and document that if you use 'html' you have to sanitize user input?

[2018-12-05 00:06] wwayne commented on #429
@aronhelser yeah I agree, thank you 👍

[2018-12-05 19:35] jiehan1029 opened #458 "why tooltip shows overlay"
Somehow in my page, when tooltip is triggered, it looks as if there're two tooltip windows been triggered with same content, overlapping each other.
Multiple tooltip components are mounted in the page but only trigger one at a time.
My tooltip component is like this: the tooltip id is generated by uuid

Could anyone give me a hint why this is happening?

[2018-12-07 08:00] marekbrainhub opened #459 "Priorities on orientation"
As far as I can tell, currently the tooltip repositions itself so that if there is no space on the right (let's say) it goes to the top, then left, then bottom. Is it possible to make it go right, then left, then top, then bottom?

[2018-12-10 08:56] wmertens commented on #429
In the meantime I worked around this issue by making a file that exports `text => text` and telling webpack to alias `sanitize-html-react` to that file => gzipped bundle size dropped by 30kb

[2018-12-11 13:23] Craftnet commented on #358
You can always use **createPortal**

Something like that:
[code]

[2018-12-11 16:48] actraiser opened #460 "Tooltip does not hide when dragging elements with ReactDnD"
I use ReactDnD to move elements around the page. I want to show a tooltip when hovering over such an element before drag starts. When dragging starts, the tooltip should disappear.

What happens right now, is, that as soon as I start dragging, the tooltip will not hide until I dropped the item.

My item component looks like this:

[code]

Any hints on how to make the tooltip disappear when draggin

[2018-12-12 12:12] kpavankotesh commented on #16
I see this issue in IE11, any solutions?

[2018-12-13 23:46] sjhsieh commented on #109
A quick fix for this is to give the tooltip a className and set the max-width on it. ie:
<ReactTooltip className='tooltip-width' />

.tooltip-width {
  max-width: 95%;
}

[2018-12-17 15:00] #460 closed

[2018-12-19 10:30] NicoleRauch opened #462 "Tooltip does not show up any more after render"
Hi,

I want to add nice tooltips to some cells that I have in react-data-grid. So I add the required information to those cells (data-for and data-tip). When I hover on those cells, the tooltip shows up, and all is well.

In my app, I can change the layout of the datagrid by clicking a button (thus triggering a re-render of the whole component which contains the data-grid and the tooltip).
When I

[2018-12-19 14:54] aronhelser commented on #462
Inside the event handler for the button, you might try the `ReactTooltip.rebuild()` method, to let it re-discover the cells.

[2018-12-19 15:19] NicoleRauch commented on #462
Thanks for the pointer! Actually, adding it to the event handler was too early, but I added it to componentDidUpdate(), and this works beautifully! Thank you for your quick and very helpful response.

Nicole

[2018-12-19 15:19] #462 closed

[2018-12-31 01:30] jsphweid opened #463 "initial render is messy in server/static render"
I made this gif that explains what is going on: https://gyazo.com/c43c410aa9cb93bfdfaf4c2da8559019

Basically when you go to a page for the first time, the tool-tip popup contents display then go away once javascript executes.

In my case, the tooltip is configured to only popup on click. And as a fix, I plan on simply making that component only display tool tip once componentDidMount, but it's ki

[2019-01-01 20:09] aronhelser commented on #457
Should be fixed now.

[2019-01-01 20:09] #457 closed

[2019-01-01 20:11] aronhelser commented on #448
Take a look at the scrolling example - if you remove `scroll` from the eventOff list and follow the setup there, does it resolve the issue?

[2019-01-02 09:48] RonnyO commented on #438
I needed this and a proper PR requires more time, but meanwhile I tweaked placement in my (S)CSS. Something like:

[code]

[2019-01-02 15:21] #429 closed

[2019-01-04 16:45] #306 closed

[2019-01-07 21:00] Edulopez commented on #448
Nope. It does not.

It works with the scroll button but not with the arrow keys.

[2019-01-07 21:43] aronhelser commented on #448
When I try on the demo page: https://react-tooltip.netlify.com/

and I click inside the scrolling panels so I can use the arrow keys, the tooltip hides as expected when using the arrow keys - the first panel hides, the second one doesn't.

Did you set `data-iscapture='true'` for your target, as shown in the example?

Otherwise IDK what might be wrong? If you can investigate or propose a fix, we ca

[2019-01-08 10:00] oleksiivasylchenko commented on #206
I solved it using ReactTooltip.show  and hide
[code]

[2019-01-10 13:53] kdkocev commented on #396
Since the Tooltip is positioned within the parent html and not in a React Portal - you can expect such results when you use the Tooltip within a css [Stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context).
I suggest to either extract the Tooltip into a React Portal or position it outside the stacking context.

[2019-01-11 15:21] danherd commented on #460
Any chance you can share your solution @actraiser?

[2019-01-15 10:36] abdulrahman-khankan commented on #446
This has been resolved in 3.9.2
It doesn't use sanitize-html anymore.

[2019-01-15 10:36] #446 closed

[2019-01-15 14:36] aronhelser commented on #446
Thanks for following up!

[2019-01-16 09:57] kopax opened #467 "How can I render react component within tooltip?"
Hi and thanks for sharing this library.

I've been testing a few and it is the only one that work.

One thing I need to do is to passe react-component within the tooltip, but the `data-tip` is the only `prop` I know that can be added in the `tooltip` and it expect a `string`.

Is it possible to render react-component within tooltips?

Thanks in advance

[2019-01-23 06:11] stearagon commented on #449
@windinging When you call `hideTooltip`, This function will check if the mouse is on the tooltip on this line https://github.com/wwayne/react-tooltip/blob/master/src/index.js#L443. If the mouse is on tooltip, it will wait for the mouse to exit the tooltip to close the tooltip.

There is no explicit prop to set to avoid this check and close the tooltip even if the mouse is over the tooltip.

This i

[2019-01-23 19:09] stahlmanDesign commented on #430
If you use strict mode, React warns that findDOMNode is deprecated. It is used in react-tooltip and would be good if it were refactored to use the proposed solution of adding "a ref directly to the element you want to reference" — I haven't looked into exactly what to do to fix this:
`
Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of ReactTooltip which is ins

[2019-01-23 19:12] stahlmanDesign commented on #430
Relates to #331 describing possible solution

[2019-01-23 19:53] aronhelser commented on #430
If you want to try fixing react-tooltip, I'll gladly accept a PR!

[2019-01-28 07:09] stearagon commented on #449
@windinging You can set a ref on tooltip `<Tooltip ref={el => this.tooltip = el} />`
then have your close function include `this.tooltip.tooltipRef = null` before you call `ReactTooltip.hide`

[2019-01-29 15:38] dmc1985 opened #468 "Is there a way to hide the arrow of the tooltip?"
I looked at the html and I did not see a class that was explictly linked to the arrow. Is there a CSS rule that I can add to remove the arrow of the tooltip?

[2019-01-30 09:01] dmc1985 commented on #468
I was able to remove the arrow by adding the following css rules:
[code]

[2019-01-30 09:01] #468 closed

[2019-01-31 00:13] joaoreynolds commented on #210
For future readers - to save the few minutes it took me to go read the docs. You can pass in the option `wrapper="span"` (default remains `div`) which will get around this error.

[2019-01-31 10:42] kopax commented on #467
Great, may I leave this open as this should be in the documentation?

[2019-01-31 10:51] dmc1985 commented on #467
That's fine with me.

[2019-01-31 13:57] aronhelser commented on #467
It would be great if you wanted to submit a PR with an update to the
examples! Let me know if you think you can....

On Thu, Jan 31, 2019 at 5:51 AM David Martin Cohen <notifications@github.com>
wrote:

[2019-01-31 17:11] dmc1985 commented on #467
@aronhelser I'd be happy to make a PR with an update to the examples. I won't have time for a little while, but I'll do it asap. If I have any trouble, I'll let you know.

@kopax Small thing: I found it's better to use a <span> instead of a <div> in the jsx inside the Tooltip component. Using a <span> controls the position more accurately.
So my Tooltip component now looks like this:
[code]

Also,

[2019-01-31 19:48] diegoolavarria commented on #52
@botrepper how did you change the color of the arrow?

[2019-02-01 10:50] yarik-vv commented on #248
We are still see this issue in `v3.9.2`.

[2019-02-04 14:02] guyazulay commented on #377
@aronhelser can you explain more about this work-around ? how can you hide other tooltips after the show of some tooltip ?

[2019-02-04 14:03] guyazulay commented on #377
@joedevgee something new about this PR ?

[2019-02-04 16:00] enapupe commented on #40
Hey, sorry to bring this up again:

I'm currently using react-router and have a toplevel `App` component on which I render the main `<ReactTooltip` component. That's working nice for the first render but when an user opens any `<Link`, rendering another view, tooltips stop working.

Such workaround seems to WORK but only if the child view is fully rendered when the timeOut kicks in. Because my mai

[2019-02-06 20:13] MariaNattestad commented on #329
My use case involves lots of data points, so the tooltip needs to know information about which data point was hovered on. Supporting JSX or passing through a data object without the string conversation would be appreciated, but here is my workaround:

Pass the data through as text by JSON-stringifying it, and then use getContent to create the JSX:

For example, each data point can pass its data ob

[2019-02-08 22:44] fatbattk commented on #203
_click_ does not work on iOS as expected. have to use **_touchstart_** as @codenameyau suggested.

here's my solution:
- desktop showing tooltip on hover.
- mobile showing tooltip on click without testing UA.

[code]

[code]

[2019-02-08 22:59] alexkindel commented on #40
@enapupe Here is one solution: Use a `setTimeout` with _zero_ delay in `componentWillMount` in the component that renders the tooltip content. It's still hacky but at least with zero timeout delay it implies the solution isn't relying on a magic amount of time to wait for rendering.

**Application root render:**
[code]

**Some component that displays tooltips:**
[code]

[2019-02-08 23:27] enapupe commented on #40
Appreciate the suggestion however I don't feel like adding such hack to every component that has a `data-tip` as this feels very un-React. Not to mention that `componentWillMount` is sunsetting at some point soon. But I guess it could be called on `didMount` without the timeout...

I'm afraid I'll have to implement my own tooltip component or switch to another library as I'm not able to find any e

[2019-02-08 23:36] alexkindel commented on #40
@enapupe I agree, it would be good to find a solution that doesn't require `rebuild` at all. Thanks for reminding me that `componentWillMount` is deprecated, I edited my comment to use `componentDidMount` which works just as well.

You could also put the setTimeout/rebuild functionality inside a higher order component that wraps the tooltip content.

[2019-02-08 23:41] enapupe commented on #40
Yeah, the HoC idea occurred to me, will give it some thought. Thanks again!

Not to be picky, but you could  write it as:
[code]
(specially about the creating an unnecessary anonymous fn part)

[2019-02-12 04:19] torioLuz commented on #351
I faced the same issue, and just realized the type declaration file defined it that way s.t. you have to use import *

[2019-02-13 16:29] itsmichaeldiego commented on #130
My problem is that my whole page where I want to place the tooltip is the modal, is there any way to do it without moving it out? @wwayne

[2019-02-13 17:19] itsmichaeldiego commented on #417
@ZLevine Thank you you helped me a lot! I thought it was a z-index issue.

[2019-02-13 19:00] FruitAndAShape opened #469 "My tooltip does not appear"
I have...

[code]
Just like the instructions say. If I uncheck a bunch of CSS rules then I can see the tool tip sitting empty on the screen.

But it doesn't appear when I roll over the <th>. What reason could there be for this?

[2019-02-13 21:57] aronhelser commented on #469
If your item is not a child of the ReactToolTip, you need to use the `data-for='happyFace'` property on your item, and the `id='happyFace'` property on the ReactToolTip, so they link up. It's shown in the first example. I'll take a look at the code at the top and see why the first example code shown is not correct.

[2019-02-14 11:44] FruitAndAShape commented on #469
That didn't fix it unfortunately.

[2019-02-14 11:46] FruitAndAShape commented on #469
It works if I add a tooltip to another page element. Why doesn't it like my generated table header cells?

[2019-02-14 14:55] itsmichaeldiego commented on #417
@aronhelser This probably should be a property option "clickable" or something right?

[2019-02-14 17:10] aronhelser commented on #469
It's because your generated table cells aren't present when the Tooltip is
created. You need to call `.rebuild()` after they are created so the
tooltip can discover them.

On Thu, Feb 14, 2019 at 6:46 AM FruitAndAShape <notifications@github.com>
wrote:

[2019-02-14 17:12] aronhelser commented on #417
That's a good idea! Hopefully someone can work on it and submit a PR.

[2019-02-14 19:09] EndiM commented on #417
@aronhelser I would like to work on this if okey?

[2019-02-14 19:11] aronhelser commented on #417
yes, absolutely!

[2019-02-15 14:24] FruitAndAShape commented on #469
Where is the optimum place to do this? After every render?

[2019-02-17 01:00] iRunner opened #470 "reactTraverser.js:29 Uncaught TypeError: Converting circular structure to JSON"
<img width="818" alt="screen shot 2019-02-16 at 7 59 20 pm" src="https://user-images.githubusercontent.com/1361295/52906963-63bcb100-3225-11e9-9b48-e2da340d202f.png">

For some reason this is happening..

[2019-02-19 16:01] gabrieldonadel commented on #458
This also happens to me with overlaying shadows

[2019-02-21 16:42] FruitAndAShape commented on #469
I did this...

[code]

[2019-02-22 20:45] cuttlas commented on #305
I got it working by calling .rebuild() on the onSectionRenderer of the Grid:

[code]

[2019-02-27 21:43] codygordon commented on #300
For anyone still looking for a solution with `AutoSizer` + `Table`, I got this working performatively.

I found that rendering a `Tooltip` for each row as recommended had a dramatic effect on performance with more than a small number of rows, so I wanted to get it working by only rendering one. The important part is just calling the tooltip methods (note I used a trailing `debounce` instead of `th

[2019-02-28 15:01] NandySahukar commented on #304
Keep the button inside the `<span>` tags then you can get the tooltip for disabled buttons. This is the best you can do instead of using **warning**

`<span>
        <button disabled> Save </button>
</span>`

[2019-02-28 15:41] aronhelser commented on #300
That's a really nice simple example - thanks! I think it'd be good to add a link in the Readme or in the examples page - anyone want to do a PR?

[2019-02-28 17:27] CWSites commented on #344
Any update here? Seems like a pretty straightforward question.

[2019-02-28 17:34] CWSites opened #471 "Question: Why does hovering on element cause component to update"
I am using react-tooltip inside of react-table and some of my cells have a tooltip attached while others do not. When I hover over cells on my table that do not have a tooltip my table component doesn't update, however if I hover over a cell which does have a tooltip my table component updates on every movement of my mouse no matter how small.

Is the constant redrawing/updating because of the too

[2019-02-28 18:20] aronhelser commented on #471
Yes, you can have a static position, which is probably what you want - take a look at the examples.

[2019-02-28 23:20] CWSites commented on #471
@aronhelser I looked but didn't see anything showing that, can you point me in the right direction?

[2019-03-01 10:13] RicardoDeity commented on #447
Hi SokolskyNikita,

I managed to do this by setting a class on the tooltip element, and add a CSS rule for this class that has: max-width: 70vw (so that it will have a max width of 70% viewport width).
Hope this helps!

[2019-03-01 10:22] richardoosterlaken commented on #344
@CWSites I just ran into this and it appears to be related to components with the `data-for` props loading later than the ReactTooltip component.

E.g. I had a dynamically loading infinite scrolling feed, and the first 'page' loaded the tooltip correctly for all its subcomponents. I use one tooltip to cover all those elements, which worked fine for the entries that were loaded before the tooltip w

[2019-03-01 13:52] aronhelser commented on #471
Sure! On the example site: https://react-tooltip.netlify.com/
at the very top, choose the 'solid' setting instead of the 'floating'.

[2019-03-01 13:54] aronhelser commented on #471
Also, if I understand correctly, even if your component re-renders, the tooltip will be the only thing that changes, so React should leave the DOM alone for the other pieces of your component. Hopefully. :)

[2019-03-01 14:56] CWSites commented on #471
Thank you, I had some other stuff inside of `componentDidUpdate()` which was firing every time that I my mouse moved which was very frustrating. `solid` works wonders now and it only updates when I first hover over the popup.

Cheers!

[2019-03-01 14:56] #471 closed

[2019-03-04 14:24] lnzd17 opened #472 "Tooltip only stays open for 1 second upon mouseEnter"
react-tooltip@3.9.2
[code]

When I hover over `span.icon` the tooltip appears for 1 second and then fades out even when the mouse has not moved.

I do see that the React state `show` on the component `ReactTooltip` toggles to `true` upon `mouseEnter`  then a second later toggles to `false` automatically without any clear trigger event.

How can I prevent `show` from toggling to `false` UNTIL `mous

[2019-03-04 15:44] aronhelser commented on #472
That is strange behavior. I don't know of anything in ReactTooltip that would trigger a fade after one second. I don't see that behavior with the examples: https://react-tooltip.netlify.com/ , do you? Does the behavior change with different browsers or anything?

It make me think there may be some CSS animation stuff affecting the tooltip...
Please update if you find something!

[2019-03-04 16:09] lnzd17 commented on #472
@aronhelser Thanks for the quick reply!

I checked https://react-tooltip.netlify.com and the odd fade out is NOT happening (working as intended).

 I checked my implementation with Chrome, Safari, and Firefox and all have the odd fade out. I will check the codebase for any CSS overrides or animations and will update if I find anything.

[2019-03-06 15:31] metroSetenta opened #474 "delayHide create confusion when hidding tooltip due to a scroll event"
When you want to use the mouse in the tooltip information, and set the delayHide option, this should not be applied when scrolling and scrollingHide is set to true, it creates confusion because the tooltip is over another element. Maybe delayHide not should be applied when hidding due to a scroll event.

![tooltip scroll error](https://user-images.githubusercontent.com/2429109/53893050-b8d23280-40

[2019-03-06 17:21] #417 closed

[2019-03-06 17:25] wwayne commented on #417
:tada: This issue has been resolved in version 3.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-07 03:41] mtsalenc commented on #420
@ketysek I experience the same thing. Did you find a solution?

[2019-03-08 18:24] ajpocus commented on #417
I'm a bit late to the party, but it's awesome to see this fixed! Thank you everyone for answering, and for fixing this issue! :tada: To be honest, I realized a bit too late I needed a popover, not a tooltip, and I was kind of abusing this tool. But hey, it's great to see this is doable with this tool now. :smile:

[2019-03-08 18:32] filipegiusti opened #476 "Tooltip with big text content overflows the window"
I changed a few things on the examples page and was able to replicate the issue. When there is a big text on the tooltip and the element isn't centered in the screen, it gets cut off on the left side.

![bug](https://user-images.githubusercontent.com/7714/54037976-30bf6a80-419e-11e9-8bb1-fb17ef0a2341.png)

When there is more text it even splits it into multiple lines but still doesn't respect the

[2019-03-11 07:04] oladhari commented on #420
@mtsalenc
here the solution that we came with
we created a function that handle the content in a customized component for the tooltip:
[code]

in the component using the tooltip you just pass the data-tip like this:
[code]
hope it is helpful

[2019-03-12 19:56] MehdiAghighi opened #477 "Two tooltips on one element"
i am trying to have two tooltips on one element like one for left and one for right

[2019-03-14 14:22] AlexLaRochelle commented on #476
I have the same issue, and it's especially weird since the tooltip adjusts fine when it overflows on the right side.

[2019-03-14 14:47] aronhelser commented on #476
I think someone with a mobile screen figure out how to adjust the styles so
it didn't overflow, but IDK which issue it might be in....

On Thu, Mar 14, 2019 at 10:22 AM AlexLaRochelle <notifications@github.com>
wrote:

[2019-03-14 14:52] AlexLaRochelle commented on #476
I managed to fix this (I really don't know if it works in all cases) by applying a class with max-width: 70vw to the tooltip, as mentioned in this issue: https://github.com/wwayne/react-tooltip/issues/447
I also have multiline set to true for the tooltip.

Seems to work fine on mobile and desktop

[2019-03-15 19:21] filipegiusti commented on #476
I tried it in my project and later on the examples page, no good. It only works if you know how far the element is from the left side.

1920px wide:
![no-good-1](https://user-images.githubusercontent.com/7714/54456735-486a9600-473e-11e9-8cd5-0b818339679f.png)

About 900px wide:
![no-good-2](https://user-images.githubusercontent.com/7714/54456740-4accf000-473e-11e9-8c36-8f1dbf63538e.png)

[2019-03-15 19:31] AlexLaRochelle commented on #476
By adding the max-width: 70 vw to the style of the ReactTooltip, it positions automatically on the right when it would overflow on the right for me. Mind sharing your code?
<img width="962" alt="Screen Shot 2019-03-15 at 3 29 18 PM" src="https://user-images.githubusercontent.com/33098736/54457280-57017f00-4737-11e9-8110-6b92ed114d81.png">

[2019-03-15 19:38] filipegiusti commented on #476
https://react-tooltip.netlify.com/

[2019-03-15 19:52] filipegiusti commented on #476
It might be browser specific, look at those scary eyes on my screenshot :see_no_evil:. Chrome 72.0.3626.121 on Linux here.

https://react-tooltip.netlify.com/

[code]

And try different widths, sometimes it works, sometimes it doesn't.

[2019-03-16 20:00] timhwang21 commented on #417
Hi, I'm not sure this is fixed.

From the demo site (https://react-tooltip.netlify.com/), the input is still unfocusable.

[2019-03-17 08:08] EndiM commented on #417
@timhwang21 You are right, the compiled `style.css` is missing the new `allow_click` class in the example site. @aronhelser Did I have to commit `src/style.css` and `src/style.js`, I see they get updated through build process.

[2019-03-18 14:31] aronhelser commented on #417
I don't think the new build is automatically deployed to https://react-tooltip.netlify.com/, I didn't set that up. I'll have to check.

[2019-03-18 15:55] lnzd17 commented on #472
@aronhelser Just wanted to update this issue.

 I have not found any css animation in the code base that seems to be causing the issue. We do use Bulma (https://github.com/jgthms/bulma). Have you heard of any conflicts with that framework and react-tooltip?

Do you think that CSS Animations could change the React state `show` ? I have seen this toggle without an apparent mouse event (with React De

[2019-03-18 16:32] jspencersharpe commented on #463
Dealing with this issue as well.

[2019-03-18 20:11] timhwang21 commented on #417
I should have also mentioned that I'm seeing the same incorrect behavior in my application using the latest version. Thanks for the quick response!

[2019-03-19 18:17] aronhelser commented on #417
Can you look at the styles in your app that are applied to the tooltip and
see what is preventing the "pointer-events: auto" style from taking effect?

On Mon, Mar 18, 2019 at 4:11 PM Tim Hwang <notifications@github.com> wrote:

[2019-03-19 22:10] timhwang21 commented on #417
@aronhelser that fixed it... thanks!

[2019-03-20 04:41] kuldeep-taroko opened #478 "Applying style to `place-top` or `place-left` doesn't work as expected."
Component
[code]

SCSS
[code]
Result
![Screen Shot 2019-03-20 at 12 39 54 PM (2)](https://user-images.githubusercontent.com/46096889/54659591-73bdfe00-4b0d-11e9-911d-cd4b1f7d6417.png)

Issue
I am using CSS Modules in my app. Because of which the arrow color is not changed as expected.

I tried using `:global`, but it didn't work.
[code]

[2019-03-20 13:20] aronhelser commented on #417
Can you elaborate on what fixed the problem for you? Did you have to change
something using the latest version?

On Tue, Mar 19, 2019 at 6:10 PM Tim Hwang <notifications@github.com> wrote:

[2019-03-20 18:14] timhwang21 commented on #417
Sorry, I did in fact have a local style that overwrote that rule. The rule
is being properly applied by the library.

On Wed, Mar 20, 2019 at 9:20 AM Aron Helser <notifications@github.com>
wrote:

[2019-03-20 19:19] fmaiabatista opened #479 "[Edit] Author please delete this issue"
~~Hi,~~

~~I'm using this package to implement tooltips on a form. The issue I'm having is when a user switches between different input types on mobile devices (tested on Android) - eg. between a text and a phone field.~~

~~When the soft keyboard changes its layout ([see here](https://stackoverflow.com/q/14854359/5046074)), the tooltip is dismissed. My tooltips are currently set to `event="focus"

[2019-03-20 20:05] #479 closed

[2019-03-21 03:10] kuldeep-taroko commented on #478
This worked for me.

:global {
  .place-top {
    &::before {
      border-top: 8px solid $white-six !important;
    }

    &::after {
      border-top: 6px solid $pale-grey-four !important;
    }
  }
}

Thanks

[2019-03-21 03:10] #478 closed

[2019-03-21 03:55] ramkrishnakuldeep opened #480 "Unit testing with setProps()"
I am writing tests for component.
It runs perfectly, if we set the props in `shallow`.

But when we try to set props through `setProps` function, the css class doesn't udpate.

#Component
[code]

#Spec
[code]

test case 1 :
`expect(wrapper.find(tooltip_class).hasClass('place-left')).toBeTruthy();`
this has been updated in the snapshot and is passed.

test case 2 :
`expect(wrapper.find(tooltip_clas

[2019-03-21 21:29] paul-loopup commented on #476
+1

[2019-03-22 08:58] dim2k2006 commented on #449
@windinging Can you share your code with this solution?

[2019-03-22 17:40] tylergaugler16 opened #482 "Tooltip goes away even while currently hovering over tooltip trigger"
At one point react-tooltips were working as expected, but only recently did we find that even while hovering on the tooltip trigger, the tooltip would open initially, and then precede to close even if the cursor never leaves the tooltip trigger.

After some inspecting, one of the things I was noticing is that sometimes the  hideTooltip method is receiving an undefined event. Any reason for this to

[2019-03-22 18:42] aronhelser commented on #482
That's really strange - you could change that `return` to `debugger` and try to figure out what the undefined event means....

[2019-03-22 18:44] ToyboxLabs opened #483 "Tooltip eats click on mobile webview"
I have a button with a tool tip on it

[code]

On a mobile webview it always eats the first click so everything requires two clicks now. Also the tool tip never shows on mobile.

[2019-03-23 18:09] rares-lupascu commented on #470
i am also caught in this error for a few days now

[2019-03-25 14:06] AdiBakija commented on #476
I have a very similar issue.

[2019-03-26 20:58] nadineshmo commented on #430
Any update on this PR? I'm also getting the issue "findDOMNode was called on an unmounted component" raised by the first commenter. Not sure if this PR will fix this, or just the strict mode deprecation warning?

[2019-03-28 03:46] Andsbf commented on #430
I wonder the same @nadineshmo, **apparently** it only fix the strict mode thing.

[2019-03-28 14:41] tylergaugler16 commented on #472
If anyone else is having this issue, I found that adding this line to the hideTooltip function worked:
`if (e === undefined) return`

For some reason an undefined event was triggering the close of the tooltip.

[2019-03-28 14:42] tylergaugler16 commented on #482
If anyone else is having this issue, I found that adding this line to the hideTooltip function worked:
`if (e === undefined) return`

For some reason an undefined event was triggering the close of the tooltip.

[2019-03-28 14:58] #430 closed

[2019-03-29 01:06] Andsbf commented on #430
@thanks for merging it in @aronhelser , will a new tag be released with this change?

[2019-03-29 10:55] GavBaros commented on #206
Not sure if that will help you, but to those having issues with the tooltip locking in to only one id, I just pass this prop `tooltipId={Math.random().toString(36).substr(2, 5)}` to my ReactTooltip and lots of bugs are solved.

[2019-04-03 09:49] alex6633 opened #484 "How can I dynamically increase the height of the tooltip based on the content"

[2019-04-03 13:21] aronhelser commented on #484
Can you please be more specific about what content you are trying to display, using what method, and what is not working?

[2019-04-09 13:15] cneeson commented on #325
@wateryoma would you mind expanding on this answer a bit more? In the same situation, but not 100% sure where that call would be

[2019-04-09 14:02] martinschayna opened #485 "How to use tooltip in function components with hooks (React 16.8+)"
This doesn't work for me:
[code]
Class components work as expected:
[code]

[2019-04-10 09:55] samisofttech opened #486 "Tooltip rendering always at the border of the canvas"
<img width="576" alt="tooltipissue" src="https://user-images.githubusercontent.com/5120017/55869813-e407ee80-5ba4-11e9-9143-f7bdf3175eaa.png">

![image](https://user-images.githubusercontent.com/5120017/55869947-2a5d4d80-5ba5-11e9-9753-1aeb94ce658f.png)

my tooltip is always rendering at the top border of the canvas window even if i change the place of it.

my code snippet -:
<React.Fragment>

[2019-04-10 12:51] PeterMK85 commented on #486
Facing the same issue:
![image](https://user-images.githubusercontent.com/3931377/55879831-cbe1a080-5b9f-11e9-88a5-3b5c93584346.png)

Basically the position of the tooltip is placed outside the current viewport.

[2019-04-12 07:36] umihui commented on #248
I am still see this issue in `v3.10.0` if I set `delayHide`

[2019-04-15 14:29] JesusJavierMoreno commented on #449
Hello!
I don't know if you still need it but I got it working this way.

`<div data-tip data-event='click' data-for='test'>Heeeeyyy</div>
            <ReactTooltip
            id='test'
            clickable={true}
            globalEventOff="click"
            ref ={ el => this.tooltip = el }

            <div>
              <p>TOOLTIIIP</p>
              <button
                onClick={ () => {

[2019-04-15 14:30] JesusJavierMoreno commented on #449
Hello!

I dont know if you still ned it but I got it working this way.

![image](https://user-images.githubusercontent.com/48220416/56140725-0f9e2680-5f61-11e9-9f1e-a76f813a8ef2.png)

I hope it works for you! :D

[2019-04-16 17:48] mentierd opened #488 "Replace legacy life-cycle events with new ones"
Hello,

I'm very interested in switching over to this library from rc-tooltip as it seems to be unmaintained. One issue that I'm facing with both of your libraries is the use of componentWillMount / componentWillReceiveProps.

Preventative maintenance should be performed to replace these older life cycle methods with their newer equivalents: componentDidMount / static getDerivedStateFromProps.  Th

[2019-04-25 14:27] ozluy opened #489 "It looks like you've wrapped styled() around your React component (ReactTooltip), but the className prop is not being passed down to a child. No styles will be rendered unless className is composed within your React component."
[code]

I get this warning when I use it with Styled-Components as Below

[code]

[2019-04-30 09:00] guyazulay opened #490 "add more optional directions for open the tooltip"
As we know, on corners the tooltip would be cut (with high chance).
I think that add more directions (diagonal directions ) as an options would solve most of the broken cases (suggested directions are: top-left, top-right, bottom-left, bottom-right).
Let's take target located on the bottom-right corner of the screen. Foe sure , the tooltip can't be opened to the right and to the bottom, the only o

[2019-05-02 21:42] stahlmanDesign commented on #488
react-tooltip is one of the only libraries I am using that still throws deprecation warnings (in strict mode)
![Capture d’écran, le 2019-05-02 à 17 41 13](https://user-images.githubusercontent.com/972804/57108707-8f6a1600-6d01-11e9-828a-435b71dc2f82.png)

[2019-05-03 11:00] vsc-github commented on #382
Having the same issue. Would like to contain the tooltips within a container, inside a map component actually. Did you find a workaround to this?

[2019-05-03 13:00] aronhelser commented on #488
A PR will gladly be accepted!

On Thu, May 2, 2019 at 5:42 PM Justin Stahlman <notifications@github.com>
wrote:

[2019-05-03 14:56] DECAlum commented on #382
Unfortunately no.  The product went a different direction without tooltips so the issue was not pursued.

[2019-05-03 14:59] kashifshamaz21 commented on #474
I'm also facing this same issue wherein, when user scrolls the window, the open tooltip doesn't hide.
following is my tooltip usage:

[code]

Will see if i can figure out a fix for this while i use this library. Btw, I really liked the way this tooltip component is designed and implemented. Kudos to all the developers contributing to this.

Cheers.

[2019-05-03 15:06] kashifshamaz21 commented on #248
I think this issue arising due to combination of _delayHide_ and _scroll_ is being tracked under #474, for others who stumble here on this issue for this, lets use Issue 474 for adding comments, up-voting and further analysis/PR.

[2019-05-03 18:03] oriuken commented on #420
I did something very similar but using _JSON.parse_ and _JSON.stringify_ so I can manage the whole element and have more flexibility.

So instead of using
`const [name, description] = dataTip.split("|");`
I did something like
`const obj =  JSON.parse(dataTip)`
Here I can access obj.name and obj.description

And when passing the values, Instead of
`data-tip={`${name}|${description}`}`
I did:
`data-

[2019-05-09 09:08] ozluy commented on #489
Quick fix, you can turn off the warning using `.attrs({ suppressClassNameWarning: true })` provided by [styled-components](https://styled-components.com) as below...

[code]

[2019-05-15 08:56] Delboyeire commented on #431
I would really like this feature too! we have dynamically generated data-tip content and the changes are not reflected.

I have solved it by rebuilding the tooltip when those components update by calling ReactTooltip.rebuild(), but this means passing the rebuild function down many levels which is undesirable

[2019-05-17 10:31] gost402 commented on #325
Add custom styles: `position: absolute` instead of `position: fixed`. That will fix this behavior

[2019-05-17 18:28] jacobgranberry commented on #463
Same...

[2019-05-19 20:33] PaulRBerg commented on #313
Is this possible in a newer version? The fade out animation is rather abrupt right now.

[2019-05-20 14:54] HappyArava commented on #333
You saved me Man, Thank You...!!!

[2019-05-22 03:41] usama-asfar opened #492 "How to fix this?"
![Capture](https://user-images.githubusercontent.com/42825498/58145896-81a91000-7c71-11e9-8460-c54aea53cfe0.PNG)

[2019-05-22 12:30] aronhelser commented on #492
Looks like an ordering issue - try looking at the z-index of the green pane compared to the tooltip.

[2019-05-22 23:48] usama-asfar commented on #492
what is the tooltips z-index?

[2019-05-23 01:44] th0th commented on #463
If a custom wrapper component is used, checking if `window` is defined or `process.browser` for next.js before rendering would be another workaround, but still, it won't solve SEO issue. I am not sure how it can be solved SEO-friendly though.

[2019-05-23 12:47] aronhelser commented on #492
https://github.com/wwayne/react-tooltip/blob/master/src/index.scss#L69
you can also check with the browser's debugger, if you trigger a hover
event on the item with a tooltip.

On Wed, May 22, 2019 at 7:48 PM Usama <notifications@github.com> wrote:

[2019-05-29 16:32] asifrahman01 commented on #463
Same issue here

[2019-05-29 16:51] pswaroopk commented on #458
I have resolved this issue by setting <div data-for={uniqueId}.... in line one and <ReactTooltip id={uniqueId} in line two.

[2019-05-31 16:37] Rinta01 opened #493 "Tooltip watches only a few elements"
I have a following problem which i can't really wrap my head around. I put the ReactTooltip component in my root jsx component - App. Using the debugger i could see that it only changed its "style" attribute and therefore appeared near some elements meaning that it also appears at instance 1 of Component X but does not appear at instance 2 of Component X. What could be th e cause of this behavior?

[2019-05-31 17:53] pswaroopk commented on #484
I have a similar issue, where the the text is just overflowing out of the toopTip container. Instead, I want the tool tip with fixed width and the height to increase based on content instead of single line text.

[2019-06-04 16:41] pswaroopk commented on #267
@reginavlee do you have the source code for this change, I can take a look at the implementation. (I am new to front end).

[2019-06-04 22:18] oudia15 commented on #430
I am still having this issue, Has a new tag been released with the fix ?

[2019-06-10 20:25] msrobot0 opened #494 "blur event"
I want to display the tool tip when I leave an input text field (ie on blur) however this does not seem to work as expected (it works as if it is on focus on or click)

[2019-06-11 19:54] cynosureabu opened #495 "Place always first show previous position"
I am using a state to control the place parameter:
[code]
and have a function to change the place dynamically:
[code]

However it seems that the first time it will always use the previous placement, and then all following tooltip position are working correctly.

How do I solve this?
I added
[code]
but no lock here.

Thanks!

[2019-06-12 02:14] jhlee4 commented on #59
I had a problem similar to this, but after further debugging, project that I was working had no window scroll, only element scroll. so none of the solutions above worked.
I managed to fix? it by adding 'onScroll' event on the element that was scrolling
example:
`  public hideUpdateTooltip = () => {
      Tooltip.hide()
    }

    <div onScroll={this.hideUpdateTooltip}>
    //some codes...
   </div

[2019-06-14 11:07] jhlee-swk opened #496 "div onClick event handler will not trigger if there is tooltip"
[code]
I was only able to see first 'click' on the console.
it seems to ignore onClick handler after the first click.

[2019-06-14 17:19] mnmistake commented on #245
same thing size of div is a problem when positioning

[2019-06-18 06:56] kkowalczuk commented on #377
Not sure if that will fulfill your requirements, but if you reach this issue there is a chance that below workaround may come in handy:

[code]

With multiple `TooltipDemo` components on one page the problem described by @joedevgee no longer occurs.

[2019-06-21 03:28] developdeez opened #497 "Postioning fails when the target is positioned with absolute"
I want a simple '?' tot he top right of all of my fields like many apps. But when I tried this the tool tips always shows in the top left.

How can I either position it according to the target or at least control when it shows?

[2019-06-21 15:11] katespaghetti commented on #277
My team recently started using this and someone came up with a solution without adding `!important` if anyone else is trying to avoid them.

`&.show {
 opacity: 1;
}`

We would still love to see @protoEvangelion's suggestion to inline.

[2019-06-24 12:38] abraztsov opened #498 "Unable to get property 'target' of undefined or null reference in globalShow"
Hi react-tooltip team 👋

Sometimes an error occurs in Edge 18.17763 browsers

`TypeError: Unable to get property 'target' of undefined or null reference`

in

`./node_modules/react-tooltip/dist/decorators/staticMethods.js in e.prototype.globalShow at line 43:1`

here

[code]

[2019-06-25 13:20] chulanovskyi opened #499 "`Clickable` option on the demo doesn't work"
At the very bottom of the [demo site](https://react-tooltip.netlify.com/) there is a section with a `clickable` prop example, but - the problem is described in the title. When I try to type something into the input - it doesn't react on any event, clicking, typing...

![image](https://user-images.githubusercontent.com/13966263/60101580-aeff4700-9764-11e9-898d-e18542a14c48.png)

OS: 18.04.2 LTS
Tes

[2019-06-25 19:10] aronhelser commented on #499
This should be a matter of setting the `pointer-events` style correctly - I
thought this worked when the example was added. Can you take a look?

On Tue, Jun 25, 2019 at 9:20 AM Oleg Chulanovskyi <notifications@github.com>
wrote:

[2019-06-25 19:26] chulanovskyi commented on #499
Tested on mobile (chrome) - still not working. Will check later from the desktop...

[2019-06-27 07:46] aorsten commented on #482
I am experiencing the same. I use react-tooltip in a next-js page to show footnotes. They used to work great, but now I get the same thing as @tylergaugler16 .
However, if I move the mouse onto the area, and manage to hold it perfectly still, I get the good old behavior.

This is my code:
[code]
The Portal element is a ReactDOM.createPortal portal, and places the tooltip in a div called tooltip-ro

[2019-07-04 08:44] perbergland opened #500 "Can’t get "Click to stick" behavior to work"
I have some "help" icon buttons with tooltip that I wanted to make touch friendly so I thought I’d add an option to make the tooltip appear when they tap the icon.

Unfortunately I can’t get this to work properly since I want the old behavior to work as before (i.e. show on mouseenter and hide on mouseleave).

I tried data-event="click mouseenter" but then the tooltip doesn’t go away if it’s shown

[2019-07-16 23:42] tihuan commented on #499
It looks like the [example site](https://react-tooltip.netlify.com)'s `index.js` response doesn't have `.__react_component_tooltip.allow_click` css rule. Possibly because `standalone/react-tooltip.js` doesn't have that rule?

E.g.,

https://github.com/wwayne/react-tooltip/blob/master/standalone/react-tooltip.js

For `allow_hover`, there's `__react_component_tooltip.allow_hover{pointer-events:auto}

[2019-07-19 02:16] tonystaark opened #503 "Trigger tooltip from outside/global"
In my project, I have several elements that will show tooltip when hover over using react-tooltip.
I am also working on creating an input field such that after I type in the relevant item into the input field, it will trigger the tooltip from the particular element without hovering on that element specifically
I have gone through the documentation and have not seen something that is workable.
Or d

[2019-07-22 15:44] aronhelser commented on #503
You can use the .Show() and .Hide() methods to trigger the tooltip externally. I don't think we have anything on our example page - it would be a great addition.

[2019-07-23 13:57] mhlmhl commented on #503
I have the same requirement.  What I really want is a "show" attribute on <ReactTooltip> that I can set to "true" or "false" as needed.

I have a textarea with the data-tooltip and data-for attributes and an "onKeyDown" event handler.  I have tried calling ".Show()" in the onKeyDown handler but it doesn't work, perhaps because the <ReactTooltip> is not yet rendered....?

Maybe I need to call ".Sho

[2019-07-23 21:28] tihuan commented on #474
Hey all! A coworker and I figured out a quick fix for this. PTAL!

https://github.com/wwayne/react-tooltip/pull/504 thank you!

[2019-07-24 13:55] mhlmhl commented on #503
Doing the .Show() from a componentDidUpdate method works.  Apparently there is an undocumented interaction between the React lifecycle and the .Show() method.

[2019-07-24 19:31] josh-stevens commented on #449
I had to do something similar and it's a bit hacky, but it works with Typescript and React Hooks for the ref:

`type TooltipRef = { tooltipRef: null } | null;`

and inside the tooltip:

`            <span
              css={{ cursor: 'pointer' }}
              onClick={() => {
                const current : TooltipRef = tooltip.current;
                current!.tooltipRef = null;

[2019-07-26 17:07] tonix-tuft opened #505 "Hide tooltip only when cursor is out of target component"
Hello,

by default `react-tooltip` hides as soon as the user scrolls.
Is there a way to hide the tooltip only as soon as the cursor is out of the target element and not as soon as the user scrolls?

GitHub tooltips seem to work this way, e.g.:

![Screen Shot 2019-07-26 at 19 03 45](https://user-images.githubusercontent.com/10134421/61968357-22041380-afd8-11e9-94cf-478431a9b70b.png)

If I scroll wh

[2019-07-29 16:23] capstonednc commented on #420
@oladhari Where did you call the customized handleContent function to pass an object to dataTip?

[2019-07-30 05:13] oladhari commented on #420
@capstonednc
in the react-tooltip getContent
[code]

[2019-07-30 17:55] capstonednc commented on #420
@oladhari got it. I was still getting a [object Object] response, until I parsed the dataTip in the function and stringified it in the getContent prop. Thanks for the help!

[2019-08-01 05:44] rahuls360 commented on #258
I happened to face an issue like this.
In my case, I was using Child Routes, so I was unable to use the <ReactTooltip /> component from the parent.

I created another <ReactTooltip /> inside my child route and it worked for me. (I was setting tooltip using data-tip attribute)

Just sharing it here, in case it helps someone.

[2019-08-04 21:22] hamed-farag commented on #418
am facing now this issue with IE11

[2019-08-07 14:47] gilnoiman commented on #497
same problem for me

[2019-08-08 07:24] tonix-tuft opened #506 "ReactTooltip getContent callback is called more than once for a ReactTooltip component with effect="solid""
After rendering the following component:

[code]

I see the following in the console:

[code]

At this point, the tooltip hasn't been shown yet.
From this point on, each time I hover the `span` element to trigger the tooltip, I can see in the console that `getContent()` is always called 3 times when the mouse hovers the element showing the tooltip and 2 times when the mouse leaves the element:

[c

[2019-08-08 10:00] michchan commented on #476
+1

[2019-08-11 18:16] tonix-tuft opened #507 "componentWillReceiveProps warning in React 16.9"
I just wanted to point out that I updated to `react@16.9.0` and `react-dom@16.9.0` and got the following warning in the console:

[code]
![Screen Shot 2019-08-11 at 20 15 13](https://user-images.githubusercontent.com/10134421/62837871-e1adc200-bc74-11e9-9bfa-bd641347bd82.png)

It seems that `componentWillReceiveProps` will not work in the next major version of React.

[2019-08-13 00:38] arsendev opened #508 "react tooltip did not match className err"
Hello, I'm working on [react-tooltip]. I'm using it with next.js because it with next.js. The behavior works fine, but [id not match className] error appears. Is there any way?

[2019-08-14 09:55] tonix-tuft commented on #358
You can also use this useful HOC which appends a React component to the `body` element:

https://github.com/jpgorman/react-append-to-body

[2019-08-15 07:34] gfx commented on #507
refs: https://github.com/wwayne/react-tooltip/pull/487

[2019-08-15 12:22] #455 closed

[2019-08-16 09:07] sgyyz commented on #496
due to the `data-event={click}`, it will not trigger your custom `onClick` method. But you can try `afterShow` to trigger your own code.

check it out: https://codesandbox.io/embed/cocky-proskuriakova-9du5i

[2019-08-17 04:17] mattpardee commented on #344
To put it in the right place my implementation has

[code]

...and originally I had `<ReactTooltip effect='solid' />` after the element that has the tooltip, but it had the double-placement issue referenced above. I have multiple `<ReactTooltip />` calls in my code (in this case elsewhere in a global navigation component). By removing this specific child-component-file's calling of `<ReactTooltip

[2019-08-20 03:58] rjhilgefort commented on #476
Having this issue as well

[2019-08-20 08:59] jhlee4 commented on #496
thank you. I used different library to temporarily fix this problem.but I'll definitely  try that out

[2019-08-22 18:50] PoojaSSW commented on #329
@srgraham : So I had the same issue and used your solution to convert jsx into string, however now when I render the tooltip, it comes with html tags. on hover I want to display:
`<div><div>Hellow</div><How are you></div></div>` , it renders with tag. how to avoid this?

[2019-08-26 08:13] almilo commented on #507
+1

[2019-08-27 01:22] icymoonicy commented on #484
Same as above, currently the tooltip only accept <br /> to start a newline, however it could introduce issues for user who uses smaller screen resolution.
I think maybe it's better to implement a "maxwidth" props so we can control the style easier.
Thanks.

[2019-08-27 11:11] Anshr commented on #497
same here

[2019-08-29 16:39] wwayne commented on #430
:tada: This issue has been resolved in version 3.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-30 07:43] rimsila commented on #295
`  <CopyToClipboard text={value} onCopy={this.onCopyData}>
                  <a
                    className={css["btn-circle-social"]}
                    onClick={() => {
                      ReactTooltip.show(this.fooRef);
                    }}

                    <img src={Icons.LinkIconBlack} alt="copy to clipbord" />
                  </a>
                </CopyToClipboard>

[2019-08-30 07:45] rimsila commented on #295
<copytoclipboard text="{value}" oncopy="{this.onCopyData}"><a classname="{css[&quot;btn-circle-social&quot;]}" onclick="{()" =="">{ ReactTooltip.show(this.fooRef); }} > ![copy to clipbord]({Icons.LinkIconBlack}) </a></copytoclipboard>

(this.fooRef = ref)} data-tip={copied ? "URL COPIED!" : "URL NOT COPYIED"} /> <reacttooltip aftershow="{()" =="">setTimeout(ReactTooltip.hide, 1200)} place="left" /

[2019-09-01 08:56] lestgabo commented on #496
@sgyyz I tried out your solution. It worked well! Thanks. and @jhlee4 thank you for the detailed question, I found it easy to search hahahha.

added this line into my <ReactTooltip
afterShow={() => this.handleItemClick(rowIndex, columnIndex)}

[2019-09-02 15:06] ljzq opened #509 "Prevent creating tooltip on other positions- show in only on top or other?"
I sat the top position. But if the browser window border is right above the tooltip eventable icon- the tooltip will appear below. how to prevent it and make tooltip be only on top?

[2019-09-02 17:44] aronhelser commented on #509
Yes, this is intentional so the tooltip content is always visible. You want the tooltip to stay on top and be cut off by the edge of the browser window?

[2019-09-02 22:25] ljzq commented on #509
@aronhelser for example - from left or right side i have some side bars, and i need the tooltip to appear over them- but t does not. The tooltip decides to appear on opposite side to the sidebar

[2019-09-03 03:30] ghost opened #510 "How to manage tooltip's position"
I use React Calendar heatmap library with React Tooltip and SrollView
When I hover mouse through this square, obviously it's correct.
<img width="494" alt="Screen Shot 2019-09-03 at 10 23 12" src="https://user-images.githubusercontent.com/37132564/64142185-1efd0e00-ce35-11e9-8eed-9d16c97929ad.png">
But when I scroll with horizontal scroll, the position of the tooltip is not correct with the image

[2019-09-03 12:25] jiskreq opened #511 "Can i render the tooltip on root container scope, not in the component where the tooltip eventable element located?"
I need the tooltip to be over  some neightbors divs (sidebars headers, or other components from other scope, that for some reasons has another z-index, fixed positions or something).
I there the way to force the tooltip component be appended to most parent html scope , so the tooltip will overlap other components?
And allow keep the tooltip event caller element in deep child components as usual.

[2019-09-06 12:36] semosem commented on #460
@actraiser can share your solution

[2019-09-06 15:54] #474 closed

[2019-09-06 15:57] wwayne commented on #474
:tada: This issue has been resolved in version 3.11.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v3.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-11 07:06] ThisIsRoy1 commented on #448
@aronhelser data-iscapture='true' worked great for me tnx

[2019-09-11 12:53] aronhelser commented on #448
Latest comment had success, so closing, thanks!

[2019-09-11 12:53] #448 closed

[2019-09-12 14:58] drzamich opened #512 "Wrong tooltip position in Firefox/Safari when assigned to element not wholly visible."
I was testing the tooltip assigned to a text cropped with ellipsis. On Chrome it is positioned nicely. On Firefox and Safari however, its position is calculated wrong. This when `effect="solid"` and `placement="top|bottom"`

**Correct position (Chrome)**
![image](https://user-images.githubusercontent.com/26330688/64795375-47e07a00-d57e-11e9-8a0d-50959834258c.png)

**Wrong position (Firefox, Safari

[2019-09-13 08:58] julianCast commented on #507
This should be closed, fixed on #487

[2019-09-13 12:58] #507 closed

[2019-09-15 05:52] essaji commented on #269
+1
We are also having the same issue. Any alternatives to this so far?

[2019-09-19 08:35] kdhallu commented on #418
I'm facing the same issue, Did anyone fix this ?

[2019-09-19 12:52] aronhelser commented on #418
Is this true on any of the examples from the example page? If so, can you
give exact steps to reproduce?
If anyone has suggestions about what might be wrong, please speak up!

On Thu, Sep 19, 2019 at 4:35 AM ketan dhallu <notifications@github.com>
wrote:

[2019-09-19 13:02] lopesc commented on #57
+1

[2019-09-20 06:30] kdhallu commented on #418
![image](https://user-images.githubusercontent.com/1831385/65304416-33176e00-db9e-11e9-8390-a9f5baba76fb.png)

This is reproducible in demo page the first icon on left

[2019-09-24 05:57] kidkkr commented on #453
This happens sometime in my case, maybe this is because of mechanism of this library?

[2019-09-24 05:58] bryantung opened #513 "overridePosition not providing currentEvent when initially showing tooltip"
As stated on the API, we should expect `overridePosition` to have `currentEvent` object as second param, but instead we get `currentTarget` and all the other following params has been shifted.

https://github.com/wwayne/react-tooltip/blob/11ee685da575058099ae394e4210da120f1a215f/src/index.js#L318

[2019-09-25 09:15] Junbong commented on #453
Probably happened by mechanism, I thinks so too.

[2019-09-25 19:44] mawburn commented on #499
Any updates on this? It seems like it extends into the library itself and setting the `clickable` option doesn't do anything.

[2019-09-26 19:44] necholasg commented on #485
In your example, you would need to use useEffect.

`const Panel = props => {
  useEffect(()=>{
        ReactTooltip.rebuild();
    }, [props]);

  return <div title="Tooltip">Hello, world!</div>;
}`

That will watch for prop changes and rebuild when necessary.

[2019-10-02 15:05] jorrit commented on #340
Personally, I would prefer to include the CSS file myself. It would be great if the CSS file would be added to the NPM package. On my site, the dynamic CSS file is sometimes inserted a little too late, displaying the popup text.

[2019-10-07 07:39] jatinwebsky opened #514 "tooltip position change bottom side"
module functionality not working i need to help.

tooltip position change bottom side this is not working.

how to resolve this solution.

[2019-10-10 07:45] yqbk commented on #489
I have the same issue. Any plans to fix it?

[2019-10-10 12:09] aronhelser commented on #489
Sounds like it might be a fairly easy fix - we would welcome a PR :)

On Thu, Oct 10, 2019 at 3:45 AM Jakub Syrek <notifications@github.com>
wrote:

[2019-10-11 07:07] kdhallu opened #515 "Tooltip not rendering properly on IE 11"
The issue is reproducible even on the demo page when we are on internet explorer

![image](https://user-images.githubusercontent.com/1831385/66630143-3348dd80-ec21-11e9-8279-82d977d54d8e.png)

[2019-10-11 07:29] AlexeySafronov commented on #510
Just use scrollHide prop.

[2019-10-11 15:56] gagandeepgill opened #516 "tooltip overridePosition arguments are inconsistent"
I'm trying to get the `offsetWidth` of the element to properly adjust the position of the tooltip depending on the length of the text. But the `overridePosition` call happens twice for `showTooltip` and `updatePosition`. Where it gives me the incorrect offsetWidth the second time.

https://github.com/wwayne/react-tooltip/blob/ccb8b58a6762f3393f7d71c157c64ae24a81674c/src/index.js#L313-L314

https:/

[2019-10-11 17:19] YuriScarbaci commented on #304
can't stress this more.

[2019-10-14 13:32] mazer-rakham opened #517 "Ternary renders prevent tooltip from opening."
` {auth.user && auth.user[0].privilege_level < 5 ? (
        <Menu.Item
          name="Pending Tickets"
          data-tip="Pending Data Ops"
          as={Link}
          to="/pending-data-ops"

          <Icon name="address card" />
        </Menu.Item>
      ) : null}`

The above code renders the menu item based on the user level. The Ternary wrapper stops the tooltip from rendering.
This can

[2019-10-15 23:17] liskoX commented on #517
Hello, you have to rebuild the tooltip component with ReactTooltip.rebuild() (i did this after setState)

I did and worked for me, i can't do your solution with my code because of the structure is a quit different. hope it will help you

[2019-10-16 14:08] mazer-rakham commented on #517
Awesome, I will try that out. Thank you!

[2019-10-17 08:12] Ensaphelon commented on #476
+1

[2019-10-19 14:07] viralwvmagic opened #518 "webkit-transform css creating issue"
Hello
After page load, i am resize window by webkit-transform method, and tooltip will not work proper. any one help me?

Thanks

[2019-10-25 10:02] dimitrisraptis96 commented on #517
It worked for me too. Adding it to the docs would have saved me a lot of time.

[2019-10-25 13:17] aronhelser commented on #517
Pull request welcome! Add it where you think it's helpful and I'll get it
in.

On Fri, Oct 25, 2019 at 6:03 AM Dimitris Raptis <notifications@github.com>
wrote:

[2019-10-25 13:22] dimitrisraptis96 commented on #517
Sure. Once I find some time, I'll open a PR

[2019-10-25 15:07] martinschayna commented on #485
Yep, now it works, I had to pass the second parameter with array of related props to `useEffect`. Thanks.

[2019-10-25 15:07] #485 closed

[2019-11-03 05:26] sburgoon opened #521 "doesn't handle situation where all placements are outside client correctly"
in getPosition, while populating the insideList, if none of the places are inside (such as if the triggering position is up against a screen corner), then it will default to the desired place. This logic breaks down if the desired placement isn't the "best" placement.

For example, if you trigger a tooltip in the top-left of the client with a desired placement of "top", if your tooltip has any hei

[2019-11-07 17:50] dpsutton opened #522 "allow defaults to be set"
Currently the defaults are just set in the constructor from literals. I was wondering if this might be moved into a value so that we can set these defaults once at app initialization and then our in-line usage is largely just `data-tip` without setting the effect to solid and place to left or right.

Regardless very much enjoy this and has made our life quite easier. thanks so mcuh

[2019-11-14 10:46] alexwileyy opened #523 "Tooltip rendering multiline when set to false"
I'm experiencing a weird issue with multi-line tooltips. I am using the (https://swiperjs.com/)[Swiper] library for React. On the first slide, the tooltips render correctly on one line:

![image](https://user-images.githubusercontent.com/17613774/68850286-a4b9f700-06cb-11ea-9f7c-743ce13a2bfa.png)

However, on the next slide, the tooltips render un multi-line:
![image](https://user-images.githubuse

[2019-11-19 03:16] protoEvangelion commented on #476
@wwayne or @aronhelser are there any workarounds you can provide until this can be fixed?

Looking to the future are there any plans in the pipeline for react tooltip to smartly choose the best location where it won't get cutoff?

Thanks 😄

[2019-11-19 16:10] aronhelser commented on #476
I am happy to accept any PRs that the community can provide! Wayne has moved on to other projects, and I am not actively working with React anymore. I am acting as a caretaker, more or less. I hope that one of the people experiencing this issue can work on it....

[2019-11-19 17:24] protoEvangelion commented on #476
I was able to get around it with `overridePosition: ({ left }) => ({ left, top: 50 })` 😄

[2019-11-19 20:22] protoEvangelion commented on #476
Or having it based dynamically off of the trigger node:

[code]

In this case, my tooltip is `place: 'right'` but is getting cut off at the top of the screen. This would place the top aligned with the trigger node so it is not cut off.

[2019-11-20 21:07] aviranmz commented on #418
any solution for this issue?

[2019-11-20 21:08] aviranmz commented on #515
any update/solution for this issue?

[2019-11-21 11:13] kdhallu commented on #515
Yes the issue is because of transform property which is causing the issue. Removing the transform property renders tooltip properly

[2019-11-21 12:00] aviranmz commented on #515
tested on 3.9.2 and its not working

[2019-11-24 12:45] aviranmz commented on #515
anyone?

[2019-11-26 01:35] lestgabo opened #524 "Is there a way to render the tooltips only on onClick or onMouseEnter?"
My app is using 1000 tooltips in 1 page and it slows down the page rendering all the tooltips at once.

[2019-11-28 03:50] jeffkillian commented on #231
I had an issue where it was not appearing on a dynamically generated react component. I solved it similarly to @jeanmichelcote: Just had to rebuild the tooltips on first mounting the component.
[code]

[2019-12-01 08:18] aviranmz commented on #515
trying last time ....

[2019-12-02 21:24] JannVazTor commented on #515
Any updates on this?

[2019-12-02 22:00] aronhelser commented on #515
@kdhallu is this because of a recent change? Is there a version that does work?

I am not working on react-tooltip, but I will gladly accept PRs that fix any issues you may have.

[2019-12-04 04:52] codenoobforreal commented on #456
the same!
maybe just add a wrapper to your react element or component will solve this problem
this one has eslint warning
[code]
this one is ok!
[code]

[2019-12-05 08:57] kdhallu commented on #515
The issue was because of transform property. In my project i removed the transform project and it started working properly

[2019-12-05 08:58] kdhallu commented on #515
Probably because of transform property it is not able to get the correct position

[2019-12-05 14:02] aronhelser commented on #515
OK, so if someone wants to look at the tooltip reacting correctly to an
element with a transform, that would be helpful! Please post if you have
ideas how to solve this.

On Thu, Dec 5, 2019 at 3:58 AM ketan dhallu <notifications@github.com>
wrote:

[2019-12-10 16:22] zackypick commented on #313
.__react_component_tooltip {
  transition: all 0.3s ease-in-out !important;
  opacity: 0 !important;
  visibility: visible;
}

.__react_component_tooltip.show {
  visibility: visible;
  opacity: 1 !important;
}

[2019-12-16 22:55] aviranmz commented on #515
What do you mean remove ? can you please share

[2019-12-17 06:57] andrewoh531 opened #525 "Transform transitions"
I'm trying to add a `transition: transform` to `react-tooltip` but getting weird behaviour. I am wondering if this transition is compatible with `react-tooltip` or whether it conflicts with the position calculation.

The behaviour I'm getting is the tooltip will show in the correct position, and then somewhere completely off from the target element it's meant to show next to. It will alternative b

[2020-01-04 12:43] kukchanka opened #527 "Bug: Maximum update depth exceeded"
I believe there is an issue with `getPosition` fucntion which is used to update tooltip position when it's outside the client widnow.

There are situations with floating tooltip (e.g. when we move cursor to the bottom of the page) when it cannot be displayed, so it tries to calculate a new `desiredPlace` and rerenders the component, but after rerendering `getPosition` finds out, that a previously

[2020-01-04 13:29] kukchanka commented on #527
Created a pull-request fixing this issue: https://github.com/wwayne/react-tooltip/pull/528

[2020-01-04 14:52] wwayne opened #529 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-01-04 14:53] #529 closed

[2020-01-07 06:22] vaibhavsah opened #531 "HOC Component : Cannot read property 'getBoundingClientRect' of null"
I am rendering a text field, **Email** as an Higher Order Component (HOC) in a redux-form. It has the React Tooltip attached with it for showing errors. The weird thing is that there are 2 forms with this **Email** field. In one form, there are other text fields too. In other form, there is only one **Email** field. Now, the issue is as soon as I click inside this email field, I get a console erro

[2020-01-10 01:52] chrisjpatty opened #532 "v3.11.2 breaks older implementations"
I don't exactly know what's going wrong here, but I had my package.json setup to lock `react-tooltip` to `^3.3.0`, and our latest yarn builds brought in version 3.11.2, and our long-standing implementation of `react-tooltip` has broken now for unexplained reasons. I've recorded a short video to show the problem:

[http://i.imgur.com/kODN7AI.mp4](url)

I'm afraid I don't have a ton of details about

[2020-01-10 01:57] chrisjpatty commented on #532
With further testing it looks like it's actually been a problem since at least after 3.3.0. Reverting to exactly 3.3.0 fixes the problem. With it being that old perhaps it's as much of an issue, but I figured I'd let you know anyway.

[2020-01-10 10:24] willsmanley commented on #130
@itsmichaeldiego Just wrap the modal in a fragment like this:
[code]
It is a lot easier than trying to manually override the positioning of the tooltip, plus it doesn't add another layer to your DOM structure.

[2020-01-11 00:52] mjeffrie opened #533 "Event listeners are not freed"
Event listeners are [created](https://github.com/wwayne/react-tooltip/blob/d1d009cdd597a754a3d929a4ab4c20fb0777a7b3/src/index.js#L511) and sometimes [not removed](https://github.com/wwayne/react-tooltip/blob/d1d009cdd597a754a3d929a4ab4c20fb0777a7b3/src/index.js#L515). This leads to memory leaks.

This happens when `isCaptureMode` is true, since [`removeEventListener`](https://developer.mozilla.org

[2020-01-13 18:27] hipopotamas commented on #404
Hey! I am having this same issue. When hovering over an option element the .__react_component_tooltip element associated doesn't seem to add the .show class.

I tried coding all the data- tags on each option element, as well as just storing the data-tip and data-for in each and the rest on the corresponding ReactTooltip element; also tried to use different ReactTooltip elements for different optio

[2020-01-13 18:42] aronhelser commented on #404
So if the select element is not open, the option elements don't exist in
the DOM yet, so react-tooltip won't know about them, I think.
You could try to do a `ReactTooltip.rebuild()` when the options are shown,
so the tooltip can traverse them.

On Mon, Jan 13, 2020 at 1:27 PM Hipopotamas Mc Cacahuete <
notifications@github.com> wrote:

[2020-01-14 16:03] nikroomancer commented on #353
I can confirm that in IE11 some of the examples on the react tooltip example site do not work. In particular those who have a parent with a css transform.

[2020-01-14 17:59] beeeku commented on #453
Any Updates on this? I am using react-tooltip with react-window but getting above mentioned error.

[2020-01-15 13:07] hipopotamas commented on #404
Thanks! It won't work with option elements since they do not seem to ever exist on the dom (or at least Shift + Ctrl + C won't show anything in the code when hovering over them), but avoiding the option tags by creating a custom select element that triggers ReactTooltip.rebuild() on opening did the trick :)

[2020-01-15 17:57] idc-developer opened #535 "in bodyMode search parents of current target for tooltips"
Switching to bodyMode left our tooltips non functional, since in svg e.g. a textbox often is composed of a <g><rect/><text/></g>, but the tooltip should popup everywhere inside the g, e.g.
`<g data-tip="my tip"><rect/><text/></g>`
But body mode will currently search the data-tip in rect if you click on the box with no text or <text> if you click on text.

bodyListener should search from e.target t

[2020-01-15 18:23] idc-developer opened #537 "for new developers there should be an easy and well documented way to build the system"
I have spent quite some time on windows trying to build the system until I found unix make is needed and node/make will not work. For node-sass you need python etc...

Installation should be much easier and only depend on npm and make.

[2020-01-20 01:50] simonhessner opened #538 "ReferenceError: require is not defined"
Hi,

I installed react and react-tooltip via npm. On the top of my javascript file I include react-tooltip like this:

[code]

This gives me the error

How can I resolve this? I am very new to react, so I probably missed something obvious

[2020-01-20 17:16] simonhessner commented on #538
I found the solution. My create-react-app script was outdated, that is why I could not run "npm start" and thus, the imports / requires did not work. So what I did was update node, npm and create-react-script. It works now!

[2020-01-20 17:16] #538 closed

[2020-01-21 04:20] xblxldev commented on #515
Hi does anyone know what "removing transform" means? @kdhallu can you provide some code that would be good thank you!

[2020-01-23 21:27] coutureJ opened #539 "ReactTooltip.rebuild(); does not work if you use multiple event"
Hi,

In my current use case, I need to rebuild the tooltip when I resize the window.

Unfortunatly, I ran into an issue, it seems to be caused by the fact that we dont **forEach** each **dataEvent** inside the customUnbindListener method, so using the same patern as in customBindListener should fix the issue.

ex:
```JavaScript dataEvent.split(' ').forEach(function (event) {});```

What do you thi

[2020-01-30 10:55] mnedev opened #540 "Incorrect positioning when no place is specified"
If I don't specify any place for an element, then desiredPlace defaults to "top":
`let desiredPlace = e.currentTarget.getAttribute('data-place') || this.props.place || 'top'`

Then getPosition is called like this
`let result = getPosition(e, e.currentTarget, this.tooltipRef, desiredPlace, desiredPlace, effect, offset)`
with function being defined as
`export default function (e, target, node, place

[2020-01-31 05:58] Babyshalini1995 commented on #212
@conor909  Did you find any solution for this issue?

[2020-01-31 11:06] conor909 commented on #212
sorry @Babyshalini1995, I don't even remember what project this was for

[2020-01-31 17:27] josh-stevens opened #541 "Newest release broke clickable tooltips"
I can't be too specific at the moment as I'm super busy trying to push a release of our project, but we had tooltips that had interactivity this morning and after the latest release of this library, they stopped working. We pinned to 3.11.2 for now

[2020-02-03 21:23] tylerthegrove opened #543 "3.11.3 breaks CommonJS require"
We use this in an older component that still uses syntax var ReactTooltip = require("react-tooltip"); 3.11.3 broke this component for all of our library users.

Looks like the module.exports was changed to export default though the comment above says "/* export default not fit for standalone, it will exports {default:...} */"

https://github.com/wwayne/react-tooltip/commit/08289a8de72598f0c1e5ef8c

[2020-02-03 21:32] tylerthegrove commented on #543
In my opinion this change should not have been made in a patch version.

[2020-02-04 18:53] tonix-tuft opened #544 "react-tooltip@3.11.4 requires a peer of react@>=^16.0.0"
Hi,

after running `npm update` I get the following warning:

[code]

Though, I have both `react` and `react-dom` at version 16 in my `package.json`:

[code]

`package-lock.json`:

[code]

Do you know how to suppress this warning? Thank you!

[2020-02-05 00:56] Rogger794 commented on #543
Hi @tylerthegrove, the change was thought to replace the standalone with the new version using rollup by using export default for name your variable reference as you want.

[2020-02-05 01:05] Rogger794 commented on #537
Now, we are using rollup for build process.

[2020-02-05 01:46] Rogger794 commented on #541
Hi @josh-stevens, seems that styles were not updated. I´m rebuilding styles for fixing it.

[2020-02-05 02:30] Rogger794 commented on #144
It supports already data-tip='custom show' options. I would close this issue.

[2020-02-05 02:30] #144 closed

[2020-02-05 02:35] Rogger794 commented on #338
place="top" effect="solid" should be work. I will close this issue.

[2020-02-05 02:35] #338 closed

[2020-02-05 02:39] Rogger794 commented on #489
Hi @yqbk, would you try the new version and let me know if the issue continue.

[2020-02-05 10:29] yqbk commented on #489
@Rogger794, unfortunately, the problem still exists (version `3.11.5`).

[code]

Warning:
[code]

[2020-02-05 14:48] tylerthegrove commented on #543
@Rogger794 A breaking change like that should probably wait for a major version, but **never** be part of a patch version.

We automatically pull patch versions with the expectation that they only contain bug fixes and are backwards compatible. This broke for all projects using our shared library. I'd suggest adding `{modules: true}` to the .babelrc and waiting for 4.0.0 for a breaking change.

[2020-02-05 14:53] partynikko commented on #544
No need to suppress, it just lets you know that you need to have these installed regardless if you have them or not.

[2020-02-05 18:16] tonix-tuft commented on #544
[code]

Thank you for your reply. I didn't know that, I thought that NPM warns you only if you don't have the needed peers installed.
Is this documented somewhere? In my case, I have both `react` and `react-dom` at version 16, I don't get why I keep seeing this warning. I also use other libraries which require `react` as a peer and do not experience the warning with them, that's why I am asking.

[2020-02-05 22:30] partynikko commented on #544
I'm no expert at this just referring to my own experiences so I haven't read it somewhere (so perhaps don't take my words about it for granted, haha).

Could it be that this library is being installed before your dependencies and that is why npm is crying about it? Which are the other libraries you use that have peer dependencies as well?

Perhaps we could solve this mystery together, I'm also int

[2020-02-06 01:27] Rogger794 commented on #489
I updated the form it pass the styles, could you try the new release 3.11.6 and tell me if it works.

[2020-02-06 01:45] Rogger794 commented on #532
Hi @chrisjpatty, I would close this issue since should be for old releases. Should be great if you could try the new ones. If you have any issue let us know.

[2020-02-06 01:45] #532 closed

[2020-02-06 01:52] Rogger794 commented on #330
Hi @ImanMh, I will close this issue since already we are using state into the component.

[2020-02-06 01:52] #330 closed

[2020-02-06 01:54] #469 closed

[2020-02-06 01:56] Rogger794 commented on #434
Hi @trusktr, could you try the new release 3.11.6 and let me know if it works.

[2020-02-06 01:58] dmozzoni commented on #544
I think the issue might be that in the package.json it says:
[code]
but the ">=^"  isn't a valid semver constraint (as far as I can tell). Probably want either ">=" or "^", but not both. Try it in an online semver checker or using the semver package directly.

[code]

[2020-02-06 02:06] Rogger794 commented on #467
Hi @dmc1985, any progress in your PR?

[2020-02-06 02:24] Rogger794 commented on #537
@idc-developer I would close this issue, since rollup build works fine in windows. Let us know if you try the new release.

[2020-02-06 02:24] #537 closed

[2020-02-06 02:26] Rogger794 commented on #508
Hi @arsendev, can you try the new release and let us know if it continue.

[2020-02-06 02:27] Rogger794 commented on #518
Hi @viralwvmagic, could you try the new realease and let me know if it continue.

[2020-02-06 02:30] Rogger794 commented on #499
Hi @chulanovskyi, already fixed in the new release, let me know if it works for you.

[2020-02-06 02:31] #492 closed

[2020-02-06 02:35] Rogger794 commented on #488
Already replace those methods. I will close this issue.

[2020-02-06 02:35] #488 closed

[2020-02-06 02:38] Rogger794 commented on #415
Hi @dariolongo, It already changed the way importing styles into it. You should try the new releases. I would close this issue.

[2020-02-06 02:38] #415 closed

[2020-02-06 02:39] #499 closed

[2020-02-06 04:55] Rogger794 commented on #543
@tylerthegrove, would you make a PR with the changes that fit your issue? Later I will upgrade the release to 4.0.0 with the original new configuration. Seems that after the merge for the rollup build, versioning automatically upgrade as a patch version for the semantic release package.

[2020-02-06 05:27] gersongams commented on #543
@tylerthegrove maybe this [link](https://stackoverflow.com/questions/40294870/module-exports-vs-export-default-in-node-js-and-es6) can help you .

[2020-02-06 13:14] dineshit8 opened #547 "React Tooltip Positions wrong"
Hi,

I have implemented react tooltip in my react project. When I am hovering the dom the tooltip left and top positions calculations are irrespective of the target dom. It positions somewhere in the bottom of the page which is not visible on the screen,(say, the left position is something like 1400px and the top position is like 1200px).

Someone please help me to resolve this issue.

My code:

[

[2020-02-06 15:53] josh-stevens commented on #541
This appears to be working again in 3.11.6, thank you very much

[2020-02-06 15:53] #541 closed

[2020-02-06 16:20] KemikalGeneral opened #548 "ToolTip renders wrong data"
Hi,

I've looked through the documentation, but unfortunately the links for the examples are broken so I can't view them.

I'm using this tooptip to render a user's quick contact details from mapping an array of all users, but it's only rendering the details of the last user when clicked - or rather, every user's details are that of the last user.

I'm imagining this has something to do with ids (

[2020-02-06 19:14] dmc1985 commented on #467
Thanks for following up on this and my apologies for the delay. I still would like to do a PR to update the doc with the code snippet, and my goal is to do it over the weekend.

[2020-02-06 20:02] eli-crow opened #549 "Example Site Link is Broken"
Example site link is broken. Thanks for this library!

[2020-02-06 20:53] aronhelser commented on #549
@Rogger794 the easiest thing may be to use github pages, which would point to http://wwayne.github.io/react-tooltip/ I believe, but it doesn't seem to be set up.
@wwayne I think we need to turn it on in `settings`, can you do that or give one of us access?

[2020-02-06 20:54] aronhelser commented on #549
We already have a gh-pages branch, which contains something :smile:

[2020-02-07 00:24] Rogger794 commented on #549
@aronhelser I would add a codesandbox link for that, maybe that could be a good option.

[2020-02-07 01:26] Rogger794 commented on #549
@eli-crow please, check the demo part https://www.npmjs.com/package/react-tooltip

[2020-02-07 01:28] Rogger794 commented on #548
@KemikalGeneral please, check the demo part https://www.npmjs.com/package/react-tooltip

[2020-02-07 01:43] Rogger794 commented on #340
Already change the style imported.

[2020-02-07 01:43] #340 closed

[2020-02-07 01:46] #385 closed

[2020-02-07 01:52] wwayne commented on #549
Hi @aronhelser , the demo page is being hosted by Netlify, and Netlify is using the `dist` folder of the branch `gh-pages` to set up the demo website.

But since the updates in 2020.1.31, the `dist` folder has been deleted which broke the demo site, do you know how we get back the `dist` folder? Thanks.

You can refer the commit history of the branch gh-pages [here](https://github.com/wwayne/react

[2020-02-07 18:42] aronhelser commented on #549
yes, so the gh-pages is being updated automatically by CI - on every commit to master (merge commits) the travis commands run, and push the newest changes to gh-pages. @Rogger794 's changes to the build system mean the demo site is not built the same way, so the travis commands need to be updated. Rogger, can you take a look at it? The contents of the 'public' folder in gh-pages is not a complete

[2020-02-08 09:27] tonix-tuft commented on #544
@dmozzoni So you think this warning is related to the `package.json` of this lib?

[2020-02-08 13:30] Rogger794 commented on #549
@aronhelser I would check it.

[2020-02-08 16:31] dmozzoni commented on #544
Yes, I think it's the invalid peerDependencies constraint defined in the react-tooltip package.json file.

To verify this I just created a new folder then did:
`npm init`
`npm install --save react react-dom react-tooltip`
Got the warning.
`npm install`
Still got the warning, then went to the node_modules/react-tooltip/package.json and removed the caret "^" from the peerDependencies and saved it. T

[2020-02-08 23:01] partynikko commented on #544
Ah nice find. Sorry for my earlier statement. However I still think that the warning itself doesn't matter for you as it shouldn't affect anything.

[2020-02-09 13:06] dmc1985 commented on #467
@Rogger794 @aronhelser When I enter the command `make dev` per the instructions in `contributing.md` I receive the following error: `make: *** No rule to make target `dev'.  Stop.` When I try to launch the server using `yarn start`, I cannot find the correct port to access the development server. What do you recommend I do?

[2020-02-09 15:42] Rogger794 commented on #467
Hi @dmc1985, could you please bring the last changes from master, I already update the contributing readme.

[2020-02-09 17:17] Rogger794 commented on #544
Hi @tonix-tuft, the new release fixed that issue, you can try it.

[2020-02-09 21:27] #350 closed

[2020-02-09 21:29] wwayne commented on #350
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tooltip)
- [GitHub release](https://github.com/wwayne/react-tooltip/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-09 21:34] #232 closed

[2020-02-09 21:40] Rogger794 commented on #515
Already fixed in the last release https://wwayne.github.io/react-tooltip/

[2020-02-09 21:40] #515 closed

[2020-02-09 21:43] #213 closed

[2020-02-09 21:45] Rogger794 commented on #297
Can someone check if the error already exist?

[2020-02-09 23:53] Rogger794 commented on #549
@eli-crow, there is a link for Github page in the readme now, should be working.

[2020-02-10 03:30] tylerthegrove commented on #543
Thanks @gersongams but I know what the issue is. My point is just that there shouldn't be breaking changes like this in patch versions.

Likely we will move away from this package to prevent breaks in the future.

[2020-02-10 08:55] tonix-tuft commented on #544
Thank you guys! No warning now. Closing this issue

[2020-02-10 08:55] #544 closed

[2020-02-10 10:00] yqbk commented on #489
@Rogger794 It fixes the problem! Thank you! :)

[2020-02-10 12:35] #489 closed

[2020-02-11 11:23] BjoernRave opened #554 "avoid using window for SSR"
When using this lib with next.js I get the following error:

[code]

The problem exists, because on the server side window is undefined

[2020-02-11 13:44] isabellachen commented on #351
It's exported as default.. `import ReactTooltip from 'react-tooltip'`

[2020-02-11 21:41] kallaugher commented on #540
I'm seeing similar behavior even with a place specified. I have place specified as `bottom`, and the tooltip is always placed in the bottom position, even if that means it is off-screen.

The position is set correctly in version 3.11.1 (thanks for the tip @mnedev!)

[2020-02-12 21:33] jpcmf commented on #401
Same issue here. I can't load the tool tip inside map().

[2020-02-12 21:38] FlorianWendelborn commented on #352
@aronhelser I can confirm that your suggested fix fixes this issue. I think this ticket can therefore be closed.

Appeared for me when migrating from `create-react-app-typescript` to `create-react-app`.

[2020-02-12 22:30] aronhelser commented on #352
Thanks for confirming!

[2020-02-12 22:30] #352 closed

[2020-02-13 07:36] DalerAkhmetov commented on #498
Hi. I have also this error in Edge 18.17763

[2020-02-13 14:33] aronhelser commented on #498
Can you submit a fix?

[2020-02-14 08:19] artdevgame commented on #540
@aronhelser I think this could be contributing to the problem somehow:
https://github.com/wwayne/react-tooltip/pull/526

[2020-02-14 08:53] lestgabo commented on #524
I see thumbs up on my question so I will post my simple solution.

[code]
[code]
The tooltip will `NOT` render until it is first hovered. Of course you can make `hoverTooltip: true` into `hoverTooltip: !this.state.hoverTooltip` then add `onMouseLeave={this.handleHoverTooltipOn}` to destroy your tooltip after hovering. But in my case I just dont want all the tooltips to load at once. Only when hove